{% extends 'profiles/custom/webny/themes/custom/webny_theme/templates/content/webny--card-base.html.twig' %}

{# setting title variable so it can be used 2x #}
{% if(node.field_webny_page_short_title.value is not empty and node.field_webny_page_short_title.value is not null) %}
    {% set vtitle = node.field_webny_page_short_title.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}

{% block card_image %}
    {% if (content.field_webny_page_image["#items"] is not empty) %}
        <div class="card-image">
            {{ content.field_webny_page_image }}
        </div>
    {% endif %}
{% endblock card_image %}

{% block card_title %}
    {{ vtitle | webny_trim_card_title }}
{% endblock card_title %}

{% block card_title_url %}
	<a href="{{ url }}" rel="bookmark">
{% endblock card_title_url %}

{% block card_content %}
    {{ content|without('field_webny_page_image','field_webny_page_short_title','node.label') }}
{% endblock card_content %}
