{% extends 'profiles/custom/webny/themes/custom/webny_theme/templates/content/webny--card-base.html.twig' %}

{%  if(node.field_webny_whitelist_stitle.value is not empty and node.field_webny_whitelist_stitle.value is not null) %}
    {% set vtitle = node.field_webny_whitelist_stitle.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}

{% block card_image %}
    {% if (content.field_webny_whitelist_image["#items"] is not empty) %}
        <div class="card-image">
            {{ content.field_webny_whitelist_image }} 
        </div>
    {% else %}
        <div class="fallback-image">
            {% include '@webny_theme/includes/OpenBrowserArrow.svg.twig' %}
        </div>
    {% endif %}
{% endblock card_image %}

{% block card_title %}
    {{ vtitle | webny_trim_card_title }}
{% endblock card_title %}

{% block card_title_url %}
	<a target="_blank" href="{{ url }}" rel="bookmark">
{% endblock card_title_url %}

{% block card_content %}
    {{ content|without('field_webny_whitelist_agency_key','field_webny_whitelist_global_key', 'field_webny_agency_keywords','field_webny_global_keywords','field_webny_whitelist_link_url','field_webny_whitelist_image', 'field_webny_whitelist_date', 'field_webny_whitelist_stitle','node.label') }}
{% endblock card_content %}
