{#
/**
* @file
* Default theme implementation to display a paragraph.
* Implemented paragraph--webny-phone-contact.html.twig
*/
#}

<div class="para-phone-field">
  <span class="phone-label">{{ paragraph.field_webny_para_phone_label.value }}</span>&nbsp;&nbsp;<a href="tel:{{ paragraph.field_webny_para_phone_number.value }}" class="phone-number">{{ paragraph.field_webny_para_phone_number.value }}</a>
</div>