//styles for the administration agency

//overwrite stuff

$color-primary: #b74215; // dark orange
$color-secondary: #cf7954; // med orange
$color-tertiary: #f3d3c1; // light orange
$color-accent-primary: #F4A71C; // orange gold
$color-accent-secondary: #F3DD6D; // lemon yellow
$color-hover-nav: mix( $color-primary, #000, 50% );
// config.scss contains accent, link text, and monochrome colors


//import base style
@import "../../styles";
