// Use "icon-" class to render icons
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-family: 'icomoon';
  }
}

// Map icon names to font unicode characters
$icons: (
        document:"\e615",
        fa-document:"\f0f6",
        download:"\e622",
        fa-download:"\f019",
        email:"\e617",
        fa-email:"\f0e0",
        facebook:"\e621",
        fa-facebook:"\f09a",
        twitter:"\e604",
        fa-twiiter:"\f099",
        youtube:"\e637",
        fa-youtube:"\f16a",
        instagram:"\e60f",
        fa-instagram:"\f16d",
        google_plus:"\e627",
        fa-google_plus:"\f0d5",
        soundcloud:"\e63d",
        fa-soundcloud:"\f1be",
        square:"\e63b",
        vine:"\e602",
        fa-vine:"\f1ca",
        flickr:"\e620",
        fa-flickr:"\f16e",
        rss:"\e61a",
        fa-rss:"\f09e",
        pinterest:"\e60a",
        fa-pinterest:"\f231",
        tumblr:"\e634",
        fa-tumblr:"\f173",
        linkedin:"\e62a",
        vimeo:"\e636",
        phone:"\e62d",
        fa-phone:"\f10b",
        checkmark: "\e60e",
        fa-checkmark: "\f00c",
        filter-add:"\e618",
        fa-filter-add:"\f055",
        filter-selected:"\e61f",
        fa-filter-selected:"\f058",
        filter-subtract:"\e623",
);