// Tables
//
// Markup: table.hbs
//
// Style guide: base.table



// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */


// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {

}

// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {
  table {
    width: 100%;
    th {
      font-weight: 600;
      text-align: left;
      background-color: $color-mono-dark;
      padding: 4px 5px;
      color: #FFFFFF;
      font-size: 14px;
    }
    td {
      border: 0;
      outline: none;
      padding: 4px 5px;
      font-size: 14px;
    }
    thead {
      border: 1px solid #d3d3d3;
      border-bottom: 0;
    }
    tbody {
      border: 1px solid #d3d3d3;
    }
    tbody tr:nth-child(even) {
      background-color: $color-mono-lt;
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
    }
    p {
      font-size: 14px;
    }
  }
  .dataTable thead .sorting, .dataTable thead .sorting_asc, .dataTable thead .sorting_desc  {
    background-image: url("/profiles/custom/webny/themes/custom/webny_theme/images/sort_both.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 15px;
    .st0 {
      fill: $color-primary;
      stroke: $color-primary;
    }
  }
  .dataTable thead .sorting {
    background-image: url("/profiles/custom/webny/themes/custom/webny_theme/images/sort_both.svg");
  }
  .dataTable thead .sorting_asc {
    background-image: url("/profiles/custom/webny/themes/custom/webny_theme/images/sort_asc.svg");
  }
  .dataTable thead .sorting_desc {
    background-image: url("/profiles/custom/webny/themes/custom/webny_theme/images/sort_desc.svg");
  }
  //.dataTable thead .sorting_asc_disabled {
   // background-image: url("../images/sort_asc_disabled.png");
    //}
    //.dataTable thead .sorting_desc_disabled {
     // background-image: url("../images/sort_desc_disabled.png");
    //}
  .dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid $color-mono-mid;
    background-color: $color-mono-lt;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: $color-mono-lt;

  }
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
  .dataTables_filter {
    label, input {
      display:inline-block !important;
    }
    label {
      font-size: 14px; 
      margin-right:10px;
      float:left;
    }
    input {
      width: 75% !important;
      height: 1.625rem !important;
      margin-left: 5%;
    }
  }
}