// Tables
//
// Markup: table.hbs
//
// Style guide: base.table

// ######################################################################### //
/* Mobile responsive styles */
@media (max-width: $min-tab) {
  table {
    width: 100% !important; //responsive
    td {
      display: block; //responsive
      text-align: left;
    }
     //td:before styles are for responsive table
    td:before { 
      content: attr(data-th); 
      display: inline-block;
      text-align: left;  
      width: 6rem;
      font-weight: bold;
    }
    thead {
      display: none; //responsive
    }
    //use to make top row of each section dark with white text
    /*tr td:first-child {
      background: $color-mono-dark; 
      font-weight: bold; //only if top row 
      color: #FFFFFF;
    }*/
  }
}

// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */

table {
    th {
      font-weight: 600;
      text-align: left;
      padding: 4px 5px;
      color: #FFFFFF;
      font-size: 14px;
      background-color: $color-mono-dark;
      border: 1px solid #d3d3d3;
      border-bottom: 0;
    }
    td {
      border: 0;
      outline: none;
      padding: 4px 5px;
      font-size: 14px;
    }
    thead {
      border: 1px solid #d3d3d3;
      border-bottom: 0;
      background-color: $color-mono-dark;
    }
    tbody {
      border: 1px solid #d3d3d3;
    }
    tbody tr:nth-child(even) {
      background-color: $color-mono-lt;
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
    }
    p {
      font-size: 14px;
    }
  }
  .dataTable thead .sorting {
    background: url("/profiles/custom/webny/libraries/datatables/media/images/sort_both.png") no-repeat right;
    cursor: pointer;
    padding: 0 2.5%;
  }
  .dataTable thead .sorting_asc {
    background: url("/profiles/custom/webny/libraries/datatables/media/images/sort_asc.png") no-repeat right;
    cursor: pointer;
  }
  .dataTable thead .sorting_desc {
    background: url("/profiles/custom/webny/libraries/datatables/media/images/sort_desc.png") no-repeat right;
    cursor: pointer;
  }
  //.dataTable thead .sorting_asc_disabled {
   // background-image: url("../images/sort_asc_disabled.png");
    //}
    //.dataTable thead .sorting_desc_disabled {
     // background-image: url("../images/sort_desc_disabled.png");
    //}
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    width:100%;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid $color-mono-mid;
    background-color: $color-mono-lt;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: $color-mono-lt;

  }
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
  .dataTables_filter {
    label, input {
      display: inline-block !important;
    }
    label {
      font-size: 14px; 
      width: 100%;
    }
    input {
      width: 80% !important;
      height: 1.625rem !important;
      padding: 0 !important;
      margin-left: 3% !important;
    }
  }

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {
  table {
    width: 100% !important; //responsive
  }
  .dataTables_filter {
    width: 50% !important;
  }
}

// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {
  table {
    width: auto; //leave as user inputed width
  }
  .dataTables_filter {
    width: 30% !important;
  }
}