// Tables
//
// Markup: table.hbs
//
// Style guide: base.table

// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */


// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {

}

// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {
  table {
    width: 100%;
    th {
      font-weight: 600;
      text-align: left;
      background-color: $color-mono-dark;
      padding: 4px 5px;
    }
    td {
      border: 0;
      outline: none;
      padding: 4px 5px;
      font-size: 14px;
    }
    thead {
      border: 1px solid #d3d3d3;
      border-bottom: 0;
    }
    tbody {
      border: 1px solid #d3d3d3;
    }
    tbody tr:nth-child(even) {
      background-color: $color-mono-lt;
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
    }
    p {
      font-size: 14px;
    }

  }
}