// Tables
//
// Markup: table.hbs
//
// Style guide: base.table



// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */


// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {

}

// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {
  table {
    width: 100%;
    th {
      font-weight: 600;
      text-align: left;
      background-color: $color-mono-dark;
      padding: 4px 5px;
      color: #FFFFFF;
    }
    td {
      border: 0;
      outline: none;
      padding: 4px 5px;
      font-size: 14px;
    }
    thead {
      border: 1px solid #d3d3d3;
      border-bottom: 0;
    }
    tbody {
      border: 1px solid #d3d3d3;
    }
    tbody tr:nth-child(even) {
      background-color: $color-mono-lt;
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
    }
    p {
      font-size: 14px;
    }
    .dataTable thead .sorting {
      background-image: url("/profiles/custom/webny/themes/custom/webny_theme/images/sort_both.svg");
      .st0 {
        fill: $color-primary;
      }
    }
    .dataTable thead .sorting_asc {
      background-image: url("/profiles/custom/webny/themes/custom/webny_theme/images/sort_asc.svg");
      .st0 {
        fill: $color-primary;
      }
    }
    .dataTable thead .sorting_desc {
      background-image: url("/profiles/custom/webny/themes/custom/webny_theme/images/sort_desc.svg");
      .st0 {
        fill: $color-primary;
      }
    }
    //.dataTable thead .sorting_asc_disabled {
     // background-image: url("../images/sort_asc_disabled.png");
    //}
    //.dataTable thead .sorting_desc_disabled {
     // background-image: url("../images/sort_desc_disabled.png");
    //}
    .dataTables_filter {
      label, input {
        display:inline-block;
        float:left;
      }
      label {
        font-size: 14px;
      }
    }
  }
}