@font-face {
    font-family: "Proxima Nova";
    font-weight: normal;
    font-style:  normal;
    src: url("../fonts/proximanova/proximanova-regular.eot");
    src: url("../fonts/proximanova/proximanova-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/proximanova/proximanova-regular.woff2") format("woff2"),
         url("../fonts/proximanova/proximanova-regular.woff") format("woff"),
         url("../fonts/proximanova/proximanova-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 600;
    font-style:  normal;
    src: url("../fonts/proximanova/proximanova-semibold.eot");
    src: url("../fonts/proximanova/proximanova-semibold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/proximanova/proximanova-semibold.woff2") format("woff2"),
         url("../fonts/proximanova/proximanova-semibold.woff") format("woff"),
         url("../fonts/proximanova/proximanova-semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: bold;
    font-style:  normal;
    src: url("../fonts/proximanova/proximanova-bold.eot");
    src: url("../fonts/proximanova/proximanova-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/proximanova/proximanova-bold.woff2") format("woff2"),
         url("../fonts/proximanova/proximanova-bold.woff") format("woff"),
         url("../fonts/proximanova/proximanova-bold.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 800;
    font-style:  normal;
    src: url("../fonts/proximanova/proximanova-extrabold.eot");
    src: url("../fonts/proximanova/proximanova-extrabold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/proximanova/proximanova-extrabold.woff2") format("woff2"),
         url("../fonts/proximanova/proximanova-extrabold.woff") format("woff"),
         url("../fonts/proximanova/proximanova-extrabold.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: normal;
    font-style:  italic;
    src: url("../fonts/proximanova/proximanova-italic.eot");
    src: url("../fonts/proximanova/proximanova-italic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/proximanova/proximanova-italic.woff2") format("woff2"),
         url("../fonts/proximanova/proximanova-italic.woff") format("woff"),
         url("../fonts/proximanova/proximanova-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: bold;
    font-style:  italic;
    src: url("../fonts/proximanova/proximanova-bolditalic.eot");
    src: url("../fonts/proximanova/proximanova-bolditalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/proximanova/proximanova-bolditalic.woff2") format("woff2"),
         url("../fonts/proximanova/proximanova-bolditalic.woff") format("woff"),
         url("../fonts/proximanova/proximanova-bolditalic.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 200;
    font-style:  normal;
    src: url("../fonts/proximanova/proximanova-light.eot");
    src: url("../fonts/proximanova/proximanova-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/proximanova/proximanova-light.woff2") format("woff2"),
         url("../fonts/proximanova/proximanova-light.woff") format("woff"),
         url("../fonts/proximanova/proximanova-light.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 200;
    font-style:  italic;
    src: url("../fonts/proximanova/proximanova-lightitalic.eot");
    src: url("../fonts/proximanova/proximanova-lightitalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/proximanova/proximanova-lightitalic.woff2") format("woff2"),
         url("../fonts/proximanova/proximanova-lightitalic.woff") format("woff"),
         url("../fonts/proximanova/proximanova-lightitalic.ttf") format("truetype");
}

@font-face {
    font-family: "D Sari Bold";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/dsaribold/DSari_Bold-webfont.eot');
    src: url('../fonts/dsaribold/DSari_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dsaribold/DSari_Bold-webfont.woff2') format('woff2'),
         url('../fonts/dsaribold/DSari_Bold-webfont.woff') format('woff'),
         url('../fonts/dsaribold/DSari_Bold-webfont.ttf') format('truetype');
}

// Oswald Light
@font-face {
  font-family: "Oswald";
  src: url('../fonts/oswald/oswald-light-webfont.eot');
  src: url('../fonts/oswald/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oswald/oswald-light-webfont.woff') format('woff'),
       url('../fonts/oswald/oswald-light-webfont.ttf') format('truetype'),
       url('../fonts/oswald/oswald-light-webfont.svg#oswaldlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Oswald Bold
@font-face {
  font-family: "Oswald";
  src: url('../fonts/oswald/oswald-bold-webfont.eot');
  src: url('../fonts/oswald/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oswald/oswald-bold-webfont.woff') format('woff'),
       url('../fonts/oswald/oswald-bold-webfont.ttf') format('truetype'),
       url('../fonts/oswald/oswald-bold-webfont.svg#oswaldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Oswald Regular
@font-face {
  font-family: "Oswald";
  src: url('../fonts/oswald/oswald-regular-webfont.eot');
  src: url('../fonts/oswald/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oswald/oswald-regular-webfont.woff') format('woff'),
       url('../fonts/oswald/oswald-regular-webfont.ttf') format('truetype'),
       url('../fonts/oswald/oswald-regular-webfont.svg#oswaldbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Icomoon - Icon Font
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot');
  src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.woff') format('woff'),
      url('../fonts/icomoon/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
// Use "icon-" class to render icons
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-family: 'icomoon';
  }
}

// Map icon names to font unicode characters
$icons: (
        document:"\e615",
        download:"\e622",
        facebook:"\e621",
        twitter:"\e604",
        youtube:"\e637",
        instagram:"\e60f",
        google_plus:"\e627",
        soundcloud:"\e63d",
        square:"\e63b",
        vine:"\e602",
        flickr:"\e620",
        rss:"\e61a",
        pinterest:"\e60a",
        tumblr:"\e634",
        linkedin:"\e62a",
        vimeo:"\e636",
        phone:"\e62d",
);
