<p class="demo-proxmia">Proxima Nova Regular font, also available as bold, extra bold, italic and light. Mainly body copy, bold and extra bold as headings.</p>

<p class="demo-agency-name">D Sari Bold font. Only used on agency names in header as an H1.</p>

<p class="demo-oswald">Oswald Regular font, also available as light and bold. To be used in accent copy such as a subtitle, a list or a piece of information that needs to be called out." (per the NYS Branding Overview, Guidelines and Architecture.</p>


