
<div class="front">
 <header class="hero-layout" style="height: 200px; ">
 <div class="hero-inner hero-landing-inner" style="width: 100%;">
            <!-- HEADLINE LABEL -->
            <h2 style="color:black;">Landing Page Hero: Governor Cuomo - 48px</h2>
  </div>

  </header>
  <div style="clear:both;"></div>
<div class="social-media-frame">
  <div class="smframe-inner">
    <h3>
      <span class="frame-title">
        Social Media Title front page - 16px
      </span>
      <span class="frame-headline">
        Social Media Headline front page - 40px
      </span>
    </h3>
  </div>
</div>
</div>

<header class="hero-layout" style="height: 150px; color: black;">
 <div class="hero-inner hero-landing-inner" style="width: 100%;">
            <!-- HEADLINE LABEL -->
            <h2 style="color:black;">Landing Page Hero: Governor Cuomo</h2>
            </div>
            </header>
            <div style="clear:both;"></div>
<div class="social-media-frame">
  <div class="smframe-inner">
    <h3>
      <span class="frame-title">
        Social Media Title inner landing page - 16px
      </span>
      <span class="frame-headline">
        Social Media Headline inner landing page - 32x
      </span>
    </h3>
  </div>
</div>

<div class="landing-title-area" style="background-color: white;padding-left: 0;margin-left: 0;"> 
  <div class="landing-title"> 
    <h1 style="color: black;">Inner page title - 52px</h1>
  </div>
</div>

<div class="hero-layout"> 
	<h1 style="color: black">inner page Hero title - 48px</h1>
</div>

<hr>

<p>Proposed headings<p>
<div style="line-height: 1.25em;">
<h1 style="font-size: 48px">Heading 1 - 48px</h1>
<h2 style="font-size: 42px">Heading 2 - 42px</h2>
<h3 style="font-size: 36px">Heading 3 - 36px</h3>
<h4 style="font-size: 30px">Heading 4 - 30px</h4>
<h5 style="font-size: 24px;padding: 0;margin:0;">Heading 5 - 24px</h5>
<h6 style="font-size: 18px;padding: 0;margin:0;">Heading 6 - 18px</h6>
</div>
<p>default font size of 18px</p>
<div  class="webny-announcements"><div class="announcement-info"><p>default frame size of 16px - except for Summary frame and two button descriptor</p> 
</div>
</div>

