//styles for the administration agency

//overwrite stuff

$color-primary: #63666a; // gray
$color-secondary: #ffd100; // gold
$color-tertiary: #2a2a2a; // dk gray
$color-accent-primary: #6787B7; // blue
$color-accent-secondary: #F3DD6D; //yellow

// color variables which need to be overridden from the base assignment per component
$nav-top-hover-bkgd-color: $color-accent-primary;

$title-bar-bkgd-color: $color-secondary;
$title-bar-default-text-color: $color-primary;
$title-bar-sub-title-color: $color-primary;

$summary-frame-bkgd-color: $color-accent-primary;
$summary-frame-title-color: $color-secondary;
$summary-frame-headline-color: black;
$summary-frame-keypt-border: rgba(white, .2);

//import base style
@import "../../styles";