//styles for the administration agency

//overwrite stuff

$color-primary: #63666a; // gray
$color-secondary: #ffd100; // gold
$color-tertiary: #2a2a2a; // dk gray
$color-accent-primary: #6787B7; // blue
$color-accent-secondary: #F3DD6D; //yellow

//import base style
@import "../../styles";