//styles for the recreation and environment grouping

//overwrite stuff

$color-primary: #233e2a;
$color-secondary: #d9e1dd;
$color-hover-nav: mix( $color-primary, #000, 50% );

//import base style
@import "../../styles";