[alias]
#Update your local and replay your commits on upstream HEAD
  pl = pull --rebase

#Undo your last commit
  undo-commit = reset --soft HEAD~1

#Status
  s = status

#View a pretty formatted git log
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

#View a pretty extended format git log
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

#View the diff of the last commit
  dlc = diff --cached HEAD^

#Find a file path in codebase
  f = "!git ls-files | grep -i"

#List your available git config aliases
  la = "!git config -l | grep alias | cut -c 7-"

#Resolve merge conflict with file in the current working branch
  ours = "!f() { git co --ours $@ && git add $@; }; f"

#Resolve merge conflict with file in the upstream repo
  theirs = "!f() { git co --theirs $@ && git add $@; }; f"