<!--
Need to pass webny_global_nav_header_format, webny_global_nav_agency_name, $header_menu_name
-->

<div id="webny-global-header" class="webny-global-header {{ headerformat }}">
    <div class="nav-toggle">
        <a href="#" role="button" id="webny-menu-control">Navigation menu</a>
    </div>
    <h1><a href="/">{{ agencyname|raw }}</a></h1>
    {{ renderMenu(headermenu) }}
</div>
