{#
Uses parent vars:
nav_toggle (boolean)
toc_content_sections (paragraph field)
#}

{% if nav_toggle %}
  {# NAV ENABLED: PARAGRAPHS SECTION WITH SIDEBAR FOR NAVIGATOR / TOC#}
  <div class="page-paragraphs gp-paragraphs with-nav-sidebar">
    <div class="page-paragraphs-in">
      <aside id="toc-sidebar">
        <header>Sections</header>
        <ul>
          <li class="see-all"><a href="#" class="icon-all_steps"><span>See All</span></a></li>
        </ul>
        <span class="arrow"></span>
      </aside>
      <div class="article-content">
        <div class="toc-chapters">
          {{ toc_content_sections }}
        </div>
      </div>
    </div>
  </div>

{% else %}

  {# NAV DISABLED: GENERIC PARAGRAPHS SECTION FOR USE WITHOUT NAV FUNCTIONALITY #}
  <div class="page-paragraphs gp-paragraphs">
    <div class="page-paragraphs-in">
      {{ toc_content_sections }}
    </div>
  </div>

{% endif %}