# Note that the example .travis.yml file for child projects lives in /install.
sudo: false
language: php

php:
  - 5.5

cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"
  - "$HOME/.npm"
  - "$HOME/.nvm"
  - "vendor"
  - "docroot/profiles/custom/webny/themes/custom/webny_theme/node_modules"
  - "docroot/profiles/custom/webny/themes/custom/webny_theme/bower_components"

addons:
  ssh_known_hosts:
  - svn-15689.prod.hosting.acquia.com
  - svn-43.enterprise-g1.hosting.acquia.com

notifications:
  # Replace this with project slack token.
  slack: webnydistro:iSJ8dsk7Ym139SMpL470llno

before_install:
  - phpenv config-rm xdebug.ini
  - composer selfupdate
  - git config --global user.name "Travis-CI"
  - git config --global user.email "noreply@travis-ci.org"
  - mysql -e 'CREATE DATABASE drupal;'

install:
  # Load composer dependencies.
  - composer install --prefer-source
  - export PATH=$PATH:$TRAVIS_BUILD_DIR/vendor/bin
  # Install proper version of node for front end tasks.
  - nvm install 0.12
  - npm install -g gulp

before_script:
  - cd $TRAVIS_BUILD_DIR/docroot
  - drush runserver --default-server=127.0.0.1:8888 &>/dev/null &
  - php -S 127.0.0.1:8888 &
  - cd ..
  - phantomjs --webdriver=4444 > /dev/null &
  # Clear drush release history cache, to pick up new releases.
  - rm -f ~/.drush/cache/download/*---updates.drupal.org-release-history-*

script:
  - ./blt.sh -Dbehat.run-server=true -Dcreate_alias=false -Dbehat.launch-phantom=true build:validate:test

after_success:
  # Watch for successful build job on `master` branch; deploy to `master-build`.
  - scripts/deploy/travis-deploy.sh master master-build
  # Watch for successful build job on `develop` branch; deploy to `develop-build`.
  - scripts/deploy/travis-deploy.sh develop develop-build
  # Watch for successful build job on `acsf-master` branch; deploy to `acsf-master-build`.
  - scripts/deploy/travis-deploy.sh acsf-master acsf-master-build
  # Watch for successful build job on `acsf-develop` branch; deploy to `acsf-develop-build`.
  - scripts/deploy/travis-deploy.sh acsf-develop acsf-develop-build
