//styles for the local and regional authorities grouping

//overwrite stuff

$color-primary: #402217;
$color-secondary: #ded8d3;
$color-hover-nav: mix( $color-primary, #000, 50% );

//import base style
@import "../../styles";