//styles for the local and regional authorities grouping

//overwrite stuff

$color-primary: #402217; // dark brown
$color-secondary: #8f7d75; // med brown
$color-tertiary: #ded8d3; // light grayish brown
$color-accent-primary: #F4A71C; // orange gold
$color-accent-secondary: #F3DD6D; // lemon yellow
$color-hover-nav: mix( $color-primary, #000, 50% );
// config.scss contains accent, link text, and monochrome colors

//import base style
@import "../../styles";