// colors vars ///////////////
// NY.Gov global palette per NY.Gov Web Site Style Guide
$primaryblue: #24387E; // primary NY.Gov blue
$medblue: #128EC3; // primary color
$ltblueaccent: #92DBE4; // accent color
$medblueaccent: #0386BE; // accent color
$dkblueaccent: #1B2A5E; // accent color
$textblue: #0F739D; // blue text links color
$primarygold: #D5820D; // primary color
$primarygold-75: #E0A14A; //This is the hex translation of $primarygold at 75% opacity
$primarygold-50: #EAC086; //This is the hex translation of $primarygold at 50% opacity
$primarygold-25: #F4E0CR; //This is the hex translation of $primarygold at 25% opacity
$secondarygold: #DC9719; // secondary accent
$border-dk: #000;
$border-lt: #fff;
$border-med: rgb(228, 228, 228);

//colors here - to be removed ///////////////
$blueish: #dae8ef;
$darkblueish: #226e8e; // used primaryblue, except for a, a:link color - used textblue
$lightblueish: #f3f9fc;
$greyish: #efefef;
$yellowish: yellow;
$lightgray: #ddd;
$midgray: #ccc;
$darkgray: #999;

// fonts ///////////////
$base-font: "Proxima Nova", Arial, sans-serif;
$base-font-bold: "Proxima Nova Bold", "Arial bold", sans-serif;
$base-font-extra-bold: "Proxima Nova Extra Bold", "Arial bold", sans-serif;
$agency-name-font: "D Sari Bold", Arial, sans-serif; // used in header and footer
$oswald-reg: "Oswald Regular", Arial, sans-serif;
$oswald-lt: "Oswald Light", Arial, sans-serif;
$oswald-bold: "Oswald-bold", Arial, sans-serif;

$base-font-size: 18px;
$base-line-height: 27px;
$base-font-color: #000;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: 'em' !default;

// font with WebNY_theme original - remove? ///////////////
$opensans: 'Open Sans', sans-serif;

// susy configs ///////////////
$susy: (
  columns: 12, // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

// breakpoint ///////////////
$min-tablet: 768px;

// example mixins /////////////// 
@mixin opac-color($r, $g, $b, $pertc) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $pertc);
}
