@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

/**
  Normalize reset
*/
@import "reset";

/**
  Config file that contains centralized variables
*/
@import "config";

// Base
//
// These are the default base styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Style guide: base
@import "base/base";
@import "base/form";

// Form
//
// These are the default form styles applied to HTML elements.
//
// Style guide: form
@import "base/form";

// Layout
//
// These are the layout rules.
//
// Style guide: layout
@import "layout/containers";
@import "layout/sidebars";


// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// Style guide: components
@import "components/*";


// States
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
@import "state/*";
