// Form HTML
//
// Markup: form_html.hbs
//
// Style guide: form.common

// base Form elements ////////////////////////////////////////


/* form {
  margin: 15px auto;
  padding: 0 20px;
  max-width: 800px;
} */

.form-layout-content {
  margin: 60px auto;
  padding: 0 20px;
  max-width: 800px;
}

.contact-form h2,
form h2 {
  padding : 0 20px;
  max-width: 800px;
  font-weight: 800;
}

label {
  margin: 2% 0 0 0;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 800;
  font-size: 90%;
  margin-bottom: 14px;
}

label[class~=form-required]:after {
color: #text-blue;
content: ' *';
display: inline;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid $midgray;
//  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
//  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 90%;
  margin: 0 0 3%;
  padding: 1rem;
  height: 3.25rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  overflow:	hidden;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
//  -webkit-box-shadow: 0 0 5px $darkgray;
//  -moz-box-shadow: 0 0 5px $darkgray;
//  box-shadow: 0 0 5px $darkgray;
  border-color: $text-blue;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  background: #fff;
  border-color: $text-blue;
  outline: none;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
textarea[disabled] {
  background-color: $lightgray;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1%;
  
}

select {
  border: 1px solid $midgray;
  padding: 1em;
  height: 3.5em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-clip: padding-box;
  background: url('/profiles/custom/webny/themes/custom/webny_theme/images/arrow-down-orange.png') no-repeat 97% center transparent;
}

/*
select::-ms-expand {
    display: none;
  }
  */

select:focus {
	border: 1px solid $text-blue;
}

input[type="file"] {
  width: 100%;
}

fieldset {
  border: solid 1px $lightgray;
  padding: 1.25em;
  margin: 1.125em 0;
}

fieldset legend {
  font-weight: bold;
  background: #fff;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em;
}

// Error conditions ////////////////////////////
.error
.error textarea,
.error select {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

.error input:focus,
.error textarea:focus,
.error select:focus {
  background: #fafafa;
  border-color: $darkgray;
}

.error label,
.error label.error {
  color: #c60f13;
}

.error > small,
.error small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: #c60f13;
  color: #fff;
}

.error span.error-message {
  display: block;
}

input.error,
textarea.error {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

input.error:focus,
textarea.error:focus {
  background: #fafafa;
  border-color: $darkgray;
}

.error select {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1);
}

.error select:focus {
  background: #fafafa;
  border-color: $darkgray;
}

label.error {
  color: #c60f13;
}

///////////////////////////////////////////////////////////////

// Form HTML5
//
// Markup: form_html5.hbs
//
// Style guide: form.html5

input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid $midgray;
//  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
//  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 90%;
  margin: 0 0 3%;
  padding: 1rem;
  height: 3.25rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
	-webkit-appearance: none;
	-moz-appearance: none;
//  -webkit-box-shadow: 0 0 5px $darkgray;
//  -moz-box-shadow: 0 0 5px $darkgray;
//  box-shadow: 0 0 5px $darkgray;
  border-color: $text-blue;
}

input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border-color: $text-blue;
  outline: none;
}

input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled] {
  background-color: $lightgray;
}




////////////////////////////////////////////////////////////

/* IE Fix - This displays the default select box arrrow in IE */


@media screen\0 {
  
  select {
    background: none;
  }
}

