<h3>NY.Gov Global Palette</h3>
 <div class="swatch swatch-primaryblue"><p>#24387E</p></div>
 <div class="swatch swatch-medblue"><p>#128EC3</p></div>
 <div class="swatch swatch-ltblueaccent"><p>#92DBE4</p></div>
 <div class="swatch swatch-medblueaccent"><p>#0386BE</p></div>
 <div class="swatch swatch-dkblueaccent"><p>#1B2A5E</p></div>
 <div class="swatch swatch-primarygold"><p>#D5820D</p></div>
 <div class="swatch swatch-secondarygold"><p>#DC9719</p></div>
 <div class="swatch swatch-text-blue"><p>#0F739D</p></div>
