//styles for the business grouping

//overwrite stuff

$color-primary: #09464c;
$color-secondary: #e5eeee;
$color-hover-nav: mix( $color-primary, #000, 50% );

//import base style
@import "../../styles";