{# Mimic paragraph formatting for use in toc listing #}
<div>
  <section id="toc_00" rel="enabled" class="toc-para webny_wysiwyg_pgtype gp_enabled">
    <h2 name="event-details">Event details</h2>
    <div {{ attributes.addClass('wysiwyg--field-webny-wysiwyg-body') }}>{{ items.0.content }}</div>
    <div class="next-section" style="display: none;">
      <div class="next-section-links">
        <p>Next Section</p>
        <p class="icon-thin_down_arrow next-section-link">Continue</p>
      </div>
      <span class="next-section-title"></span>
    </div>
  </section>
</div>