// Announcement Highlight 
//
// Announcment Highlight styling. This is derived from a Paragraph Type and is displays referenced entity via News, Landing, and Inner page content. 
// 
// For more information please see the story source: https://itswebny.atlassian.net/browse/NDD-314 
//
// Style guide: components.announcement

// News
//
// This is an example of the News Annoucement Highlight paragraph type
//
// Markup: announcement-news.hbs
//
// Style guide: components.announcement.news

// Landing Page
//
// This is an example of the Landing Page Annoucement Highlight paragraph type
//
// Markup: announcement-landing.hbs
//
// Style guide: components.announcement.landing

// Inner Page
//
// This is an example of the Inner Page Annoucement Highlight paragraph type
//
// Markup: announcement-inner.hbs
//
// Style guide: components.announcement.inner

// color variables

$announce-frame-title-color: $color-secondary !default;
$announce-frame-headline-color: $black !default;
$announce-frame-item-bkgd-color: !default;
$announce-frame-item-title-color: !default;
$announce-frame-item-text-color: !default;
$announce-frame-button: !default;

// ************************* //
// ANNOUNCEMENTS PARTIAL
// CREATED BY WEBNY
// ************************* //

// ========================================================================= //
/* ANNOUNCEMENTS WRAPPER */
.webny-announcements{
    
    background-color: #eee;
    margin-bottom: 20px;
    overflow: auto;
    
    .webny-announce-wrap{
        width: 94%;
        margin: 3%;
        .webny-announce-wrap-in{
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    
    .announcement-date{
        margin-bottom: 20px; 
        font-weight: bold;
    }
    
    .announcement-info,
    .webny-announcement-button{
        display: block;
        vertical-align: middle;
        color: $black;   
        width: 99%;
        
    }
    
    .announcement-info{
        h4{
            color: $black;   
            font-size: 2.5rem;
        }
    }
    
    .webny-announcement-button{
        margin: 7% auto;
        text-align: center;
        
        a {
         background-color: transparent;
         border: 1px solid $black;
         padding: 12px 0;
         display: block;
         max-width: 240px;
         color: $black; 
         margin: 0 auto;
       }    
    }

} // END BASE ANNOUNCEMENT STYLES 


// ANNOUNCEMENT FIELDS TITLE AND HEADLINES
.webny-frametitle, .webny-headline{
    margin: 0 auto;
    width: 100%;
    max-width: $max-pc;
    h3{ 
        margin-top: 0;
        padding-bottom: 0;
    }
}

.frame-title{
    text-transform: uppercase;
    color: $announce-frame-title-color;
    margin-bottom: 0;
    font: $frame_title $oswald;
    font-weight: bold;
    margin-top: 60px;
    letter-spacing: 4px;
    text-align: center;
}

.frame-headline{
    color: $announce-frame-headline-color;   
    font: bold $frame_headline $base-font;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;
}

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {


} // END MIN TABLET VIEW


// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {
   
    
// ========================================================================= //
/* ANNOUNCEMENTS WRAPPER */    
.webny-announcements{
    
    .announcement-info,
    .webny-announcement-button{
        display: inline-block;   
    }
    
    .announcement-info{
        width: 60%;
    }
    
    .webny-announcement-button{
        width: 39%;  
    }
     
}
    
} // END MIN PC VIEW