// Announcement Highlight 
//
// Announcment Highlight styling. This is derived from a Paragraph Type and is displays referenced entity via News, Landing, and Inner page content. 
// 
// For more information please see the story source: https://itswebny.atlassian.net/browse/NDD-314 
//
// Style guide: components.announcement

// News
//
// This is an example of the News Annoucement Highlight paragraph type
//
// Markup: announcement-news.hbs
//
// Style guide: components.announcement.news

// Landing Page
//
// This is an example of the Landing Page Annoucement Highlight paragraph type
//
// Markup: announcement-landing.hbs
//
// Style guide: components.announcement.landing

// Inner Page
//
// This is an example of the Inner Page Annoucement Highlight paragraph type
//
// Markup: announcement-inner.hbs
//
// Style guide: components.announcement.inner

// color variables
$announce-frame-title-color: $color-secondary !default;
$announce-frame-headline-color: $black !default;
$announce-frame-item-bkgd-color: $gray-lite !default;
$announce-frame-item-title-color: $black !default;
$announce-frame-item-text-color: $black !default;
// $announce-frame-button: !default;




// ************************* //
// ANNOUNCEMENTS PARTIAL
// CREATED BY WEBNY
// ************************* //

// PARAGRAPH
.announcement-wrap{
    //padding: $frame-padding-sm 0;
}

// ========================================================================= //
/* ANNOUNCEMENTS WRAPPER */
.webny-announcements{
    
    background-color: $announce-frame-item-bkgd-color;
    margin-bottom: 20px;
    overflow: auto;
    
    .webny-announce-wrap{
        width: 94%;
        margin: 3%;
        .webny-announce-wrap-in{
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    
    .announcement-date{
        margin-bottom: 20px; 
        font-weight: bold;
    }
    
    .announcement-info,
    .webny-announcement-button{
        display: block;
        vertical-align: middle;
        color: $black;   
        width: 99%;
        
    }
    
    .announcement-info{

        font-size: $frame-base-font-size;
        line-height: $frame-base-line-height;

        h4{
            color: $announce-frame-item-title-color;   
            font-size: 2.5rem;
        }
    }

    .announcement-summary {
        color: $announce-frame-item-text-color;
    }
    
    .webny-announcement-button{
        margin: 7% auto;
        text-align: center;

        a {
            // BUTTON DYNAMIC REQUIREMENTS
            border: $frame-button-border-size solid $announcement-button-border-color;
            color: $announcement-button-text-color;
            background-color: $announcement-button-back-color;
            &:hover {
                background-color: $announcement-button-hover-back-color;
            }
        }

        // BUTTON CALLS
        @include frame-button-base();


    }

} // END BASE ANNOUNCEMENT STYLES 


// ANNOUNCEMENT FIELDS TITLE AND HEADLINES
.webny-frametitle, .webny-headline{
    margin: 0 auto;
    width: 100%;
    max-width: $max-pc;
    h3{ 
        margin-top: 0;
        padding-bottom: 0;
    }
}

.frame-title{
    text-transform: uppercase;
    color: $announce-frame-title-color;
    margin-bottom: 0;
    font: $frame_title; //$oswald;
    //font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.frame-headline{
    color: $announce-frame-headline-color;   
    //font: bold $frame_headline $frame-headline; //font needs to end with font-family
    //font-weight: 800;
    font: $frame-headline;
    margin-bottom: 40px;
    text-align: center;
}

// HANDLES LANDING PAGE HOME VS. SECONDARY HEADLINES
.front .frame-headline{
     //font-size: 3rem;
     font: $frame-headline-front;
 }

//.frame-headline{
    //font-size: 2rem;
   // font-size: $frame-headline;
//}

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {


} // END MIN TABLET VIEW


// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {
   
    
// ========================================================================= //
/* ANNOUNCEMENTS WRAPPER */    
.webny-announcements{
    
    .announcement-info,
    .webny-announcement-button{
        display: inline-block;   
    }
    
    .announcement-info{
        width: 60%;
    }
    
    .webny-announcement-button{
        width: 39%;  
    }
     
}
    
} // END MIN PC VIEW