// Document Attachments
//
// Document Attachment styling.
//
// Markup: attachments.hbs
//
// Style guide: components.attachments


// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */



.press-docs{
    width: 80%;
    max-width: 780px;   
    margin: 0 auto;
}

.doc-set {
  width: 85%;
  margin: 0 auto;
}

.doc-set-title {
  font-family: $base-font;
  font-weight: 800;
  font-size: 2em;
  color: $primaryblue;
  padding-bottom: 0;
}

.doc-set-subtitle {
  font-family: $base-font;
  font-size: 1.5rem;
  color: $color-mono-black;
  padding-bottom: 1rem;
}

.doc-list {
  margin: -1px 0px 0px 0px;
  padding-left: 0;
}

.document-wrapper 
{
  position: relative;
  display: block;
  margin: 0 auto;
  list-style-type: none;
  border: 1px solid $gray-lite;
}

.icon-document {
  display: none;
  width: 10%;
}

.icon-download{
    color: $primarygold;
    display: inline-block;
   padding: 20px 20px 15px 20px;
}

.doc-info {
  display: inline-block;
  width: 90%;
  min-height: 70px;
  padding: 15px 20px 15px;
}

.doc-title {
  display: block;
  font-size: 1.0em;
  color: $medblue;
}

.doc-title a {
  font-family: $base-font;
  font-size: 1.0em;
  font-weight: 600;
  color: $medblue;
  text-decoration: none;
  &:link{
	color: $medblue;
	}
  &:visited{
	color: $medblue;
	}
  &:hover{
	color: $medblue;
	}
}

.doc-language {
  display: block;
  font-family: $base-font;
  font-size: $base-font-size;
  font-style: italic;
}

.doc-description {
  display: block;
  font-family: $base-font;
  font-size: 0.875em;
}

.download {
  display: block;
  width: 100%;
  background-color: lighten($gray-lite, 8);
  margin-top: 10px;
}

.download a {
  font-family: $base-font;
  font-size: 0.75rem;
  font-weight: 800;
  color: $color-mono-black;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  display: inline-block;
  height: 60px;
  text-align: center;
  &:link{
	color: $color-mono-black;
	}
  &:visited{
	color: $color-mono-black;
	}
  &:hover{
	color: $color-mono-black;
	}	
}
// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {
  
  .document-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  list-style-type: none;
  border: 1px solid $gray-lite;
  padding: 0;
}
  
  .doc-info {
  display: inline-block;
  width: 59%;
  padding: 20px 20px 5px 20px;
}
  
  .download {
  position: absolute;
  top: 0;
//  bottom: 0;
  right: 0;
  display: flex;
  padding-top: 0%;
  padding-bottom: 0%;
  height: 100%;
  width: 22%;
  background-color: lighten($gray-lite, 8); 
  margin: 0;
  border-left: 1px solid $gray-lite;
  justify-content: center;
  flex-direction: column;
  text-align: center;
    & > a{
    margin: 0 auto;
    text-align: center;
    }
}
  
.download a:visited{
 color: $color-mono-black;
}
  
  .icon-download{
    color: $primarygold;
    display: block;
}
  
 
 
}
// END MIN TABLET VIEW
// ######################################################################### //


/* PC VIEW */
@media (min-width: $min-pc) {


.press-docs{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
    
.doc-set {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

.icon-document {
  display: inline-block;
  color: $medblue;
  padding: 5px 20px 20px 20px;
  text-align: center;
  vertical-align: top;
  position: absolute;
  left: -20%;
}
  
.doc-info {
  display: inline-block;
  width: 59%;
  position: relative;  
  border-left: 1px solid $gray-lite;
  left: 15%;
  
}
  
.download {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  padding-top: 0%;
  padding-bottom: 0%;
  height: 100%;
  background-color: lighten($gray-lite, 8);
  margin: 0;
  border-left: 1px solid $gray-lite;
  text-align: center;
    & > a{
      margin: 0;
    }
  }
  
 .download a:visited{
 color: $color-mono-black;
} 
}