// Bio Frame
//
// Bio Frame styling.
//
// Markup: bioframe.hbs
//
// Style guide: components.bioframe

// color variables
$bio-frame-bkgnd-color: $color-secondary !default; 
$bio-frame-title-color: $black !default;
$bio-frame-headline-color: $white !default;
// $bio-frame-text-color:

// Margin Vars
$bioframe-margin: 15px;

// ************************* //
// BIOFRAME PARTIAL
// CREATED BY WEBNY
// ************************* //

// ========================================================================= // 
// PRELIM OVERRIDES
.page-paragraphs img{
    border: 0;   
    vertical-align: bottom;
}

.layout-container img {
    //max-width: 400px;   this is bleeding into other components, if needed *rework*
}

// ========================================================================= //
/* BIOFRAME WRAPPER */
.bioframe{
    width: 100%;
    margin: 0 auto;
    background-color: $bio-frame-bkgnd-color;                          // ADD TO COLOR SCHEME VARS
    
    .webny_contact-bioframe{
        
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative; 
       
                
        .bio-frame-image{
             text-align: center;
            
            .media-image > div{
                display: block;   
                line-height: normal;
            }
            
            img {
          
                line-height: 0;
                max-height: 400px;
                max-width: 400px;
                margin: 0 auto;
            }
        } // END BIO IMAGE
        
        .bio-frame-meta{
            vertical-align: top;
            padding: 2% 4%;
            
            .frame-title{
                text-align: left;
                color: $bio-frame-title-color; 
                //margin-bottom: $bioframe-margin; // need to evaluate this when changing these to headings
                margin-top: 80px;
                font: $frame-title;
            }   
            
            .frame-headline{
                text-align: left;
                color: $bio-frame-headline-color;                          // ADD TO COLOR SCHEME VARS
                margin-bottom: $bioframe-margin;
                line-height: 1.25em;//3rem;
                //font-size: 3.3rem;
                font: $frame-headline;
            } //see below for font on a home page
            
            .caption{
                margin-top: 20px;
                margin-bottom: $bioframe-margin;
                font-size: $frame-base-font-size;
                line-height: $frame-base-line-height;
            }
            
            .reslink{
                
                margin: 36px 0;
                text-align: center;

                a {
                    // BUTTON DYNAMIC REQUIREMENTS
                    border: $frame-button-border-size solid $bio-button-border-color;
                    color: $bio-button-text-color;
                    background-color: $bio-button-back-color;
                    &:hover {
                        background-color: $bio-button-hover-back-color;
                    }
                }

                // BUTTON CALLS
                @include frame-button-base();

            }
                        
        } // END BIO META
        
        

    } // END CONTACT BIOFRAME
    
    
    
    
} // END BIOFRAME

.front .bioframe .webny_contact-bioframe .frame-headline {
  font: $frame-headline-front;
}

// ######################################################################### //
/* MOBILE VIEW */
@media (min-width: $min-mob) {
    
} // END MIN MOBILE VIEW

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {

} // END MIN TABLET VIEW


// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {

.bioframe{    
    
     .webny_contact-bioframe{
        display: block;
        max-width: $max-pc;
        overflow: auto;
        position: relative; 
         
        .bio-frame-image,
        .bio-frame-meta{
            display: block;
           
        }

        .bio-frame-image{
                bottom: 0;
                float: left;
                left: 0;
                top: 0;
                width: 33%;
                position: absolute;

            img {
          
                line-height: 0;
                position: absolute;
                right: 0;
                bottom: 0;
                max-height: 400px;
                vertical-align: bottom;
            }
        }

        .bio-frame-meta{
            width: 60%;   
            padding: 0 2% 0 3%;
            float: right;
            min-height: 350px;
            
            
            .frame-headline{
                //line-height: 2.5rem;
            }
            
            .reslink{
                
                text-align: left;

            }
        }
    
          
            

    } // END CONTACT BIOFRAME     

} // END BIO FRAME    
    
} // END PC
