// Bio Frame
//
// Bio Frame styling.
//
// Markup: bioframe.hbs
//
// Style guide: components.bioframe

// color variables
$bio-frame-bkgnd-color: $color-secondary !default; 
$bio-frame-title-color: $black !default;
$bio-frame-headline-color: $white !default;
// $bio-frame-text-color:

// Margin Vars
$bioframe-margin: 15px;

// ************************* //
// BIOFRAME PARTIAL
// CREATED BY WEBNY
// ************************* //

// ========================================================================= // 
// PRELIM OVERRIDES
.page-paragraphs img{
    border: 0;   
    vertical-align: bottom;
}

.layout-container img {
    max-width: 400px;   
}

// ========================================================================= //
/* BIOFRAME WRAPPER */
.bioframe{
    width: 100%;
    margin: 0 auto;
    background-color: $bio-frame-bkgnd-color;                          // ADD TO COLOR SCHEME VARS
    
    .webny_contact-bioframe{
        
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative; 
       
                
        .bio-frame-image{
             text-align: center;
            
            .media-image > div{
                display: block;   
                line-height: normal;
            }
            
            img {
          
                line-height: 0;
                max-height: 400px;
                max-width: 400px;
                margin: 0 auto;
            }
        } // END BIO IMAGE
        
        .bio-frame-meta{
            vertical-align: top;
            padding: 2% 4%;
            
            .frame-title{
                text-align: left;
                color: $bio-frame-title-color; 
                margin-bottom: $bioframe-margin;
            }   
            
            .frame-headline{
                text-align: left;
                color: $bio-frame-headline-color;                          // ADD TO COLOR SCHEME VARS
                margin-bottom: $bioframe-margin;
                line-height: 3rem;
            }
            
            .caption{
                line-height: 1.2rem;  
                margin-top: 30px;
                margin-bottom: $bioframe-margin;
            }
            
            .reslink{
                
                margin: 36px auto;
                text-align: center;
                
                a{  
                    border-width: 2px;
                    border-style: solid;
                    border-color: #eee;             // ADD TO COLOR SCHEME VARS
                    color: $white;
                    
                    &:link{
                        text-align: center;
                        display: block;
                        margin: 16px 0;
                        font-size: 1.15rem;
                        text-decoration: none;
                        padding: 12px 0;
                        display: block;
                        max-width: 100%;
                        
                    }
                    &:visited{
                        border-width: 2px;
                        border-style: solid;
                        border-color: #eee;             // ADD TO COLOR SCHEME VARS
                        color: $white;
                    
                    }
                    &:hover{
                       border-color: $white;             // ADD TO COLOR SCHEME VARS
                       color: $white;
                    }
                    
                }   
            }
                        
        } // END BIO META
        
        

    } // END CONTACT BIOFRAME
    
    
    
    
} // END BIOFRAME


// ######################################################################### //
/* MOBILE VIEW */
@media (min-width: $min-mob) {
    
} // END MIN MOBILE VIEW

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {

} // END MIN TABLET VIEW


// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {

.bioframe{    
    
     .webny_contact-bioframe{
        display: block;
        max-width: $max-pc;
        overflow: auto;
        position: relative; 
         
        .bio-frame-image,
        .bio-frame-meta{
            display: block;
           
        }

        .bio-frame-image{
                bottom: 0;
                float: left;
                left: 0;
                top: 0;
                width: 33%;
                position: absolute;

            img {
          
                line-height: 0;
                position: absolute;
                right: 0;
                bottom: 0;
                max-height: 400px;
                vertical-align: bottom;
            }
        }

        .bio-frame-meta{
            width: 60%;   
            padding: 0 2% 0 3%;
            float: right;
            min-height: 350px;
            
            
            .frame-headline{
                line-height: 2.5rem;
            }
            
            .reslink{
                
                text-align: center;
                
                a{  
                    &:link{
                        max-width: 240px;   
                    }
                }
            }
        }
    
          
            

    } // END CONTACT BIOFRAME     

} // END BIO FRAME    
    
} // END PC
