// ************************* //
// BODY PARTIAL
// CREATED BY WEBNY
// ************************* //

// ######################################################################### //
/* MOBILE FIRST STYLES */

// ========================================================================= //
/* FONTS / SIZES */

// ========================================================================= //
/* NEWS BODY WRAPPER */
.news-body{

  .news-body-in{
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1200px;
    line-height: 1.7em;
    font-size: .875em;
    
    
    .press-teaser{
      margin: 0 auto;
      margin-top: 60px;
      font-family: "ProximaNovaRegular";
      font-size: 1.4em;
      line-height: 1.2em;
      font-style: normal;
      margin-bottom: 40px;
      width: 80%;
    }

    .press-subhead{
      margin: 0 auto;
      text-align: left;
      padding: 20px 0 0 0;
      overflow: hidden;
    }
      
    
    .press-body{ 
        margin: 0 auto;
        max-width: 780px;
        width: 80%;
    }

    .press-contact-info{
      width: 80%;
      margin: 80px auto;
      max-width: 780px;

      h2 a{
        color: $text-blue;
        font-size: 36px;
      }

    }

  } // END .news-body-in
} // END .news-body


// ========================================================================= //
.ipage-body{
  margin: 0 auto;
  max-width: 780px;
  width: 80%;
}

// ========================================================================= //
/* LANDING TITLE SECTION */

.landing-title-area{
  width: 100%;
  background: $primaryblue none repeat scroll 0 0;

  .landing-title h1{
    font-size: 24px;
    color: $white;
    padding: 0 0 0 52px;
  }

  .landing-subtitle{
    color: $primarygold;
    font-size: 24px;
    display: none;
    padding: 0 0 16px 52px;

  }

}

// ========================================================================= //
/* LANDING PAGE SUMMARY */

.page-summary{
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
}

// ========================================================================= //
/* LANDING PAGE PARAGRAPHS */

.page-paragraphs{
    width: 80%;
    margin: 0 auto;

    .page-paragraphs-in{
        max-width: 1200px;
        margin: 80px auto;
    }
}

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: 30em) {

.news-body {

    .news-body-in {
        max-width: 1200px;        
        
          .press-teaser{
              width: 90%;
          }
          
          .ipage-body,
          .press-body,
          .press-contact-info{ 
            width: 80%;
          }    

          p,li{
            line-height: 1.7em;
            font-size: 1.3em;
          }
    }
  }
    

// LANDING PAGE TITLE AREA
  
.ipage-body{
  width: 100%;
  p,li{
    line-height: 1.7em;
    font-size: 1.3em;
  }    
}      
    
    

} // END TABLET VIEW

// ######################################################################### //
/* DESKTOP VIEW */
@media (min-width: 48em) {

// ========================================================================= //
/* LANDING TITLE SECTION */

.page-paragraphs {
  width: 100%;
}
    

.landing-title-area > div{
    display: inline-block;
}

    
.news-body {

    .news-body-in {
        max-width: 1200px;        
        
          .press-teaser{
              width: 90%;
          }
          
          .press-body,
          .press-contact-info{ 
            width: 100%;
          }    

          p,li{
            line-height: 1.7em;
            font-size: 1.3em;
          }
    }
  }
    
    
.landing-title-area{
    width: 100%;

    .landing-title h1{
      font-size: 52px;
      padding: 0 26px 0 52px;
      margin-right: -40px;
    }

    .landing-subtitle{
      visibility: visible;
      display: inline-block;
    }

}

  
    
} // END DESKTOP MODE