// Page Title
//
// Styling of the Landing Page Title.
//
// Markup: page-title.hbs
//
// Style guide: components.pagetitle

// color variables - only the variables on the left should be used below
$title-bar-bkgd-color: $color-accent-primary !default;
$title-bar-default-text-color: $color-mono-black !default;
$title-bar-sub-title-color: $color-mono-black !default;

// ************************* //
// BODY PARTIAL
// CREATED BY WEBNY
// ************************* //

// ######################################################################### //
/* MOBILE FIRST STYLES */

// ========================================================================= //
/* FONTS / SIZES */

// ========================================================================= //
/* PARAGRAPH PADDING */
.page-paragraphs-in > div > div{
  // padding: 80px 0; // IDEALLY
}

// ========================================================================= //
/* NEWS BODY WRAPPER */
.news-body{

  .news-body-in{
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1200px;
    line-height: 1.7em;
    font-size: .875em;
    
    
    .press-teaser{
      margin: 0 auto;
      margin-top: 60px;
      font-family: $base-font;
      font-size: 1.4em;
      line-height: 1.2em;
      font-style: normal;
      margin-bottom: 40px;
      width: 80%;
      .press-subtitle-item{
          font-size: 1.4rem;
          margin-bottom: 2rem;
        line-height: 1.8rem;
      }
    }

    .press-subhead{
      margin: 0 auto;
      text-align: left;
      padding: 20px 0 0 0;
      overflow: hidden;
    }
      
    
    .press-body,
    .ct-attach{ 
        margin: 0 auto;
        max-width: 780px;
        width: 80%;
    }
            
    .press-contact-info{
      width: 80%;
      margin: 80px auto;
      max-width: 780px;

      h2 a{
        color: $text-blue;
        font-size: 36px;
      }

    }

  } // END .news-body-in
} // END .news-body


// ========================================================================= //
.ipage-body{
  margin: 0 auto;
  max-width: 780px;
  width: 80%;
}

// ========================================================================= //
/* LANDING TITLE SECTION */

.landing-title-area{
  background: $title-bar-bkgd-color none repeat scroll 0 0;
  padding: 20px 8%;

  .landing-title h1{
    font-size: 24px;
    color: $title-bar-default-text-color;
    padding: 0;
  }

  .landing-subtitle{
    color: $title-bar-sub-title-color;
    font-size: 24px;
    display: none;
    padding: 0 0 16px 52px;

  }

}

// ========================================================================= //
/* LANDING PAGE SUMMARY */

.page-summary{
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
}


// ######################################################################### //
/* TABLET VIEW */
@media (min-width: 30em) {

.news-body {

    .news-body-in {
        max-width: 1200px;        

          .ipage-body,
          .press-body,
          .ct-attach,
          .press-contact-info{ 
            width: 80%;
          }    

         p,li{
            line-height: 1.7em;
            font-size: 1.3em;
          }
    }
  }
 }   
@media (min-width: 48em) {
  .landing-title-area > div{
    display: inline-block;
}
  .landing-title-area{
    padding: 0 2%;
  

  .landing-title h1{
      font-size: 52px;
    }

  .landing-subtitle{
      visibility: visible;
      display: inline-block;
    }
  }
}
// LANDING PAGE TITLE AREA
  
.ipage-body{
  width: 100%;
  p,li{
    line-height: 1.7em;
    font-size: 1.3em;
  }    
}      
    
    
 // END TABLET VIEW

// ######################################################################### //
/* DESKTOP VIEW */
@media (min-width: 60em) {

// ========================================================================= //
/* LANDING / NEWS TITLE SECTION */   

.landing-title-area > div{
    display: inline-block;
}

.landing-title-area{
    //width: 100%;
    padding: 0 4%;

    .landing-title h1{
      font-size: 52px;
      //padding: 0 26px 0 52px;
      //margin-right: -40px;
    }

    
}

}


@media (min-width: 48em) {
    
.page-paragraphs {
  width: 100%;
}

.news-body {
    .news-body-in {
        max-width: 1200px;        
        
          .press-teaser{
              width: 90%;
          }
          
          .press-body,
          .ct-attach,
          .press-contact-info{ 
            width: 100%;
          }    

          p,li{
            line-height: 1.7em;
            font-size: 1.3em;
          }
    }
  }
    


} // END DESKTOP MODE
