// Buttons
//
// Button styling.
//
// Markup: buttons.hbs
//
// Style guide: components.buttons

.buttonBase {
  display:inline-block;
  font-family: $base-font;
  //font-weight: bold;
  text-align: center;
  color:$white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 20px;
  border: 1px solid $white;
  &:hover {
	text-decoration: none;
  }
}


.button {
  @extend .buttonBase;
  background: $primaryblue;
  border: none;
  cursor: pointer;
  &:hover {
    background: darken($primaryblue, 10%);
  }
    &>a{
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    
}

.buttonTransparentLt {
  @extend .buttonBase;
  background: $buttonBackgroundColor;
  border-color: $gray-lite;
  &:hover {
    background: $buttonBackgroundColorHover;
    border-color: $white;
  }
}

.buttonTransparentDk {
  @extend .buttonBase;
  background: $buttonBackgroundColor;
  color: $black;
  border:1px solid $black;
  &:hover {
    background: $buttonBackgroundColorHover;
    border-color: $black;
  }
}

.buttonDkLt {
  @extend .buttonBase;
  background: none;
  color: $black;
  border-color: $primarygold-50;
  
  &:hover {
    background: $primarygold-50;
    border-color: $primarygold-75;
  }
}

.buttonMobile {
  @extend .buttonBase;
  padding: 20px 20px;
}