// ************************* //
// CONTACT PARTIAL
// CREATED BY WEBNY
// ************************* //

// ######################################################################### //
/* MOBILE FIRST STYLES */

/* ICONS */
.contact-icon-phone,
.contact-icon-mail{
    display: inline-block; 
}

.contact-inblk {
    display: inline-block;
    width: 100%;
}

.contact-inblk{
    font-size: 1.1rem;
}

.contact-heading{
    font-weight: bold;   
}

.contact-heading label::before{
    width: 40px;
    height: 25px;
    margin-right: 30px;
    content: " ";
}

.contact-icon-phone{
    background: url("../icons/contact/contact-phone.png") no-repeat top left !important;
}

.contact-icon-mail{
    background: url("../icons/contact/contact-mail.png") no-repeat top left !important;
}

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: 30em) {
    
    
    
    
} // END TABLET VIEW



// ######################################################################### //
/* DESKTOP VIEW */
@media (min-width: 48em) {
    
  
.contact-inblk {
    display: inline-block;
     width: 49%;
} 
    

    
    
} // END DESKTOP VIEW