// Contact for News
//
// Contact for News styling.
//
// Markup: contact_for_news.hbs
//
// Style guide: components.contact_for_news


// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */

.press-contact-info {
  margin: 0 auto;
  max-width: 780px;
  width: 80%;

  h2 {
   font-weight: 800;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  .contact-info-wrapper {
    margin-top: 40px;
  }

  .contact-phone,
  .contact-address,
  .contact-email,
  .contact-fax {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 30px;
    min-height: 95px;
  }

  .contact-wrapper .contact-address .contact-address-value p {
    line-height: 22px;
  }

  .contact-info-wrapper {

    .icon-phone::before,
    .icon-email::before,
    .icon-square::before {
      position: absolute;
      width: 20px;
      color: $medblue;
    }
  }

  .contact--field-webny-contact-phone,
  .contact--field-webny-contact-address,
  .contact--field-webny-contact-email,
  .contact--field-webny-contact-fax {
    font-family: $base-font !important;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 20px;
   // margin-left: 10px;
    padding-left: 33px;
  }

    .contact-phone-value,
    .contact-fax-value,
    .contact-address-value,
    .contact-email-value {
      line-height: $frame-base-line-height;
   //   -moz-box-sizing: border-box;
   //   box-sizing: border-box;
   //   width: 50%;
   //   padding-left: 35px;
      margin-left: 35px;
    }

    .contact-address-value p {
      margin: 0;
    }

    .contact-phone-value a,
    .contact-fax-value a {
      color: $black;
      &:hover {
        text-decoration: none;
      }
    }

  .contact--field-webny-contact-address p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-email-value {
    text-decoration: underline;
  }

  .social-media-wrapper {
    border-top: 1px solid $gray-lite;
    border-bottom: 1px solid $gray-lite;
    padding-top: 20px;

    .fieldset-wrapper a:hover {
      text-decoration: none;
    }

    .fieldset-wrapper a {
      color: $black;
      text-transform: uppercase;
      font-weight: 800;
    }

  }

  .social-media-wrapper .fieldset-wrapper a:hover {
    text-decoration: none;
  }

  .social-media-wrapper .fieldset-wrapper a {
    color: $black;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.888em;
    display: inline;
    min-height: 32px;
  }

  .social-media-wrapper {
    .icon-facebook::before,
    .icon-twitter::before,
    .icon-youtube::before,
    .icon-instagram::before,
    .icon-google_plus::before,
    .icon-soundcloud::before,
    .icon-square::before,
    .icon-vine::before,
    .icon-flickr::before,
    .icon-rss::before,
    .icon-pinterest::before,
    .icon-tumblr::before,
    .icon-linkedin::before,
    .icon-vimeo::before {
      color: $medblue;
      padding-right: 15px;
      display: inline-block;
    }
  }

}
// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {


.press-contact-info {

  .contact-info-wrapper {
    display: flex;
    flex-direction: row;
  }

  .contact-col-1,
  .contact-col-2 {
    flex-direction: row;
    width: 49%;
    min-width: 236px;
    overflow: auto;
    float: left;
  }

  .social-media-wrapper .fieldset-wrapper a {
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

}


} // END MIN TABLET VIEW

// ######################################################################### //


/* PC VIEW */
@media (min-width: $min-pc) {

.press-contact-info {

  .social-media-wrapper .fieldset-wrapper a {
    width: 20%;
  }
}

} // END MIN PC VIEW
// ######################################################################## //

/* SMALL PC VIEW */
@media screen and (max-width: 910px) and (min-width: 768px) {

  .press-contact-info {

  .social-media-wrapper .fieldset-wrapper a {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}

}// END SMALL PC VIEW
// ######################################################################### //