// Contact for News
//
// Contact for News styling.
//
// Markup: contact_for_news.hbs
//
// Style guide: components.get_involved


// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */

.press-contact-info {
  margin: 0 auto;
  max-width: 780px;
  width: 80%;
}

.contact--title {
  font-weight: 900;
}

fieldset {
  border: none;
  padding: 0;
}

.icon-phone::before,
.icon-email::before,
.icon-square::before {
  color: $medblue;
  padding-right: 15px;
}

.contact--field-webny-contact-phone,
.contact--field-webny-contact-address,
.contact--field-webny-contact-email,
.contact--field-webny-contact-fax{
  font-family: $base-font !important;
  font-weight: 800;
  display: inline-block;
}

.contact--field-webny-contact-phone a,
.contact--field-webny-contact-fax a {
  color: $black;
  margin-left: 34px;

  &:hover {
    text-decoration: none;
  }
}

.contact--field-webny-contact-address p {
  margin-left: 34px;
}











// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {













} // END MIN TABLET VIEW

// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {



} // END MIN PC VIEW