// Generic Page Content
//
// Generic Page Content styling
//
// Markup: generic_page.hbs
//
// Style guide: components.generic_page
// color variables
$gp-frame-bkgd-color: $color-secondary !default;
$gp-frame-title-color: $color-mono-black !default;
$gp-frame-headline-color: $color-mono-white !default;
$gp-frame-descriptor-title-color: $color-mono-white !default;
$gp-frame-descriptor-text-color: $color-mono-black !default;
$gp-frame-descriptor-border: $color-secondary !default;
$gp-frame-button: $color-mono-white !default;

// ACTIONS BAR BETWEEN HERO AND CONTENT
.webny-generic-content-page .actions {
  background-color: #128ec3;
  font-size: 0.8em;
  color: #fff;
  height: 50px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;

  &.stuck {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
  }
}

// ######################################################################### //
/* MOBILE VIEW */
aside#gpnav_sidebar {
  position: relative;

  &.stuck {
    position: fixed;
    top: 50px;
    z-index: 10;
    width: 100%;
  }

  header {
    background-color: #1d1d1d;
    font-size: 14px; //0.875em;
    font-family: "Oswald-bold";
    text-transform: uppercase;
    padding: 21px 30px;
    color: #cbcbcb;
    box-sizing: border-box;
    border-bottom: 1px solid #404040;
    letter-spacing: 0.05em;
    text-rendering: optimizeLegibility;
    display: none;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0px;

    &.sidebar-opened {
      li {
        display: block;
      }
    }

    &.sidebar-closed.mobile {
      li:first-child {
        display: block;
      }
      li.active {
        display: block;
      }
      li {
        display: none;
      }
    }

    li {
      padding: 21px 30px;
      margin: 0;
      box-sizing: border-box;
      height: auto;
      border-bottom: 1px solid #404040;
      background-color: #242424;
      display: none;

      /* display the see-all always */
      &:first-child {
        display: block;
      }

      /* only display the li that has the active class attached */
      &.active {
        display: block;
      }

      &.active a {
        color: $color-secondary;
      }

      &.see-all {
        position: absolute;
        background-color: transparent;
        border: none;
        top: 0;
        right: 0;

        a {
          color: #FFF;
          text-decoration: none;
          font-size: 1.3em;

          span {
            display: none;

            &:before {
              content: "\e601";
            }
          }
        }
      }

      a {
        color: #FFF;
        //font: 0.9em/1 'ProximaNovaBold';
        font: 16.8px 'ProximaNovaBold';
        letter-spacing: 0.01em;
        font-weight: normal;
        text-decoration: none;
        transition: color 0.3s 0s ease-in-out;
        cursor: pointer;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }

  span.arrow {
    display: none;
  }
}

/* display generic paragraphs at 100% width */
.generic-paragraphs {
  width:100%;
}

.gp-article-content {
  .gp-chapters {
    padding: 20px 10px 30px !important;
  }
}

.gp-next-section {
  display: none;
}

// ######################################################################### //
/* MIN TABLET VIEW */
@media (min-width: $min-tab) {
  aside#gpnav_sidebar {

    min-width: 150px;
    position: absolute;
    height: 100%;
    left: 0px;
    width: 20%;
    overflow: visible;
    background: #242424;

    &.stuck {
      width: 20%;
    }

    header {
      display: block;
    }

    ul {
      li {
        display: block;
        &.see-all {
          display: none;
        }
      }
    }

    span.arrow {
      display: block;
      position: absolute;
      top: 84px;
      right: -40px;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid transparent;
      border-left: 20px solid #242424;
      transition: top 0.3s 0s ease-in-out;
    }
  }

  .gp-article-content {
    width: 75%;
    margin-left: 25%;
    z-index: 2;
    padding: 0 20px;
  }

  // needed to override global footer z-index for this content type since it has the left fixed positioned toc
  .webny-global-footer {
    z-index: 10;
  }

  .gp-next-section {
    display: block;
    .gp-next-section-links {
      border-bottom: 1px solid #d9e2e2;
      margin-bottom: 20px;

      p {
        width: 48%;
        display: inline-block;
        margin: 10px 0;
        font-family: 'ProximaNovaBold';
        font-size: 14px;
        text-transform: uppercase;

        &.gp-next-section-link {
          width: 50%;
          text-align: right;
          font-family: 'ProximaNovaRegular';
          font-size: 16px;
          text-transform: none;
          cursor: pointer;

          &:before {
            float: right;
            margin-left: 10px;
            vertical-align: middle;
            font-family: 'icomoon';
            content: "\e632";
          }
        }
      }
    }

    .gp-next-section-title {
      font-family: 'ProximaNovaRegular';
      font-size: 30px;
      color: #128ec3;
      margin-bottom: 75px;
      display: block;
      cursor: pointer;
    }
  }
}

// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {
  aside#gpnav_sidebar {
    width: 20%;
  }
  .gp-article-content {
    width: 60%;
    margin-left: 20%;
    padding: 0;

    .gp-chapters {
      padding: 0 !important;
    }

    section {
      position: relative;
      padding: 50px;
    }
  }
}