// Get Involved
//
// Get Involved styling.
//
// Markup: get_involved.hbs
//
// Style guide: components.get_involved

// color variables
$get-inv-frame-bkgd-color: $color-accent-primary !default;
$get-inv-frame-title-color: $color-mono-black !default;
$get-inv-frame-headline-color: $color-primary !default;
$get-inv-frame-description-color: $color-mono-black !default;

// REASSIGNED VALS FOR GLOBAL SCOPE -- GET INVOLVED 
// this overrides general button variables in config.scss
$getinv-button-border-color:            $color-mono-black !default;
$getinv-button-text-color:              $color-mono-black !default;
$getinv-button-back-color:              $button-bkgd-transparent !default;
$getinv-button-hover-back-color:        $button-white-50 !default;

// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */

.paragraph {
  display: block;
}

.paragraph--type--webny-get-involved-pgtype {
  background-color: $get-inv-frame-bkgd-color;
  margin: 0 auto;
  text-align: center;
  //padding: 3%;
  padding: $frame-padding-lg 3%;
}

.get-involved--field-webny-get-involved-title {
  //font-family: $oswald;
  //font-weight: 800;
  //font-size: $frame-title;
  font: $frame-title;
  color: $get-inv-frame-title-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  //padding-top: 1%; // the padding set on the main frame should give the 80px 
  //padding-bottom: 0.5%; // need to evaluate this when changing these to headings
}

.get-involved--field-webny-get-inv-headline {
  //font-family: $base-font;
  //font-size: $frame-headline;
  //font-weight: 800;
  font: $frame-headline;
  color: $get-inv-frame-headline-color;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.25em; //3rem;
}

.front .get-involved--field-webny-get-inv-headline {
  font: $frame-headline-front;
}

.get-involved--field-webny-get-inv-description {
  font-family: $base-font;
  font-size: $frame-base-font-size;
  line-height: $frame-base-line-height;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.get-involved--cta-wrapper > div {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}

.get-involved--field-webny-get-inv-cta {

 margin: 7% auto;
        text-align: center;

  a {
  // BUTTON DYNAMIC REQUIREMENTS
  border: $frame-button-border-size solid $getinv-button-border-color;
  color: $getinv-button-text-color;
  background-color: $getinv-button-back-color;

    &:hover {
      background-color: $getinv-button-hover-back-color;
      border-color: $getinv-button-border-color;
      text-decoration: none;
    }
  }

    // BUTTON CALLS
    @include frame-button-base();

}

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {

  .get-involved--field-webny-get-inv-cta {
    padding: 13px 20px;
  }


} // END MIN TABLET VIEW

// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {

  .get-involved--cta-wrapper > div {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 85%;
  }

  .get-involved--field-webny-get-inv-cta {
    margin: 0 1%;
    min-width: 30%;
    max-width: 30%;
  }

} // END MIN PC VIEW
