// Main Global Agency Navigation Menu
//
// Header menus styling for Global Agency navigation
//
// Markup: global_nav.hbs
//
// Style guide: components.global_nav


.nys-global-header {
  background-color: $color-primary;
  height:90px; /* yucky - don't know how to get around background color issue */
  margin:0;
  padding:0 0 0 30px;
  font-size: 16px;
  position: relative;
}

.nys-global-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nys-global-header li {
  display: flex;
  flex-direction: column;
  /*flex:0 1 15%;*/
  flex-basis: 15%;
}

.nys-global-header li > ul {
  display:none;
}

.nys-global-header li:hover > ul {
  display:flex;
  flex-direction:column;
    background-color:$color-primary;
  li {
    
  }
}

.nys-global-header a:link {
  display: table-cell;
  padding:.5rem 1rem .5rem 0;
  text-decoration:none;
  color:$white;
}
.nys-global-header a:hover,
.nys-global-header a:active, 
.nys-global-header a:focus, 
.nys-global-header a:visited {
  color:$white;
  text-decoration:underline;
}

