// Main Global Agency Navigation Footer Menu
//
//  Styling for Global Agency footer navigation, including social media
//
// Markup: global_nav_footer.hbs
//
// Style guide: components.global_nav_footer


footer .agency-name {
  color:$black;
  background: $color-secondary;
}

.nys-global-footer {
  background-color: $color-secondary;
  //height:44px; 
  margin:0;
  padding:0 0 0 30px;
  font-size: 16px;
  position: relative;
  z-index: 5;
}

.nys-global-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.nys-global-footer ul > li:first-child {
      text-decoration: underline;
    }

.nys-global-footer ul ul {
  display: flex;  
  flex-direction: column;

}

.nys-global-footer li {
  display: flex;
  flex-direction: column;
  /*flex:0 1 15%;*/
  flex-basis: 15%;
}


/* .nys-global-header li:hover > ul {
  display:flex;
  flex-direction:column;
    background-color:$color-primary;
  li {
    
  }
} */

.nys-global-footer a:link {
  display: table-cell;
  padding:.5rem 1rem 0 1rem;
  text-decoration:none;
  color:$black;

}
.nys-global-footer a:hover,
.nys-global-footer a:active, 
.nys-global-footer a:focus, 
.nys-global-footer a:visited {
  color:$black;
  text-decoration:underline;
}

