// Main Global Agency Navigation Footer Menu
//
//  Styling for Global Agency footer navigation, including social media
//
// Markup: global_nav_footer.hbs
//
// Style guide: components.global_nav_footer


footer .agency-name {
  color:$black;
  background: $color-secondary;
  a:link,
  a:link:hover,
  a:hover,
  a:active,
  a:focus,
  a:visited,
  a:visited:hover {
    text-decoration: none;
    color:$black;
    padding:0;
  }
}

.nys-global-footer {
  background-color: $color-secondary;
  //height:44px; 
  margin:0;
  padding:0 0 0 30px;
  //font-size: 14px;
  position: relative;
  z-index: 5;
}

.nys-global-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  font-weight: bold;
  font-size: 14px;
}

.nys-global-footer nav>ul>li>a:first-child {
      //text-decoration: underline;
      border-bottom: 1px solid $black;
}

.social-media nav>ul>li>a:first-child {
  border-bottom: none;
}


.nys-global-footer ul ul {
  display: flex;  
  flex-direction: column;

}

.nys-global-footer li {
  display: flex;
  flex-direction: column;
  /*flex:0 1 15%;*/
  flex-basis: 40%;
  //flex-grow: 1;
  
  padding: 0.25rem 2rem .25rem 0;
}



.social-media h2 {
  text-align: center;
  font-size: $base-font-size;
  color:$black;
  text-transform: uppercase;
}

.social-media h2:before,
.social-media h2:after {
    background-color: #000;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
    top: -1px;
}

.social-media h2:before {
    right: 1.5em;
    margin-left: -50%;
}
.social-media h2:after {
    left: 1.5em;
    margin-right: -50%;
}

/* .nys-global-header li:hover > ul {
  display:flex;
  flex-direction:column;
    background-color:$color-primary;
  li {
    
  }
} */

.nys-global-footer a:link {
  display: table-cell;
  padding:.5rem 1rem 0 1rem;
  text-decoration:none;
  color:$black;

}
.nys-global-footer a:hover,
.nys-global-footer a:active, 
.nys-global-footer a:focus, 
.nys-global-footer a:visited {
  color:$black;
  text-decoration:underline;
}

footer {
  @include breakpoint($min-tablet) {
    .nys-global-footer li {
      flex-basis: 15%;
      
      flex-grow: 1;
    }
    .social-media ul li {
      align-items: center;
    }
    .nys-global-footer ul {
    flex-wrap: no-wrap;
    }
  }
}


