// Main Global Agency Navigation Footer Menu
//
//  Styling for Global Agency footer navigation, including social media
//
// Markup: global_nav_footer.hbs
//
// Style guide: components.global_nav_footer

// hint: only these color variables - the left most ones - should be used below

$nav-bottom-bkgd-color:         $color-tertiary !default;
$nav-bottom-text-color:         $color-mono-black !default;
$nav-bottom-text-hover-color:   $text-blue !default;
$nav-bottom-text-active-color:  $color-mono-black !default;

// GLOBAL FOOTER CUSTOM STYLES
$global-footer-top-text-decoration:     underline !default;
$global-footer-top-text-transform:      uppercase !default;
$nav-bottom-text-decoration:            $global-footer-top-text-decoration ;
$nav-bottom-text-transform:             $global-footer-top-text-transform ;

.webny-global-footer {
  .agency-name,
  .footer-menu h2{
    color: $nav-bottom-text-color;
    background: $nav-bottom-bkgd-color;
    margin: 36px 60px 5px 60px;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    font-family: $agency-name-font; // via config -- working with D Sari
    display: inline-block;
    a:link, a:link:hover, a:hover, a:active, a:focus, a:visited, a:visited:hover {
      text-decoration: none;
      color: $nav-bottom-text-color;
      padding: 0;
      font-family: $agency-name-font;
    }
  }
}

.webny-global-footer {

  background-color: $nav-bottom-bkgd-color;
  margin:0;
  position: relative;
  z-index: 5;

  nav {
    padding: 0 60px 15px 60px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $base-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    text-decoration:  none;
    text-transform:   none;
  }

  ul ul {
    display: flex;
    flex-direction: column;
    text-decoration:  none;
    text-transform:   none;
    margin-top: 13px;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 0.6rem 2rem .6rem 0;

  }


  nav > ul li{
    a:hover,
    a:active{
      text-decoration: underline;
    }

  }


  nav > ul > li > a {
    &:first-child {
      text-decoration: $nav-bottom-text-decoration;
      text-transform: $nav-bottom-text-transform;
      font-size: 16px;
      font-weight: normal;
      &:hover,
      &:active{
        text-decoration: underline;
      }
    }
  }



} // END GLOBAL FORWARD

  .social-media h2 {
    text-align: center;
    font-size: $base-font-size - 2px;
    color:$nav-bottom-text-color;
    text-transform: uppercase;
  }

  .social-media h2:before,
  .social-media h2:after {
    background-color: #000;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    top: -1px;
  }

  .social-media ul li {
    text-transform: uppercase;
    padding: .25em 1em 1em 1em;
  }

  .social-media h2:before {
    right: 1.5em;
    margin-left: -50%;
  }
  .social-media h2:after {
    left: 1.5em;
    margin-right: -50%;
  }

  .webny-global-footer a, .webny-global-footer a:link, .webny-global-footer a:visited {
    display: table-cell;
    text-decoration:none;
    color:$nav-bottom-text-color;

  }
  .webny-global-footer a:hover,
  .webny-global-footer a:active,
  .webny-global-footer a:focus  {
    color:$nav-bottom-text-active-color;
    text-decoration:underline;
  }

  .social-media a::before {
    content: '';
    position: relative;
    height: 20px;
    width: 20px;
    padding-right: 15px;
    color: $color-primary;
    text-decoration: none;
    display: inline-block;
  }

  .social-media a:hover::before {
    color: $color-secondary;
    text-decoration: none;
  }

  .social-media a {
    height: 20px;
    padding: 10px 0 10px 25px;
    position: relative;
    text-decoration: none;
  }

  .icon-instagram a:hover:before {
    text-decoration: none;
  }

  /* need to fix this to allow different agency color schemes, need to add svg option see NDD-92 notes */
  .social-media {
    a[href*="blogger"]::before{
      background-image: url(../icons/social/black/icon-social-blogger.png);
    }
    a[href*="del.icio.us"]::before {
      background-image: url(../icons/social/black/icon-social-delicious.png);
      background-clip: content-box;
    }
    a[href*="facebook"]{@include icon(before,fa-facebook);}

    a[href*="feed"]{@include icon(before, fa-rss);}

    a[href*="flickr"]{@include icon(before, fa-flickr);}

    a[href*="foursquare"]{@include icon(before, fa-foursquare);}

    a[href*="github"]{@include icon(before, fa-github-square);}

    a[href*="google"]{@include icon(before, fa-google_plus);}

    a[href*="instagram"]{@include icon(before, fa-instagram);}

    a[href*="linkedin"]{@include icon(before, fa-linkedin-square);}

    a[href*="mail"]{@include icon(before, fa-envelope);}

    a[href*="pinterest"]{@include icon(before, fa-pinterest-p);}

    a[href*="reddit"]{@include icon(before, fa-reddit-alien);}

    a[href*="share"]{@include icon(before, fa-share);}

    a[href*="snapchat"]{@include icon(before, fa-snapchat-ghost);}

    a[href*="soundcloud"]{@include icon(before, fa-soundcloud);}

    a[href*="tumblr"]{@include icon(before, fa-tumblr);}

    a[href*="twitter"]{@include icon(before, fa-twitter);}

    a[href*="vimeo"]{@include icon(before, fa-vimeo-square);}

    a[href*="vine"]{@include icon(before, fa-vine);}

    a[href*="yelp"]{@include icon(before, fa-yelp);}

    a[href*="youtube"]{@include icon(before, fa-youtube);}

  }


  @include breakpoint($min-tablet) {
    .webny-global-footer li {
      flex-basis: 15%;
      flex-grow: 1;
    }
    .social-media ul li {
      align-items: center;
    }
    .webny-global-footer ul {
      flex-wrap: no-wrap;
    }
    .social-media h2:before,
    .social-media h2:after {
      width: 30%;
    }
  }


  /* fixing Unav bleed issues */

  .nygov-universal-footer .l-footer .pane-dsc {
    margin-top: 1em;
    margin-bottom: 1em !important;
  }



  // ######################################################################### //
  /* MOBILE VIEW */
  @media (min-width: $min-mob) {

  } // END MIN MOBILE VIEW

  // ######################################################################### //
  /* TABLET VIEW */
  @media (min-width: $min-tab) {

  } // END MIN TABLET VIEW

  // ######################################################################### //
  /* PC VIEW */
  @media (min-width: $min-pc) {

  } // END MIN PC
