// Global Navigation Header
//
// Styling for Module elements (port for distro)
//
// Markup: global_navigation_header.hbs
//
// Style guide: components.global_navigation


// ########################################################################################
// VARS

// generic
$webny-global-prefix: 'webny-global-';
$min-width-breakpoint: 768px;
$max-width-breakpoint: 1024px;


$horizontal-menu-stacked-size: 53px;

$drop-down-width-mobile: 255px;
$drop-down-width-hor-5-tablet: 170px;
$drop-down-width-tablet: 300px;
$drop-down-width-desktop: 300px;

$medium-screen-link-height: 75px;

// text

$base-font: "Proxima Nova", Arial, sans-serif;
$agency-name-font: "D Sari Bold", Arial, sans-serif; // used in header and footer

// padding
$nav-title-padding: 15px 30px 8px 30px; // kept in case anyone still uses this variable
$nav-title-padding-tablet: 15px 30px 1px 30px;
$common-link-padding: 30px 48px 30px 30px;
$horizontal-link-padding: 8px 15px;
$horizontal-tall-link-padding: 25px;
$horizontal-sub-link-padding: 15px;
$submenu-padding: 5px 0px;
$extra-padding: 0px 0px;
$nav-fore-color: #fff;
$nav-weight: bold;

//depracated
$default-font-size: 1em;
$default-constrained-font-size: .8em;
$nav-title-size: 1.4em;
$big-nav-title-size: 1.375em;

// border
$common-wide-border: 1px solid #fff;

// icons
// menu arrows
$menu-arrow-size: 16px;
$menu-arrow-size-tablet: 18px;
$menu-arrow-top: 39%;
$menu-arrow-top-tablet: 38%;
$menu-arrow-right: 10px;
$menu-arrow-left: 18px;
$menu-arrow-left-top: 30px;
$menu-arrow-left-top-tablet: 31px;
$menu-arrow-active-link-padding: 48px;

// GLOBAL NAVIGATION COLORS
$globalnav-primary-color:     $color-primary !default;
$globalnav-secondary-color:   $button-black-50 !default;

// ########################################################################################
// MIXINS



@mixin in-context-menu() {
  > ul {
    position: relative;
    display: block;
    border-top: 0;
    width: auto;
    vertical-align: bottom;

    a,
    span {
      border-bottom-width: 0;
      padding: $horizontal-link-padding;
    }

    li,
    li.hidden {
      display: inline-block;
      vertical-align: bottom;

      ul {
        position: absolute;
        width: auto;
        border-top: $common-wide-border;

        li {
          display: block;

          a,
          span {
            padding: $horizontal-sub-link-padding;
          }
        }
      }

      &:last-child ul {
        right: 0;
      }
    }
  }

  .nav-toggle {
    display: none;
  }
}

// tool mixins

// Calculate numbers such as a percent width then subtracting a number
@mixin calc($property, $expression, $importance: null) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression}) $importance;
}




// ########################################################################################
// MAIN HEADER SASS

.#{$webny-global-prefix}header {

  color: $nav-fore-color;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: .018em;
  position: relative;
  font-weight: $nav-weight;
  font-style: normal;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $nav-fore-color;
    text-decoration: none;
  }

  h1 {
    font-family: $agency-name-font;
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: $nav-weight;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      color: $nav-fore-color;
    }

    a:hover {
      text-decoration: none;
      color: $nav-fore-color;
    }

  }

  ul {
    padding: $extra-padding;
    margin: 0;
    display: none;

    li {
      padding: 0;
      margin: 0;

      &.#{$webny-global-prefix}inactive {
        display: none;
      }

      &.#{$webny-global-prefix}active ul {
        display: block;
      }
    }
  }

  ul > li > a[href='#']:after,
  ul > li > span:after {
    background-image: url('../icons/icon-arrow-right.png');
    background-image:
            linear-gradient(transparent, transparent),
            url('../icons/icon-arrow-right.svg');
    background-size: $menu-arrow-size;
    background-repeat: no-repeat;
    width: 2em;
    height: 1.2em;
    content: '';
    position: absolute;
    right: $menu-arrow-right;
    top: $menu-arrow-top;
  }

  > ul {
    position: absolute;
    width: $drop-down-width-mobile;
    border-top: $common-wide-border;
    z-index: 200;

    li {
      display: block;
      list-style: none;
      position: relative;

      &.#{$webny-global-prefix}active > a:link,
      &.#{$webny-global-prefix}active > a:visited,
      &.#{$webny-global-prefix}active > span {
        padding-left: $menu-arrow-active-link-padding;
        font-weight: $nav-weight;
        letter-spacing: .03em;
        color: transparent;
      }

      &.#{$webny-global-prefix}active > a:before,
      &.#{$webny-global-prefix}active > span:before {
        background-image: url('../icons/icon-arrow-left.png');
        background-image:
                linear-gradient(transparent, transparent),
                url('../icons/icon-arrow-left.svg');
        background-size: $menu-arrow-size;
        background-repeat: no-repeat;
        width: 2em;
        height: 1.2em;
        display: inline-block;
        content: '';
        position: absolute;
        left: $menu-arrow-left;
        top: $menu-arrow-left-top;
      }

      &.#{$webny-global-prefix}active > a:after,
      &.#{$webny-global-prefix}active > span:after {
        background-image: none;
      }

      a:link,
      a:visited,
      span {
        display: block;
        padding: $common-link-padding;
        font-family: $base-font;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        text-decoration: none;
        color: $nav-fore-color;
      }

      a:hover{
        text-decoration: none;
        color: $nav-fore-color;
        cursor: pointer;
      }
      .gnav-topli{
        span:hover {
          color: $nav-fore-color;
        }
      }

      ul {
        padding: 0;
        display: none;
        position: initial;
        z-index: 5;
        width: 100%;

        > li > a {
          cursor:pointer;
        }
        > li > span {
          letter-spacing: .02em;
          font-weight: $nav-weight;
        }
      }
    }
  }

  .#{$webny-global-prefix}active {
    display: block;
  }

  // button for opening the menu on mobile devices
  .nav-toggle {
    text-indent: -9999px;
    color: transparent;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      width: 65px;
      height: 80px;
      display: block;
      float: left;
      background-image: url('../icons/icon-menu.png');
      background-image:
              linear-gradient(transparent, transparent),
              url('../icons/icon-menu.svg');
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  // Tablet
  @media (min-width: $min-width-breakpoint) {
    &.horizontal{
      font-weight: $nav-weight;

      &.alt-unav {
        h1 {
          a {
            display: none;
          }
        }
      }

      h1 {
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &.unstacked {
        font-size: 14px;
        line-height: 18px;
        height: 80px;
        @include in-context-menu();

        h1 {
          height: auto;

          a,
          a:link,
          a:visited,
          a:hover,
          a:active {
            padding: $nav-title-padding-tablet;
          }
        }

        > ul {
          padding-left: 15px;
          display:inline-block;
          & > li > a:hover {
            text-decoration: underline;
          }
          & > li > span:hover {
            text-decoration: none;
          }

          li {
            a,
            a:link,
            a:visited,
            a:hover,
            a:active,
            span {
              font-weight: $nav-weight;
              font-size: 14px;
              letter-spacing: .03em;
              padding-left: 15px;
            }
            ul {
              width: $drop-down-width-hor-5-tablet;

              li {
                a,
                a:link,
                a:visited,
                a:hover,
                a:active,
                span {
                  font-size: 12px;
                  line-height: 17px;
                  font-weight: $nav-weight;
                }
              }
            }
          }
        }

        ul > li > a[href='#']:after,
        ul > li > span:after {
          background-image: none;
          width: 0;
          margin: 0;
          display: none;
        }

        > ul li.#{$webny-global-prefix}active > a:before,
        > ul li.#{$webny-global-prefix}active > span:before {
          background-image: none;
          width: 0;
          margin: 0;
          display: none;
        }
      }

      &.stacked {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .03em;

        > ul {
          width: $drop-down-width-tablet;

          a,
          a:link,
          a:visited,
          a:hover,
          a:active,
          span {
            font-weight: $nav-weight;
          }

          li.#{$webny-global-prefix}active > a:before,
          li.#{$webny-global-prefix}active > span:before {
            background-size: $menu-arrow-size-tablet;
            top: $menu-arrow-left-top-tablet;
          }
        }

        > ul > li > a[href='#']:after,
        > ul > li > span:after {
          background-size: $menu-arrow-size-tablet;
          top: $menu-arrow-top-tablet;
        }
      }
    }
  }

  // Desktop
  @media (min-width: $max-width-breakpoint) {
    &.horizontal{
      > ul,
      h1 {
        display: inline-block;
      }
      &.alt-unav {
        h1 {
          a {
            display: none;
          }
        }
      }
    }

    &.unstacked.horizontal,
    &.stacked.horizontal{
      height: auto;
      font-size: 16px;
      & > ul > li > a:hover {
        text-decoration: underline;
        color: $nav-fore-color;
      }

      & > ul > li > span:hover {
        text-decoration: none;
        color: $nav-fore-color;
      }

      h1 {
        width: $drop-down-width-desktop;
        padding-left: 30px;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          padding: 0;
          font-size: 22px;
          line-height: 26px;
          display: table-cell;
          height: $medium-screen-link-height;
          vertical-align: middle;
          padding-left: 15px;

          span {
            display: inline-block;
          }
        }
      }

      > ul {
        padding: 0 0 0 30px;

        li {
          a,
          a:link,
          a:visited,
          a:hover,
          a:active,
          span {
            font-size: 16px;
            letter-spacing: .03em;
            display: table-cell;
            height: $medium-screen-link-height;
            vertical-align: middle;
            padding: 0 15px;
            color: $nav-fore-color;

            &:before,
            &:after {
              background-image:none;
            }
          }

          ul {
            padding: $submenu-padding;
            top: auto;
            width: $drop-down-width-desktop;

            li {
              height: auto;

              a,
              a:link,
              a:visited,
              a:hover,
              a:active,
              span {
                font-size: 16px;
                line-height: 20px;
                height: auto;
                display: block;
                padding: 15px;
              }
            }
            // HIDE TOP LINKS ON DROPDOWN ON DESKTOP
            li.gnav-toplink {
                display: none;
            }
          }

          &:last-child ul {
            left: auto;
          }
        }
      }
    }

    &.unstacked.horizontal {
      height: 75px;
      > h1 {
        /*margin: 10px;*/
      }

      > ul {
        li {
          a,
          a:link,
          a:visited,
          a:hover,
          a:active,
          span {
            height: 75px;
          }
        }
      }
      &.alt-unav {
        h1 {
          display: none;
        }
      }
    }

    &.stacked.horizontal{
      @include in-context-menu();
      min-height: 115px;

      &.alt-unav {
        min-height: 75px;
        h1 {
          a {
            display: none;
          }
        }
        ul {
          padding-top: 15px;
        }
      }

      h1 {
        display: block;
        width: auto;
        height: auto;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          height: 44px;
          padding-top: 17px;
        }
      }

      > ul {
        display: block;

        li {
          a,
          a:link,
          a:visited,
          a:hover,
          a:active,
          span {
            height: 44px;
          }

          ul {
            top: auto;
            height: auto;
            width: $drop-down-width-desktop;

            li {
              a,
              a:link,
              a:visited,
              a:hover,
              a:active,
              span {
                height: auto;
                padding: $horizontal-sub-link-padding;
              }
            }
          }
        }
      }

      ul > li > a[href='#']:after,
      ul > li > span:after {
        background-image: none;
        width: 0;
        margin: 0;
        display: none;
      }

      > ul li.#{$webny-global-prefix}active > a:before,
      > ul li.#{$webny-global-prefix}active > span:before  {
        background-image: none;
        width: 0;
        margin: 0;
        display: none;
      }
    }

  }
  // Desktop - for IE8, and its fate, that we code for old browsers at this rate.
  @media \0screen {
    &.horizontal{
      > ul,
      h1 {
        display: inline-block;
      }
      &.alt-unav {
        h1 {
          a {
            display: none;
          }
        }
      }
    }

    &.unstacked.horizontal,
    &.stacked.horizontal{
      height: auto;
      font-size: 16px;
      & > ul > li > a:hover {
        text-decoration: underline;
      }

      & > ul > li > span:hover {
        text-decoration: none;
      }

      h1 {
        width: $drop-down-width-desktop;
        padding-left: 30px;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          padding: 0;
          font-size: 22px;
          line-height: 26px;
          display: table-cell;
          height: $medium-screen-link-height;
          vertical-align: middle;
          padding-left: 15px;

          span {
            display: inline-block;
          }
        }
      }

      > ul {
        padding: 0 0 0 30px;

        li {
          a,
          a:link,
          a:visited,
          a:hover,
          a:active,
          span {
            font-size: 16px;
            letter-spacing: .03em;
            display: table-cell;
            height: $medium-screen-link-height;
            vertical-align: middle;
            padding: 0 15px;

            &:before,
            &:after {
              background-image:none;
            }
          }

          ul {
            padding: $submenu-padding;
            top: auto;
            width: $drop-down-width-desktop;

            li {
              height: auto;

              a,
              a:link,
              a:visited,
              a:hover,
              a:active,
              span {
                font-size: 16px;
                line-height: 20px;
                height: auto;
                display: block;
                padding: 15px;
              }
            }
          }

          &:last-child ul {
            left: auto;
          }
        }
      }
    }

    &.unstacked.horizontal {
      > h1 {
        margin: 10px;
      }

      > ul {
        li {
          a,
          a:link,
          a:visited,
          a:hover,
          a:active,
          span {
            height: 95px;
          }
        }
      }
      &.alt-unav {
        min-height: 75px;
        h1 {
          display: none;
        }
      }
    }

    &.stacked.horizontal{
      @include in-context-menu();
      height: 148px;

      &.alt-unav {
        min-height: 75px;
        h1 {
          a {
            display: none;
          }
        }
      }

      h1 {
        display: block;
        width: auto;
        height: auto;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          height: 85px;
        }
      }

      > ul {
        display: block;

        li {
          a,
          a:link,
          a:visited,
          a:hover,
          a:active,
          span {
            height: 63px;
          }

          ul {
            top: auto;
            height: auto;
            width: $drop-down-width-desktop;

            li {
              a,
              a:link,
              a:visited,
              a:hover,
              a:active,
              span {
                height: auto;
                padding: $horizontal-sub-link-padding;
              }
            }
          }
        }
      }

      ul > li > a[href='#']:after,
      ul > li > span:after {
        background-image: none;
        width: 0;
        margin: 0;
        display: none;
      }

      > ul li.#{$webny-global-prefix}active > a:before,
      > ul li.#{$webny-global-prefix}active > span:before  {
        background-image: none;
        width: 0;
        margin: 0;
        display: none;
      }
    }

  }
}

.webny-global-nav-content-container {
  @media (min-width: 1024px) {
    margin-left: 330px;
  }
}

.#{$webny-global-prefix}header {
  background-color: $color-primary;

  & > ul {
    background-color: $color-primary;

    a,
    span {
      border-bottom-color: mix( $color-primary, #fff, 85% );
    }

    a:hover,
    a:active,
    span:hover {
      background-color: $globalnav-secondary-color;
    }

    & > span:hover {
      text-decoration: none;
    }

    ul {
      background-color: $color-primary;
    }
  }

  @media (min-width: $min-width-breakpoint) {
    &.horizontal {
      &.unstacked {
        ul {
          li {
            a:hover,
            a:active,
            span:hover {
              background-color: $color-primary;
            }
            & > span:hover {
              text-decoration: none;
            }
            ul > li {
              a:hover,
              a:active,
              span:hover {
                background-color: $globalnav-secondary-color;
              }
              & > span:hover {
                text-decoration: none;
              }

            }
          }
        }
      }
    }
  }
  @media only screen and (min-width: $max-width-breakpoint) {
    &.horizontal {
      &.unstacked,
      &.stacked {
        ul {
          li {
            a:hover,
            a:active,
            span:hover {
              background-color: $color-primary;
            }
            ul > li {
              a:hover,
              a:active,
              span:hover {
                background-color: $globalnav-secondary-color;
              }

            }
          }
        }
      }
    }
  }
}


