// Main Global Agency Navigation Menu
//
// Header menus styling for Global Agency navigation
//
// Markup: global_nav.hbs
//
// Style guide: components.global_nav

// hint: only these color variables - the left most ones - should be used below
$nav-top-bkgd-color: $color-primary !default;
$nav-top-sub-items-bkgd: $color-primary !default;
$nav-top-hover-bkgd-color: $button-bkgd-hover-color !default;
$nav-top-text-color: $white !default;
$nav-top-text-hover-color: $color-secondary !default;
$nav-top-text-active-color: $color-secondary !default;

.nys-global-header {
  background-color: $nav-top-bkgd-color;
  height:44px; /* yucky - don't know how to get around background color issue */
  margin:0;
  padding:0 0 0 30px;
  font-size: 16px;
  position: relative;
  z-index: 5;
}

.nys-global-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.nys-global-header li {
  display: flex;
  flex-direction: column;
  /*flex:0 1 15%;*/
  flex-basis: 15%;
}

.nys-global-header li > ul {
  display:none;
}

.nys-global-header li:hover > ul {
  display:flex;
  flex-direction:column;
    background-color:$nav-top-bkgd-color;
  li {
    
  }
}

.nys-global-header a, .nys-global-header a:link {
  display: table-cell;
  padding:.5rem 1rem 0 1rem;
  text-decoration:none;
  color:$nav-top-text-color;

}
.nys-global-header a:hover,
.nys-global-header a:active, 
.nys-global-header a:focus /*, 
.nys-global-header a:visited */ {
  
  color:$nav-top-text-active-color;
  /*text-decoration:underline;*/
}

.nys-global-header ul > li > ul li:hover {
  background-color: $nav-top-hover-bkgd-color;
}

