// ************************* //
// HERO PARTIAL
// CREATED BY WEBNY
// ************************* //

// ##################################################################
/* MOBILE FIRST STYLES */

// COLORS
$newsTitleColor:    	     #ffffff;
$newsBkColor:		         #128ec3;
$keywordBkColor:             #7690b6;
$linkColor:                  rgb(0, 0, 238);
$contactTitleColor:          #24387e;
$nyOrange:                   #d5820d;
$landtitlebk:                #24387e;

// ========================================================================= //
/* FONTS / SIZES */

header.hero-has-image{
  background-color: #ddd;
    opacity: .9;
}

header.hero-no-image{
  background-color: $newsBkColor;
}

// ========================================================================= //
/* HERO LAYOUT */
.hero-layout {

  header{
    padding: 30px 0;
  }

  header.hero-header{
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100px;
    overflow: hidden;
    position: relative;
  }


  .hero-has-image > .hero-bkg {
    background: url("../icons/bkg-gradient.png") repeat-y scroll left top !important;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .hero-published-date {
    font-family: "ProximaNovaBold";
    font-size: 0.8em;
    margin-top: 20px;
    padding: 20px 20px 0;
    text-transform: uppercase;
    color: $white;
    position: relative;
    z-index: 3;
  }

  .hero-published-date > div{
    display: inline-block;
  }

  .hero-location {
    border-left: 1px solid #d9e2e2;
    display: inline-block;
    font-family: "ProximaNovaRegular";
    margin-left: 5px;
    padding-left: 9px;
    text-transform: none;
    color: $white;
  }

  h1{
    padding: 20px 20px 0 20px;
    color: $newsTitleColor;
    line-height: 32px;
    font-size: 28px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
  }

  .hero-keywords {

    height: 3em;
    margin-right: 5px;
    position: relative;
    padding: 20px 20px 0;
    position: relative;
    z-index: 3;
  }

  .hero-keywords > div > div{
    display: inline-block;
  }

  .hero-keywords a {
    background-color: $keywordBkColor;
    font-family: "Oswald-bold";
    font-size: 0.8em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 1.125em;
    padding: 10px;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;

  }
    
  .hero-summary{
    font-size: 1em;
    color: $white;
    width: 100%;
    position:  relative;
    z-index: 5;
    padding: 20px 0 0 20px;
    text-align: left;
      
  }
    
} // END HERO-LAYOUT

.landing-hero {
    h1, 
    .hero-summary,
    .hero-keywords{
        padding-left: 56px;
    }
}

  // ######################################################################### //
/* TABLET VIEW */
@media (min-width: 30em) {

.hero-layout {
    h1{
      font-size: 46px;
      line-height: 60px;
      width: 70%;
      padding: 20px 20px 0;
    }

  header.hero-header {
    min-height: 428px;
  }
    
    .hero-summary{
        font-size: 1em;
        color: $white;
        width: 70%;
      }    

}
} // END TABLET VIEW

  // ######################################################################### //
/* DESKTOP VIEW */
@media (min-width: 48em) {

} // END DESKTOP VIEW