// Hero
//
// Styling for various Hero types.
//
// For more information please see the story sources: https://itswebny.atlassian.net/browse/NDD-139 and https://itswebny.atlassian.net/browse/NDD-188
//
// Style guide: components.hero


// Landing Page
//
// Styling for the Landing Page Content Type Hero. This example does not contain a photo.
//
// For more information please see the story source: https://itswebny.atlassian.net/browse/NDD-188
//
// Markup: hero-landing.hbs
//
// Style guide: components.hero.landing

// News Page
//
// Styling for the News Content Type Hero.
//
// For more information please see the story source: https://itswebny.atlassian.net/browse/NDD-139 
//
// Markup: hero-news.hbs
//
// Style guide: components.hero.news

// color variables
$hero-bkgd-color: $color-tertiary !default;
$hero-text-color: $white !default;
$hero-keyword-bkgd-color: $color-secondary !default;
$hero-keyword-hover-bkgd-color: $button-bkgd-hover-color !default;
$hero-keyword-text-color: $white !default;

// ************************* //
// HERO PARTIAL
// CREATED BY WEBNY
// ************************* //

// ##################################################################
/* MOBILE FIRST STYLES */

// ========================================================================= //
/* FONTS / SIZES */

.hero-has-image{
  background-color: #ddd;
    opacity: .9;
}

.hero-no-image{
  background-color: $hero-bkgd-color;
}

// ========================================================================= //
/* HERO LAYOUT */
.hero-layout {

  
  .hero-inner{
      // width: 100%;
      max-width: 600px;
  }    
  
  // 8/8/16 we might want to bring this more in line with the landing page and ipage
  // plus, why can't they all use the same class?  
  .hero-news-inner{
      margin: 60px 20px;
  }
  
 .hero-ipage-inner,   
 .hero-landing-inner{
     // margin: 60px 56px;
    padding: 40px 8%;
     .hero-has-image {
       position: relative;
     }
  }

  .hero-header{
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: $hero-text-color;
    min-height: 100px;
    overflow: hidden;
    position: relative;
  }


  .hero-has-image  .hero-bkg {
    background: url("../icons/bkg-gradient.png") repeat-y scroll left top !important;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .hero-published-date {
    font-family: $base-font;
    font-size: 0.8em;
    text-transform: uppercase;
    color: $hero-text-color;
    position: relative;
    z-index: 3;
  }

  .hero-published-date > div{
    display: inline-block;
  }

  .hero-location {
    border-left: 1px solid #d9e2e2;
    display: inline-block;
    font-family: $base-font;
    margin-left: 5px;
    padding-left: 9px;
    text-transform: none;
    color: $hero-text-color;
  }

  h1,h2{
    
    color: $hero-text-color;
    line-height: 32px;
    font-size: 28px;
    width: auto;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
  }

  .hero-keywords {
   /* height: 3em;
    margin-right: 5px;
    position: relative;
    position: relative;
    z-index: 3; */
    margin-top: 40px;
  }

//used only on inner pages currently
  .hero-keywords > div > div{
    //display: inline-block;
  }
//used on landing pages
.hero-keywords div {
  //display:inline-block;
  margin: 17px 0;
}


 .hero-keywords a {
   font: 13px/4 "proxima nova";
   color: #ffffff;
   cursor: pointer;
   text-decoration: none;
   display:inline-block;
   background: transparent;
   border: 1px solid rgba(255,255,255,0.7);
   text-align: center;
   padding: 0 20px;
   letter-spacing: 2px;
   text-transform: uppercase;
   min-width: 200px;
    &:hover {
     border: 1px solid #fff;
     background-color: rgba(0,0,0,0.8)
   }
 }

  /*.hero-keywords a {
    background-color: $hero-keyword-bkgd-color;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 0.8em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 1.125em;
    padding: 10px;
    text-transform: uppercase;
    color: $hero-keyword-text-color;
    text-decoration: none;
    &:hover {
      background-color: $hero-keyword-hover-bkgd-color;
    }
  } */
    
  .hero-summary{
    font-size: 1em;
    color: $hero-text-color;
    width: auto;
    position:  relative;
    z-index: 5;
   
    text-align: left;
      
  }
    
} // END HERO-LAYOUT

.hero-landing {
    h2, 
    .hero-summary,
    .hero-keywords{
        
    }
}

  // ######################################################################### //
/* TABLET VIEW */
@media (min-width: 48em) {

.hero-layout {

  //used only on inner pages currently
    .hero-keywords > div > div{
      display: inline-block;
    }
  //used on landing pages
  .hero-keywords div {
    display:inline-block;
    margin: 0 20px 0 0;
  }

  .hero-ipage,    
  .hero-landing {
    min-height: 385px;
  }
    
  .hero-inner{
      width: 85%;
      margin: 60px 0 0 0;
      padding: 0 2%;

  }
    
  h1,h2{
    font-size: 46px;
    line-height: 60px;
    color: $white; 
  }
    
  .hero-summary{
    font-size: 1em;
    color: $hero-text-color;
   }    

} // END HERO-layout
    
} // END TABLET VIEW

  // ######################################################################### //
/* DESKTOP VIEW */
@media (min-width: 60em) {

.hero-layout {
    h1{
      
    }
  .hero-ipage,    
  .hero-landing {
    //min-height: 385px;
  }
    .hero-inner{
      width: 60%;
      padding: 0 4%;
  }

  .hero-has-image {
    min-height: 510px
  }
    
  .hero-news {
    min-height: 428px;
  }

} // END HERO LAYOUT
    
    
} // END DESKTOP VIEW