.view {
  .pager {
    padding-top: 16px;

    &__items {
      float: right;
      list-style-type: none;
      margin-left: 10px;
    }

    &__item {
      float: left;
      padding: 16px;
      color: $color-tertiary;
      font-weight: 900;
      font-size: 13px;

      &--next,
      &--previous,
      &--first,
      &--last {
        padding-top: 0;

        a {
          @extend .button;
          font-weight: normal;
        }
      }
    }
  }
}
