// Plan Summary
//
// Plan Summary styling.
//
// Markup: plan-summary.hbs
//
// Style guide: components.plan_summary

// color variables
$summary-frame-bkgd-color: $color-secondary !default;
$summary-frame-title-color: $black !default;
$summary-frame-headline-color: $white !default;
$summary-frame-keypt-title-color: $white !default;
$summary-frame-keypt-text-color: $black !default;
$summary-frame-keypt-border: $color-secondary !default;
$summary-frame-button: $white !default;

// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */

.paragraph {
  display: block;
}  

.paragraph--type--webny-summary-pgtype {
  background-color: $summary-frame-bkgd-color;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
}

.keypoint--field-webny-summary-title {
  font-family: $oswald;
  font-weight: bold;
  font-size: $frame-title;
  font-weight: 800;
  color: $summary-frame-title-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.keypoint--field-webny-summary-headline {
  font-family: $base-font;
  font-size: $frame-headline;
  font-weight: 800;
  color: $summary-frame-headline-color;
  text-align: center;
  margin-bottom: 50px;
  line-height: 3rem;
}

.keypoint {
 display: inline-block;
 width: 95%;
 padding: 0 1%;
 overflow: auto;
 vertical-align: top;
 text-align: center;
}
  
.keypoint--field-webny-summary-keypoint1,
.keypoint--field-webny-summary-keypoint2,
.keypoint--field-webny-summary-keypoint3{
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 800;
  color: $summary-frame-keypt-title-color;
  margin: 20px 0;
}

.keypoint--field-webny-summary-argument1,
.keypoint--field-webny-summary-argument2,
.keypoint--field-webny-summary-argument3{
  font-family: $base-font;
  font-size: 0.7778rem;
  color: $summary-frame-keypt-text-color;
  padding: 0 16px;
  margin-bottom: 30px;
}

.keypoint--field-webny-summary-argument1 p,
.keypoint--field-webny-summary-argument2 p,
.keypoint--field-webny-summary-argument3 p {
  text-align: center;
}

.keypoint:nth-of-type(2n+2) {
  border-top:1px solid rgba($summary-frame-keypt-border, .2);
}

.keypoint:nth-of-type(1n+2) {
  border-top: 1px solid rgba($summary-frame-keypt-border, .2);
  border-bottom: 1px solid rgba($summary-frame-keypt-border, .2);
}

.sectionBorder {
  display: inline-block;
  border-top: 1px solid;
  border-top-color: rgba($summary-frame-keypt-border, .2);
  border-left: 0px;
  width: 100%;
  margin: 1% 0;
}

.keypoint--field-webny-summary-cta {
  @extend .buttonDkLt;
  display: block;
  margin-top: 3em;
  width: auto;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  &:visited{
    color: $white;
  }
}

.keypoint--field-webny-summary-cta {
  &>a:visited{
    color: $white;
  }
}

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {
  
.keypoints {
 display:flex;
 flex-flow: row nowrap;
 justify-content:center;
}
  
.keypoint--field-webny-summary-argument1,
.keypoint--field-webny-summary-argument2,
.keypoint--field-webny-summary-argument3{
  font-family: $base-font;
  font-size: 0.7778rem;
  font-weight: 800;
}
  

.keypoint{
//  display: inline-block;
  float: left;
  width: 30%;
  margin-bottom: 30px;
  
}

.keypoint:nth-of-type(2n+2) {
  border-left:2px solid lighten($summary-frame-keypt-border, 20%);
  border-top: 0;
}

.keypoint:nth-of-type(1n+2) {
  border-left:2px solid lighten($summary-frame-keypt-border, 20%);
  border-top: 0;
  border-bottom: 0;
}
  
.sectionBorder {
  width: auto;
  height: 225px;
  border-top: none;
  border-left: 2px solid;
  border-left-color: lighten($summary-frame-keypt-border, 20%);
  margin: 0 0.5%;
  float: left;
}
  
  .keypoint--field-webny-summary-cta {
  clear: both;
  }
  
} // END MIN TABLET VIEW


// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {

.keypoints {
 display:flex;
 flex-flow: row nowrap;
 justify-content:center;
}
 
.keypoint{
    padding: 1.5%;
    margin-bottom: 30px;
  }
  
.keypoint--field-webny-summary-argument1,
.keypoint--field-webny-summary-argument2,
.keypoint--field-webny-summary-argument3{
  font-family: $base-font;
  font-size: 1rem;
  font-weight: 800;
}
  
.keypoint:nth-of-type(2n+2) {
  border-left:2px solid lighten($summary-frame-keypt-border, 20%);
}
  
.keypoint:nth-of-type(1n+2) {
  border-left:2px solid lighten($summary-frame-keypt-border, 20%);
}
  
 .keypoint--field-webny-summary-cta {
  clear: both;
  
  }
}