// Secondary Navigation
//
// Styling for Module elements (port for distro)
//
// Markup: secondary_navigation.hbs
//
// Style guide: components.secondary_navigation


// ########################################################################################
// VARS

// SECONDARY NAVIGATION COLORS
$secnav-background-color:   $color-secondary !default;
$secnav-font-color:         #fff;


// MOBILE FIRST
#secondary-navigation {

  width: 100%;
  background-color: $secnav-background-color;
  padding: 10px;
  color: $secnav-font-color;

  p{
    font-size: 16px;
    color: $secnav-font-color;
    margin: 3px 0;
  }

  .secnav-secone{}
  .secnav-equal-space{
    width: 100%;

  }

  // SECTION TWO ##################
  div.secnav-sectwo {

    // WYSIWYG


    // LINKS
    ul.secondary-nav-links {
      li {
        display: inline-block;

        a {
          font-size: 16px;
          color: $secnav-font-color;
        }
      }
    }
  }


} // end secondary-navigation

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {

} // END MIN TABLET VIEW


// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {

#secondary-navigation {

  width: 100%;
  display: flex;

  .secnav-secone{}
  .secnav-equal-space{
    width: 48%;

  }

}

} // END MIN PC
