// Share Bar styling
//
// Markup: share_bar.hbs

// ######################################################################### //
/* MOBILE VIEW */
.webny-share-bar {
	background-color: $color-primary;
    font-size: 0.8em;
    color: #fff;
    height: 50px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}
.webny-share {
	display: inline;
    overflow: hidden;
}
.webny-share-bar-icons {
    float: right;
    display: inline-block;
    padding: 12px 25px 8px 0;
}
    .webny-action-share-label {
    	font-size: 13px;
        font-family: 'ProximaNovaRegular';
    }
    .webny-action-share-button {
        cursor: pointer;
        padding: 0 5px;
    }
   .icon-email {
     font-size: 12.8px;
     color: #fff;
     &:hover {
       color: $color-secondary;
     }
   }
 
   .icon-facebook {
     font-size: 12.8px;
     color: #fff;
     &:hover {
       color: $color-secondary;
     }
   }
 
   .icon-twitter {
     font-size: 12.8px;
     color: #fff;
     &:hover {
       color: $color-secondary;
     }
   }
  }
.icon-facebook {@include icon(before, fa-facebook);}
.icon-twitter {@include icon(before, fa-twitter);}
.icon-email{ @include icon(before, fa-envelope);}


// ######################################################################### //
/* MIN TABLET VIEW */





// ######################################################################### //
/* PC VIEW */