// Sitemap styling
// WebNY Sitemap feature.
//
// Markup: sitemap.hbs
//


// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */


.sitemap {
  margin: 50px auto;
  max-width: 780px;
  width: 80%;
}

.sitemap ul {
	color: green;
}

.sitemap ul li > ul{
	color: red;
}

.sitemap-menu {
	list-style-type: none;
}





// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {



} // END TABLET VIEW







// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {



} // END MIN PC VIEW