// Sitemap styling
// WebNY Sitemap feature.
//
// Markup: sitemap.hbs
//


// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */

.layout-content {
	display: block;
}

.sitemap {
  display: inline-block;
  margin: 50px;
  max-width: 780px;
  width: 80%;
}

.sitemap-menu {
	list-style-type: none;

}

.sitemap .sitemap-box ul {
	float: left;
	position: relative;
	padding-left: 1.5em;
}

.sitemap-box-menu {
	display: inline-block;
}

.sitemap-box .content {
	display: inline-block;
	width: 100%;
}

.sitemap-box-menu-global-navigation {
	border-bottom: 1px solid $color-mono-mid;
	margin-top: 30px;
	padding-bottom: 10px;
}


ul.sitemap-menu {
	display: inline-block;
	width: 100%;
}

/* Top Level Nav Item Styles */
.content > ul.sitemap-menu > li {
	width: 90%;
}

.content > ul.sitemap-menu > li:nth-child(5n) {
	clear: left;
}

/* Top Level Nolink Styles */
.content > ul.sitemap-menu > li > span {
	font-size: 0.889em;
	font-weight: 900;
	padding-right: 20px;
	float: left;

	&:after {
	font-family: 'icomoon';
	content: "\F054";
	font-size: 0.667em;
	color: $text-blue;
	padding-left: 10px;
	}

}

/* Top Level Link Styles */
.content > ul.sitemap-menu > li > a {
	font-size: 0.889em;
	font-weight: 900;
	color: $color-mono-black;
	float: left;
	padding-right: 20px;

	&:after {
	font-family: 'icomoon';
	content: "\F054";
	font-size: 0.667em;
	color: $text-blue;
	padding-left: 10px;
	display: inline-block;
	}
}

/* Second Level Nav Item Styles */
.content > ul.sitemap-menu ul {
	clear: both;
	font-size: 0.667em;
	font-weight: 500;
	padding-left: 0;
	width: 80%;
	line-height: 22px;
}



// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) {


.sitemap-menu > li {
	float: left;
}

.sitemap-menu > li > ul > li{
	clear: both;
}	

.sitemap-box-menu-global-navigation,
.sitemap-box-menu-webny-global-footer-menu {
	width: 100%;
	clear: both;

}

/* Top Level Nav Item Styles */
.content > ul.sitemap-menu > li {
	width: 50%;
}

/* Top Level Nolink Styles */
.content > ul.sitemap-menu > li > span {
	
}

/* Top Level Link Styles */
.content > ul.sitemap-menu > li > a {

}

} // END TABLET VIEW







// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-pc) {

.sitemap {
  margin: 50px 100px;
  max-width: 1000px; 
  width: 90%;
}

/* Top Level Nav Item Styles */
.content > ul.sitemap-menu > li {
	width: 25%;
	/* min-height: 150px; */
}
	

} // END MIN PC VIEW