.webny-teaser {
  //width: 75%;
  margin: 20px;
  border: 1px solid $gray-lite;
  font-family: "ProximaNovaRegular", Arial, sans-serif;

  &-image {
    display: none;

    @include breakpoint($min-tablet) {
      display: block;
      float: left;
      margin-right: 15px;

      svg {
        width: 202px;
        height: 202px;
        background-color: $color-secondary;
        fill: $color-mono-white;
        padding: 20px;
      }
    }

    @include breakpoint($min-desktop) {
      margin-right: 25px;
    }
  }

  &-content-wrapper {
    max-height: 184px;
    box-sizing: border-box;
    padding: 10px 15px 0;
    font-size: 14px;

    @include breakpoint($min-mobile) {
      font-size: 16px;
    }

    @include breakpoint($min-tablet) {
      font-size: 14px;
    }

    @include breakpoint($min-desktop) {
      font-size: 16px;
      padding: 20px 25px 0;
    }
  }

  &-filter-terms {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    padding-top: 5px;
    

    @include breakpoint($min-desktop) {
      padding-top: 0;
    }
  }

  &-filter-term-border {
      width: 40px;
      border-bottom: 1px solid $gray-lite;
      display: inline-block;
  }

  span {
    &-filter-term-border  {
        margin: 9px 0;
    }
  }  

  &-title {
    font-size: 1.17em;
    font-weight: 600;
    margin-bottom: 7px;
    line-height: .9;


    @include breakpoint($min-mobile) {
      margin-bottom: 10px;
      line-height: 27px;
    }

    @include breakpoint($min-tablet) {
      font-size: 15px;
    }
    @include breakpoint($min-desktop) {
      font-size: 19px;
    }
  }

  .links {
    list-style: none;
    padding: 4px 0;
    margin: 1px -1px -1px;
    background-color: $color-mono-lt;
    border: 1px solid $gray-lite;

    @include breakpoint($min-mobile) {
      padding: 10px 0;
    }

    a {
      position: relative;
      left: 38px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      color: black;

      &::before {
        content: '\f054';
        font-family: 'icomoon';
        color: $primarygold;
        position: absolute;
        left: -20px;
      }

      @include breakpoint($min-tablet) {
        left: 25px;
      }
    }
  }

}