.webny-teaser {
  //width: 75%;
  //margin: 20px;
  //width: 90%;
  margin: 20px auto;
  border: 1px solid $gray-lite;
  font-family: "ProximaNovaRegular", Arial, sans-serif;

  .webny-card-teaser {

    height: 73px;
    line-height: 18px;

    @include breakpoint($min-tablet) {
      height: 100px;
    }

  }

  &-wrapper {
    display: flex;
  }

  .layout-container ul li {
    margin: 5px 0 !important;
    padding: 0;
  }

  &-image {
    display: none;

    @include breakpoint($min-desktop) {
      display: block;
      float: left;
      height: 240px;

      svg {
        width: 202px;
        height: 202px;
        background-color: $color-secondary;
        fill: $color-mono-white;
        padding: 20px;
      }

      .list-fallback-img svg {
        padding: 70px;
        width: 102px;
        height: 102px;
      }

      img {
        max-width: none;
      }

      .st0,
      .st1 {
        stroke: $color-mono-white;
      }
    }
  }

  &-content-wrapper {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;

    &__details {
      //display: flex;
      padding: 10px 15px 0;

      @include breakpoint($min-desktop) {
        height: 164px;
        //box-sizing: border-box;
      }

      @include breakpoint($min-desktop) {
        padding: 20px 25px 0;
      }
    }

    &__details-left {
      padding-top: 10px;
      flex-basis: 40%;
      border-right: 1px solid $gray-lite;
      margin-right: 20px;

      @include breakpoint($min-desktop) {
        //margin-right: 0;
      }

      @include breakpoint($min-desktop) {
        margin-right: 20px;
        padding-top: 20px;
      }

      @include breakpoint($min-wide) {
        flex-basis: 50%;
      }
    }

    &__details-right {
      padding-top: 10px;
      flex-basis: 60%;

      @include breakpoint($min-desktop) {
        padding-top: 20px;
      }
    }

    @include breakpoint($min-mobile) {
      font-size: 16px;
    }

    @include breakpoint($min-tablet) {
      font-size: 14px;
    }

    @include breakpoint($min-desktop) {
      font-size: 16px;
    }
  }

  &__events{
    .webny-teaser-content-wrapper__details {
        display: flex;
        padding: 0 15px;

        @include breakpoint($min-tablet) {
          height: 184px;
        }

        @include breakpoint($min-desktop) {
          padding: 0 25px;
        }
      }
  }

  &-filter-terms {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    padding-top: 5px;
    

    @include breakpoint($min-desktop) {
      padding-top: 0;
    }
  }

  &-filter-term-border {
      width: 40px;
      border-bottom: 1px solid $gray-lite;
      display: inline-block;
  }

  span {
    &-filter-term-border  {
        margin: 9px 0;
    }
  }  

  &-title {
    font-size: 1.17em;
    font-weight: 600;
    margin-bottom: 7px;
    line-height: .9;


    @include breakpoint($min-mobile) {
      margin-bottom: 10px;
      line-height: 27px;
    }

    @include breakpoint($min-tablet) {
      font-size: 15px;
    }
    @include breakpoint($min-desktop) {
      font-size: 19px;
    }
  }

  .description {
    line-height: 1.1;
    height: 100px;
  }

  .event-date__wrapper {
    display: flex;
    flex-direction: column;

    @include breakpoint($min-wide) {
      width: 71%;
    }
  }

  .event-date {
    @include event-date;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint($min-wide) {
      flex-direction: row;
    }

    .day-month-wrapper {
      padding-bottom: 15px;

      @include breakpoint($min-wide) {
        padding-bottom: 20px;
      }
    }

    .time {
      color: $color-mono-black;
      padding-left: 20px;

      @include breakpoint($min-wide) {
        padding: 0;
      }
    }

    .address {
      color: $color-mono-black;

      &-wrapper {
        margin-top: 10px;
        padding-top: 10px;

        @include breakpoint($min-wide){
          margin-top: 20px;
          padding-top: 20px;
        }
      }
    }
  }

  .day-month-wrapper {
    width: 100%;

    @include breakpoint($min-wide) {
      width: 24%;
    }
  }

  .month {
    text-align: center;
  }

  .day {
    text-align: center;
  }

  .meridiem {
    font-size: 12px;
    text-transform: lowercase;
  }

  .address-wrapper {
    padding-left: 20px;

    @include breakpoint($min-wide) {
      padding: 0;
    }

    .city-state-zip {
      display: block;

      @include breakpoint($min-wide) {
        display: inline;
      }
    }

    .separator {
      margin-left: -4px;
    }
  }

  .links,
  .actions {
    list-style: none;
    padding: 4px 36px;
    margin: 1px 0 -1px 0;    
    background-color: $color-mono-lt;
    border: 1px solid $gray-lite;
    border-left: 0;
    border-right: 0;

    @include breakpoint($min-mobile) {
      padding: 10px 43px;
    }
  }

  .links a {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: black;


    &::before {
      content: '\f054';
      font-family: 'icomoon';
      color: $primarygold;
      position: absolute;
      left: -20px;
    }
  }

}