
.paragraph--type--webny-video-pgtype {
  margin: 0 auto;
  text-align: center;
  position:relative;
  max-width: 660px;

  .video-js {
    position: relative;
    margin: 0 auto;
  }

  h2 {
    font: 800 2.22em "Proxima Nova", Arial, sans-serif;
    line-height: 1.25em;
    padding-bottom: 0;
  }

  h3 {
    font: bold 16px "Oswald", Arial, sans-serif;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  p {
    margin: 1.5rem 0 2.25rem;
  }
}

