// View Results
//
// Styling for the News List View, including the exposed filters, results, and pager.
//
// Markup: view_results.hbs
//
// Style guide: components.views_results

// color variables
$views-results-stroke-color: $white !default;
$views-results-fill-color: $color-icon-primary !default;
$results-highlight-color: $color-secondary !default;
$results-head-bkgrnd: $color-secondary !default;
$results-head-title: $black !default;
$results-head-headline: $white !default;
//.st1 {stroke: red;}
//.st2 {stroke:gray-lite;}
.results-head {
background-color: $results-head-bkgrnd;
text-transform: center;
padding: 20px 0;
}

.results-title {
font: $frame-title;
color: $results-head-title;
}

.results-headline {
font: $frame-headline;
color: $results-head-headline
}


.results-image svg {
  background-color:$views-results-fill-color;
}
.results-image .st0{
  opacity:0;
  fill:$views-results-fill-color;
}
.results-image .st1{
  fill:none;
  stroke: $views-results-stroke-color;
  stroke-width:2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;

}

.results-image .fallback-img {
  max-width: 240px;
}

// if we have other results related displays, this can probably be placed in base 
.results-total {
  padding: 20px 0;
}

.results-total-number {
  font-size: 2.3em; 
  font-weight: 800;
  color: $results-highlight-color;
}

.results {
  //color: white;
  font-family: $base-font;
  background-color: $exposedbkgrnd;
  //float: left;
  position: relative;
  overflow: hidden;

  .results-exposed-filters-outer {
    padding: 0 20px;
  }

  .results-exposed-filters-title {
    color: $results-highlight-color;
    font-size: 16px;
    text-transform: uppercase;
  }

  .filterBodyDisplay {
    display: block;
  }
  .filterBodyHidden {
    display: none;
  }

  form {
    color: rgb(255, 255, 255);

    label {
      color: rgb(255, 255, 255);
      font-size: 16px;
    }
    input {
      background-color: $exposedbkgrnd;
      border-style: solid;
      border-width: 1px;
      border-color: $darkgray;
      color: $white;
    }

    input[type="text"]:focus, input[type="date"]:focus {
      color: $black;
    }

    .form-item-field-webny-news-global-keywords-target-id input {
      border-radius: 15px;
    }
    .form-item-field-webny-news-agency-keywords-target-id input {
      border-radius: 15px;
    }
  }
  .form-item {
    //width:70%;
  }

  .results-list {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ffffff;
   // float: left;
    width: 100%;
    overflow: hidden;
  }

    .results-list-inner {
    padding: 0 20px;
  }

  .views-row {
    border: 1px solid $gray-lite;
    //padding-left: 0;
    //min-height: 240px;
    //width:70%;
    //overflow: auto;
    //margin-left: 40px;
    //margin-right: 40px;
    //margin-bottom: 8px;
    //margin-top: 8px;
    margin: 8px 0px;
    float: left;
    width:100%;
    position: relative;

    .results-title {
      margin: 16px 0;
      font-size: 19px;
      padding: 0 10px;
      a {
        color: $text-blue;
        text-decoration: none;
      }
    }

    .results-date {
      font-size: 12px;
      padding: 0 10px;
      color: $base-font-color;
      .results-date-day {
        font-weight: bold;
      }
    }

    .results-image {
      float: left;
      margin-right: 16px;
      max-height:240px;
      .field-content {
        max-height: 240px; //something isn't right in here
      }
      img {
        float: left;
        border: 0;
      }
    }

    .views-field-body {
      padding: 0 10px;
    }

    .results-teaser {
      color: $base-font-color;
      font-size: 16px;
      padding-right: 16px;
    }
  }

  .pager__items {
    float: left;
    list-style-type: none;
    margin-left: 10px;
    .pager__item {
      float: left;
      padding: 5px;
    }
  }
}



.results {
  @include breakpoint($min-desktop) {
    form.views-exposed-form {
      @include span(3 of 12){
        //padding-left: 15px;
        .filterTog {
          display:none;
        }
      }
    }
    div.results-list {
      @include span(9 of 12 last) {
       // padding-right: 25px;
         .results-list-inner {
         padding: 0 40px;
       }
        .views-row {
         padding-left: 0;
        }
      }
    }
  }
  @media (max-width:$min-tablet){
    .results-image svg {
      display:none;
    }
  }
} 
// the following class was placed to fix the issue of the footer rendering into the view results area
.nygov-universal-footer {
  //display: flex;
  clear:both;
}

// override of core active throbber - avoids tiling
.js input.form-autocomplete.ui-autocomplete-loading {
  background-repeat: no-repeat;
}
