// WYSIWYG Frame
//
// WYSIWYG Frame frontend styling.
//
// Markup: wysiwygframe.hbs
//
// Style guide: components.wysiwygframe
 
// color variables
$wysiwyg-frame-bkgd-color: $color-mono-white !default;
$wysiwyg-frame-title-color: $color-primary !default;
$wysiwyg-frame-headline-color: $color-mono-black !default;
$wysiwyg-frame-text-color: $color-mono-black !default;

// for desktop - to keep it from getting too wide to read
.wysiwyg--field-webny-wysiwyg-title, 
.wysiwyg--field-webny-wysiwyg-headline, 
.wysiwyg--field-webny-wysiwyg-body {
  max-width: $max-pc; 
  margin: 0 auto;
  //padding: 0 8%; //taken from ny.gov padding on frames --hidden to remove indent so everything lines
}
.landing-paragraphs .wysiwyg--field-webny-wysiwyg-body {
  padding: 0 8%;
}

.paragraph--type--webny-wysiwyg-pgtype {
  background-color: $wysiwyg-frame-bkgd-color;

}

.wysiwyg--field-webny-wysiwyg-title {
  font: $frame-title; 
  color: $wysiwyg-frame-title-color;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  //font-weight: bold;
}

.wysiwyg--field-webny-wysiwyg-headline {
  color: $wysiwyg-frame-headline-color;
  font: $frame-headline;
  //font-weight: 800;
  text-align: center;
  line-height: 1.75em;
  margin-bottom: 15px;
}

.front .wysiwyg--field-webny-wysiwyg-headline {
  font: $frame-headline-front;
  line-height: 1.25em;
}

// I'm not setting text-align center on the body field because they want the left, right, center and justify wysiwyg buttons and this text-align would override that 
.wysiwyg--field-webny-wysiwyg-body {
  color: $wysiwyg-frame-text-color;
  font-size: 16px;
  line-height: $frame-base-line-height;
}

// ######################################################################### //
/* TABLET VIEW */
@media (min-width: 30em) {
  .wysiwyg--field-webny-wysiwyg-body {
    font-size: 18px;
  }

  .landing-paragraphs .wysiwyg--field-webny-wysiwyg-body {
    font-size: 16px;
  }

// ######################################################################## //
/* DESKTOP VIEW */
@media (min-width: $min-desktop) { 
  .landing-paragraphs .wysiwyg--field-webny-wysiwyg-body { 
    padding: 0;
  }
}
}

