<article data-history-node-id="20" data-quickedit-entity-id="node/20" role="article" class="contextual-region webny-announcements" about="/node/20" data-quickedit-entity-instance-id="1"> 
  <div class="webny-announce-wrap">
    <div class="webny-announce-wrap-in">
        <div class="announcement-info">
            <h3><span data-quickedit-field-id="node/20/title/en/webny_announcement">News Example: Governor Cuomo Launches Year Three of 43North</span>
</h3>
            <div class="announcement-date">
                March 15, 2016 
            </div>
            <div class="announcement-summary">
                Applications are now being accepted for the third year of 43North. 
            </div>
        </div>
        <div class="webny-announcement-button">
          <a href="/node/20">LEARN MORE</a>
        </div>
    </div>    
  </div>
</article>