<article data-history-node-id="14" data-quickedit-entity-id="node/14" role="article" class="contextual-region webny-announcements" about="/node/14" data-quickedit-entity-instance-id="0"> 
      <div class="webny-announce-wrap">
        <div class="webny-announce-wrap-in">
            <div class="announcement-info">
                <h3><span data-quickedit-field-id="node/14/title/en/webny_announcement">Landing Page Example: Division of Homeland Security</span>
</h3>
                <div class="announcement-summary">
                    Grant Administration, Emergency Planning, Training (Professional, Emergency Management, Fire or Public) Disaster Recovery , Emergency Communications, Public Safety, Emergency Preparedness
 
                </div>
            </div>
            <div class="webny-announcement-button">
              <a href="/node/14">LEARN MORE</a>
            </div>
        </div>        
     </div>
  </article>