<div class="press-docs">
                <h2 class="doc-set-title">
            <div data-quickedit-field-id="node/30/field_webny_news_docsec_title/en/full" class="quickedit-field">Title</div>
      </h2>
                    <h3 class="doc-set-subtitle">
            <div data-quickedit-field-id="node/30/field_webny_news_docsec_subtitle/en/full" class="quickedit-field">Subtitle</div>
      </h3>
        <div class="press-docs-eref">
        
      <div data-quickedit-field-id="node/30/field_webny_news_attdocs_eref/en/full" class="quickedit-field">
              <div>



<article data-history-node-id="1" data-quickedit-entity-id="node/1" role="article" class="contextual-region webny-document node--unpublished node--view-mode-attached-documents" about="/node/1" data-quickedit-entity-instance-id="0">
    
    
  <div class="webny-document node--unpublished node--view-mode-attached-documents attdoc-node">

    <ul class="doc-list">
        <li class="document-wrapper">

          <div class="doc-info">
            <div class="fa-document">&nbsp;</div>
            <h4 class="doc-title">
                                    <a href="/"><span data-quickedit-field-id="node/1/title/en/attached_documents" class="quickedit-field">Paid Family Leave - Korean</span>
</a>
                            </h4>
            <span class="doc-language">
            <div data-quickedit-field-id="node/1/field_webny_document_language/en/attached_documents" class="quickedit-field">Korean</div>
      </span>
            <span class="doc-description">
            <div data-quickedit-field-id="node/1/body/en/attached_documents" class="quickedit-field"><p>Paid Family Leave&nbsp;Korean Translation</p>
</div>
      </span>
          </div><!--end doc-info-->
          
          <div class="download">
            <div class="fa-download">&nbsp;</div>
            <a href="/">Download</a>
          </div>
            
        </li><!--end document-wrapper-->
    </ul>
      <div data-contextual-id="node:node=1:changed=1459447556&amp;langcode=en" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button><ul class="contextual-links" hidden=""><li class="quickedit"><a href="" role="button" aria-pressed="false">Quick edit</a></li><li class="entitynodeedit-form"><a href="/node/1/edit?destination=node/30">Edit</a></li><li class="entitynodedelete-form"><a href="/node/1/delete?destination=node/30">Delete</a></li></ul></div>
</div></article>
</div>
              <div>



<article data-history-node-id="6" data-quickedit-entity-id="node/6" role="article" class="contextual-region webny-document node--unpublished node--view-mode-attached-documents" about="/node/6" data-quickedit-entity-instance-id="0">
    
    
  <div class="webny-document node--unpublished node--view-mode-attached-documents attdoc-node">

    <ul class="doc-list">
        <li class="document-wrapper">

          <div class="doc-info">
            <div class="fa-document">&nbsp;</div>
            <h4 class="doc-title">
                                    <a href="/"><span data-quickedit-field-id="node/6/title/en/attached_documents" class="quickedit-field">Paid Family Leave - French</span>
</a>
                            </h4>
            <span class="doc-language">
            <div data-quickedit-field-id="node/6/field_webny_document_language/en/attached_documents" class="quickedit-field">French</div>
      </span>
            <span class="doc-description">
            <div data-quickedit-field-id="node/6/body/en/attached_documents" class="quickedit-field"><p>Paid Family Leave Release Translation</p>
</div>
      </span>
          </div><!--end doc-info-->
          
          <div class="download">
            <div class="fa-download">&nbsp;</div>
            <a href="/">Download</a>
          </div>
            
        </li><!--end document-wrapper-->
    </ul>
      <div data-contextual-id="node:node=6:changed=1459449478&amp;langcode=en" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button><ul class="contextual-links" hidden=""><li class="quickedit"><a href="" role="button" aria-pressed="false">Quick edit</a></li><li class="entitynodeedit-form"><a href="/node/6/edit?destination=node/30">Edit</a></li><li class="entitynodedelete-form"><a href="/node/6/delete?destination=node/30">Delete</a></li></ul></div>
</div></article>
</div>
              <div>



<article data-history-node-id="39" data-quickedit-entity-id="node/39" role="article" class="contextual-region webny-document node--unpublished node--view-mode-attached-documents" about="/node/39" data-quickedit-entity-instance-id="0">
    
    
  <div class="webny-document node--unpublished node--view-mode-attached-documents attdoc-node">

    <ul class="doc-list">
        <li class="document-wrapper">

          <div class="doc-info">
            <div class="fa-document">&nbsp;</div>
            <h4 class="doc-title">
                                    <a href="/"><span data-quickedit-field-id="node/39/title/en/attached_documents" class="quickedit-field">Paid Family Leave - Chinese</span>
</a>
                            </h4>
            <span class="doc-language">
            <div data-quickedit-field-id="node/39/field_webny_document_language/en/attached_documents" class="quickedit-field">Chinese</div>
      </span>
            <span class="doc-description">
            <div data-quickedit-field-id="node/39/body/en/attached_documents" class="quickedit-field"><p>Paid Family Leave Translation</p>
</div>
      </span>
          </div><!--end doc-info-->
          
          <div class="download">
            <div class="fa-download">&nbsp;</div>
            <a href="/">Download</a>
          </div>
            
        </li><!--end document-wrapper-->
    </ul>
      <div data-contextual-id="node:node=39:changed=1459449525&amp;langcode=en" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button><ul class="contextual-links" hidden=""><li class="quickedit"><a href="" role="button" aria-pressed="false">Quick edit</a></li><li class="entitynodeedit-form"><a href="/node/39/edit?destination=node/30">Edit</a></li><li class="entitynodedelete-form"><a href="/node/39/delete?destination=node/30">Delete</a></li></ul></div>
</div></article>
</div>
          </div>
  
    </div>
</div>