<h3>NY.Gov Buttons Styles</h3>
<br /><p><a class="button">button</a></p>
<div style="background-color:#24387e;height:80px;width:500px;padding:20px;">
  <p><a class="buttonBase buttonTransparentLt">Transparent Button on Dark background</a></p>
  </div>
<p>Used on heroes</p>

<div style="height:75px;">
<p><a class="buttonBase buttonTransparentDk">Transparent Button on Light background</a></p></div>

<div style="background-color:#D5820D; height:80px;width:500px;padding:20px;"><p><a class="buttonBase buttonDkLt">Light and Dark</a></p></div>
<p><a class="button buttonMobile">Mobile button</a></p>
<div style="background-color:#24387e; height:80px; width:500px; padding:20px;"><a class="buttonTransparentLt buttonMobile">Mobile button on dark background</a></div>
<br>
<div style="background-color:#fff;height:80px; width:500px;padding:20px;"><a class="buttonTransparentDk buttonMobile">Mobile button on light background</a></div>
<div style="background-color:#D5820D;height:80px; width:500px; padding:20px;"><a class="buttonDkLt buttonMobile">Mobile button Light & Dark</a></div>

<!-- FRAME BUTTONS -->
<br />

<h3>Frame Button Styles</h3>

<br />
<h4>Announcement Buttons</h4>
<hr />

<div class="webny-announcements">
  <div class="webny-announcement-button">
    <a href="/node/25">LEARN MORE</a>
  </div>
</div>

<br />
<h4>Bioframe Buttons</h4>
<hr />
<div class="bioframe">
  <div class="webny_contact-bioframe">
    <div class="bio-frame-meta">
      <div class="reslink">
        <a href="/">Read More</a>
      </div>
    </div>
  </div>
</div>


<br />
<h4>Get Involved Buttons</h4>
<hr />
<div data-quickedit-entity-id="paragraph/5" class="paragraph paragraph--type--webny-get-involved-pgtype paragraph--view-mode--default" data-quickedit-entity-instance-id="0">
  <div data-quickedit-field-id="paragraph/5/field_webny_get_involved_title/en/default" class="get-involved--field-webny-get-involved-title">Get Involved </div>
  <div data-quickedit-field-id="paragraph/5/field_webny_get_inv_headline/en/default" class="get-involved--field-webny-get-inv-headline">Headline for you!</div>
  <div data-quickedit-field-id="paragraph/5/field_webny_get_inv_description/en/default" class="get-involved--field-webny-get-inv-description">Test this!</div>
  <div class="get-involved--cta-wrapper">
    <div data-quickedit-field-id="paragraph/5/field_webny_get_inv_cta/en/default">
      <div class="get-involved--field-webny-get-inv-cta"><a href="/">Our Test Is This One</a></div>
      <div class="get-involved--field-webny-get-inv-cta"><a href="/">Text 2!</a></div>
      <div class="get-involved--field-webny-get-inv-cta"><a href="/">This Test Button Three</a></div>
    </div>
  </div>
</div>


<br />
<h4>Summary (Plan) Buttons</h4>
<hr />
<div data-quickedit-entity-id="paragraph/4" class="paragraph paragraph--type--webny-summary-pgtype paragraph--view-mode--default" data-quickedit-entity-instance-id="0">

  <div data-quickedit-field-id="paragraph/4/field_webny_summary_title/en/default" class="keypoint--field-webny-summary-title">Summary (Plan)</div>

  <div data-quickedit-field-id="paragraph/4/field_webny_summary_headline/en/default" class="keypoint--field-webny-summary-headline">Headliner at work</div>

  <div class="keypoints">

    <div class="keypoint">

      <div data-quickedit-field-id="paragraph/4/field_webny_summary_keypoint1/en/default" class="keypoint--field-webny-summary-keypoint1">This is a key point</div>

      <div data-quickedit-field-id="paragraph/4/field_webny_summary_argument1/en/default" class="keypoint--field-webny-summary-argument1"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor urna nec posuere elementum. Nam rutrum, lorem a cursus dapibus, lacus est congue quam, sit amet venenatis metus sapien eu augue. Maecenas in malesuada massa. Nulla facilisi. Praesent interdum ipsum non purus congue finibus. Quisque ex arcu, lacinia id facilisis ut, tempus nec diam. Nunc interdum vitae nisi quis semper. Donec et ligula euismod, varius nibh a, vulputate lectus. Etiam congue iaculis nulla, sit amet auctor velit vehicula ut. Curabitur rutrum fermentum nisl, sit amet vulputate magna tempor id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor urna nec posuere elementum. Nam rutrum, lorem a cursus dapibus, lacus est congue quam, sit amet venenatis metus sapien eu augue. Maecenas in malesuada massa. Nulla facilisi. Praesent interdum ipsum non purus congue finibus. Quisque ex arcu, lacinia id facilisis ut, tempus nec diam. Nunc interdum vitae nisi quis semper. Donec et ligula euismod, varius nibh a, vulputate lectus. Etiam congue iaculis nulla, sit amet auctor velit vehicula ut. Curabitur rutrum fermentum nisl, sit amet vulputate magna tempor id.</p>
      </div>
    </div>
    <div class="keypoint">
      <div data-quickedit-field-id="paragraph/4/field_webny_summary_keypoint2/en/default" class="keypoint--field-webny-summary-keypoint2">keypoint 2 ya</div>
      <div data-quickedit-field-id="paragraph/4/field_webny_summary_argument2/en/default" class="keypoint--field-webny-summary-argument2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor urna nec posuere elementum. Nam rutrum, lorem a cursus dapibus, lacus est congue quam, sit amet venenatis metus sapien eu augue. Maecenas in malesuada massa. Nulla facilisi. Praesent interdum ipsum non purus congue finibus. Quisque ex arcu, lacinia id facilisis ut, tempus nec diam. Nunc interdum vitae nisi quis semper. Donec et ligula euismod, varius nibh a, vulputate lectus. Etiam congue iaculis nulla, sit amet auctor velit vehicula ut. Curabitur rutrum fermentum nisl, sit amet vulputate magna tempor id.</p>
      </div>

    </div>
    <div class="keypoint">
      <div data-quickedit-field-id="paragraph/4/field_webny_summary_keypoint3/en/default" class="keypoint--field-webny-summary-keypoint3">key 3</div>
      <div data-quickedit-field-id="paragraph/4/field_webny_summary_argument3/en/default" class="keypoint--field-webny-summary-argument3"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor urna nec posuere elementum. Nam rutrum, lorem a cursus dapibus, lacus est congue quam, sit amet venenatis metus sapien eu augue. Maecenas in malesuada massa. Nulla facilisi. Praesent interdum ipsum non purus congue finibus. Quisque ex arcu, lacinia id facilisis ut, tempus nec diam. Nunc interdum vitae nisi quis semper. Donec et ligula euismod, varius nibh a, vulputate lectus. Etiam congue iaculis nulla, sit amet auctor velit vehicula ut. Curabitur rutrum fermentum nisl, sit amet vulputate magna tempor id.</p>
      </div>
    </div>

  </div>
   <div data-quickedit-field-id="paragraph/4/field_webny_summary_cta/en/default" class="keypoint--field-webny-summary-cta"><a href="/">Call to this action</a></div>


</div>