<h3>NY.Gov Buttons Styles</h3>
<br /><p><a class="button">button</a></p>
<div style="background-color:#24387e;height:80px;width:500px;padding:20px;">
  <p><a class="buttonBase buttonTransparentLt">Transparent Button on Dark background</a></p>
  </div>
<p>Used on heroes</p>

<div style="height:75px;">
<p><a class="buttonBase buttonTransparentDk">Transparent Button on Light background</a></p></div>

<div style="background-color:#D5820D; height:80px;width:500px;padding:20px;"><p><a class="buttonBase buttonDkLt">Light and Dark</a></p></div>
<p><a class="button buttonMobile">Mobile button</a></p>
<div style="background-color:#24387e; height:80px; width:500px; padding:20px;"><a class="buttonTransparentLt buttonMobile">Mobile button on dark background</a></div>
<br>
<div style="background-color:#fff;height:80px; width:500px;padding:20px;"><a class="buttonTransparentDk buttonMobile">Mobile button on light background</a></div>
<div style="background-color:#D5820D;height:80px; width:500px; padding:20px;"><a class="buttonDkLt buttonMobile">Mobile button Light & Dark</a></div>