<div class="paragraph--type--webny-get-involved-pgtype">
  <div class="get-involved--field-webny-get-involved-title">Get Involved</div>
  <div class="get-involved--field-webny-get-inv-headline">What You Can Do</div>
  <div class="get-involved--field-webny-get-inv-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus eros aliquet porta convallis. Nulla tempus finibus erat non vehicula. Donec sagittis mi eu metus ornare efficitur. Nulla sed elit ut ante sagittis auctor id vel turpis. Vestibulum consequat bibendum erat, vel porttitor orci venenatis vitae.</div>
  <div class="get-involved--cta-wrapper">
   <div>
	<div class="get-involved--field-webny-get-inv-cta"><a href="http://google.com">Learn More</a></div>
    <div class="get-involved--field-webny-get-inv-cta"><a href="http://google.com">Contact</a></div>
    <div class="get-involved--field-webny-get-inv-cta"><a href="http://google.com">Sign Up For Our Newsletter</a></div>
   </div>
  </div><!--end get-involved--cta-wrapper--> 
</div><!--end paragraph--type--webny-get-involved-pgtype-->
