<div>  <div data-quickedit-entity-id="paragraph/4" class="paragraph paragraph--type--webny-get-involved-pgtype paragraph--view-mode--default" data-quickedit-entity-instance-id="0">
          

            <div data-quickedit-field-id="paragraph/4/field_webny_get_involved_title/en/default" class="get-involved--field-webny-get-involved-title">Get Involved</div> 
      

            <div data-quickedit-field-id="paragraph/4/field_webny_get_inv_headline/en/default" class="get-involved--field-webny-get-inv-headline">What You Can Do</div> 
      

            <div data-quickedit-field-id="paragraph/4/field_webny_get_inv_description/en/default" class="get-involved--field-webny-get-inv-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus eros aliquet porta convallis. Nulla tempus finibus erat non vehicula. Donec sagittis mi eu metus ornare efficitur. Nulla sed elit ut ante sagittis auctor id vel turpis. Vestibulum consequat bibendum erat, vel porttitor orci venenatis vitae.</div> 
      
<div class="get-involved--cta-wrapper">
      <div data-quickedit-field-id="paragraph/4/field_webny_get_inv_cta/en/default">
            <div class="get-involved--field-webny-get-inv-cta">
            <a title="Learn More" href="/">Learn More</a>
        </div>
            <div class="get-involved--field-webny-get-inv-cta">
            <a title="Contact" href="/">Contact</a>
        </div>
            <div class="get-involved--field-webny-get-inv-cta">
            <a title="Sign Up for Our Newsletter" href="/">Sign Up for Our Newsletter</a>
        </div>
    </div>

  </div>
      </div>
</div>