<div class="webny-global-footer">

  <div id="block-sitebranding">
    <div class="agency-name">
      <a href="/" title="Home" rel="home">Offices of theInspector General</a>
    </div>
  </div>
  <nav id="block-global-footer-menu" class="footer-menu footer-horizontal">

    <ul class="global-footer-top-links">
      <li>
        <a href="/page/accessibility" title="Accessibility Policy" data-drupal-link-system-path="node/696">Accessibility</a>
      </li>
      <li>
        <a href="/form/complaint-form" data-drupal-link-system-path="webform/complaint_form">Contact</a>
      </li>
      <li>
        <a href="/page/disclaimer" title="Disclaimer" data-drupal-link-system-path="node/691">Disclaimer</a>
      </li>
      <li>
        <a href="/page/employment" data-drupal-link-system-path="node/721">Employment</a>
      </li>
      <li>
        <a href="/page/foil" data-drupal-link-system-path="node/701">FOIL</a>
      </li>
      <li>
        <a href="/node/2156" data-drupal-link-system-path="node/2156">Language Assistance</a>
      </li>
      <li>
        <a href="/offices" data-drupal-link-system-path="node/2131">Offices</a>
      </li>
      <li>
        <a href="/page/outreach" data-drupal-link-system-path="node/411">Outreach</a>
      </li>
      <li>
        <a href="/page/privacypolicy" title="Privacy Policy" data-drupal-link-system-path="node/686">Privacy Policy</a>
      </li>
      <li>
        <a href="/site-map" data-drupal-link-system-path="node/2166">Site Map</a>
      </li>
    </ul>



  </nav>


</div>