<nav role="navigation" aria-labelledby="block-agencyglobalnavigation-menu" id="block-agencyglobalnavigation" class="contextual-region nys-global-header">
  <h2 class="visually-hidden agency-name">Agency Global Navigation</h2>
  <div data-contextual-id="block:block=agencyglobalnavigation:langcode=en|menu:menu=agency-global-navigation:langcode=en"></div>        
  <ul>
  <li>
    <a href="/node/5">About</a>
      <ul>
        <li>
          <a href="//www.google.com">child 1</a>
        </li>
          <li>
          <a href="http://www.google.com">child 2</a>
        </li>
                <li>
          <a href="http://www.google.com">child 3</a>
        </li>
          <li>
          <a href="http://www.google.com">child 4</a>
        </li>
      </ul> 
  </li>
  <li>
    <a href="http://nytimes.com">information</a>
          <ul>
        <li>
          <a href="http://www.google.com">child 2</a>
        </li>
      </ul> 
  </li>
  </ul>
</nav>