<footer role="contentinfo">
  <div class="nys-global-footer">
    <div id="block-sitebranding" class="contextual-region">
      <div data-contextual-id="block:block=sitebranding:langcode=en"></div>
      <div class="agency-name"> <a href="/" title="Home" rel="home">Web NY</a></div>
    </div>
    <nav role="navigation" aria-labelledby="block-globalfootermenu-menu" id="block-globalfootermenu" class="contextual-region">
      <h2 class="visually-hidden">Global Footer Menu</h2>
      <div data-contextual-id="block:block=globalfootermenu:langcode=en|menu:menu=webny-global-footer-menu:langcode=en"></div>
      <ul>
        <li>
          <a href="/node/add" data-drupal-link-system-path="node/add">grouping 1</a>
            <ul>
                <li>
                  <a href="/node/add" data-drupal-link-system-path="node/add">child 1</a>
                </li>
            </ul>
        </li>
        <li>
          <a href="/node/add" data-drupal-link-system-path="node/add">grouping 2</a>
            <ul>
                <li>
                  <a href="/node/add" data-drupal-link-system-path="node/add">child a</a>
                </li>
                <li>
                  <a href="/node/add" data-drupal-link-system-path="node/add">child b</a>
                </li>
            </ul>
        </li>
        <li>
          <a href="/node/add" data-drupal-link-system-path="node/add">grouping 3</a>
        </li>
        <li>
          <a href="/node/add" data-drupal-link-system-path="node/add">grouping 4</a>
        </li>
      </ul>
    </nav>
    <nav role="navigation" aria-labelledby="block-globalsocialmediamenu-menu" id="block-globalsocialmediamenu" class="contextual-region">    
      <h2>Connect With Us</h2>
      <div data-contextual-id="block:block=globalsocialmediamenu:langcode=en|menu:menu=webny-global-sm-menu:langcode=en"></div>
      <ul>
        <li>
          <a href="http://facebook.com">Facebook</a>
        </li>
        <li>
          <a href="http://instragram.com">Instagram</a>
        </li>
        <li>
          <a href="http://twitter.com">Twitter</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>