<div id="webny-global-header" class="webny-global-header horizontal stacked">
  <div class="nav-toggle">
    <a href="#" role="button" id="webny-menu-control">Navigation menu</a>
  </div>
  <h1><a href="/">Home Navigation</a></h1>

  <ul class="gnav-ul">
    <li class="gnav-mitems">
      <a href="/" title="Landing Page" data-drupal-link-system-path="<front>">Home (Landing)</a>
      <ul class="gnav-items-ul">
        <li>
          <a href="/" data-drupal-link-system-path="<front>">Test Link 1</a>
        </li>
        <li>
          <a href="/" data-drupal-link-system-path="<front>">Test Link 2</a>
        </li>
      </ul>

    </li>
    <li class="gnav-mitems">
      <a href="/node/156" data-drupal-link-system-path="node/156">Services (Landing)</a>
      <ul class="gnav-items-ul">
        <li>
          <a href="/node/156" data-drupal-link-system-path="node/156">services 2</a>
        </li>
      </ul>

    </li>
    <li class="gnav-mitems">
      <a href="/node/201" title="Example of an Inner Page" data-drupal-link-system-path="node/201">Inner Page</a>
    </li>
    <li class="gnav-mitems">
      <a href="/news_listing" data-drupal-link-system-path="news_listing">News Listing</a>
    </li>
    <li class="gnav-mitems">
      <a href="/contact/contact_form" data-drupal-link-system-path="contact/contact_form">Contact Form</a>
    </li>
  </ul>

</div>
