<article data-history-node-id="30" data-quickedit-entity-id="node/30" role="article" class="contextual-region hero-layout" about="/node/30" data-quickedit-entity-instance-id="0">

        <header class="hero-header hero-has-image hero-landing" style="background-image:url('http://acsfdevstg.prod.acquia-sites.com/sites/default/files/homepage-hero-demo.jpg')">
        <!-- BACKGROUND GRAD -->
        <div class="hero-bkg"></div>
        
        <div class="hero-inner hero-news-inner">
            <!-- DATE | LOCATION -->
            <div class="hero-published-date">
                
            <div data-quickedit-field-id="node/30/field_webny_news_date/en/full" class="webny-card-date">March 15, 2016</div>
       <div class="hero-location">
            <div data-quickedit-field-id="node/30/field_webny_news_location/en/full">Albany, NY</div>
      </div>
            </div>

            <!-- HEADLINE LABEL -->
            <h1><span data-quickedit-field-id="node/30/title/en/full">Governor Cuomo Announces 18 Additional Companies Join START-UP NY</span>
</h1>

            <!-- KEYWORDS -->
            <div class="hero-keywords">
                
            <div data-quickedit-field-id="node/30/field_webny_news_global_keywords/en/full">
              <div><a href="/taxonomy/term/8" hreflang="en">Demo Content</a></div>
              <div><a href="/taxonomy/term/10" hreflang="en">Public Safety</a></div>
            </div>
  
            </div> 
        </div> 
    </header>
</article>
