<article data-history-node-id="10" data-quickedit-entity-id="node/10" role="article" class="contextual-region hero-layout" about="/node/10" data-quickedit-entity-instance-id="0">
        <header class="hero-header hero-no-image hero-landing" style="">
            
        <!-- BACKGROUND GRAD -->
        <div class="hero-bkg"></div>
        <div class="hero-inner hero-landing-inner">
            <!-- HEADLINE LABEL -->
            <h2>Landing Page Hero: Governor Cuomo</h2>
            <div class="hero-summary">
                <div class="webny-card-teaser"><p>Andrew M. Cuomo, re-elected the 56th Governor of New York State on November 4, 2014, has a lifelong commitment to public service and the proven leadership skills to make government work for the people of the state.</p>
    </div>
                </div>
            <!-- KEYWORDS -->
            <div class="hero-keywords">
              <div data-quickedit-field-id="node/10/field_webny_landing_global_key/en/full">
                      <div><a href="/taxonomy/term/8" hreflang="en">Demo Content</a></div>
              </div>
  
            </div>
        </div>    
    </header>
</article>