<article  data-history-node-id="50" data-quickedit-entity-id="node/50" role="article" class="contextual-region hero-layout" about="/youtube-image">

<div class="hero-header hero-no-image hero-landing">

    <!-- BACKGROUND GRAD -->
    <div class="hero-bkg"></div>
</div>

<div class="hero-inner hero-landing-inner hero-has-image-content">

    <h2>Youtube - With Image</h2>
<div class="hero-summary">

<div class="hero-buttons">

    <div class="video_hero_button">
        <a href="javascript:" alt="Watch Video" title="Watch Video">  Watch Video</a>
    </div>

</div>
        </div>

<div id="hero-video-frame" class="hero-video-frame  hero-video-hide hero-vid-noimage">
    <div class="hero-video-inner">
        <div class="hero-video-close">
            <a href="javascript:" alt="Close Video" title="Close Video"></a>
        </div>

        <video id="videojs-heroplayer-youtube"
            class="video-js hero-video-player hero-type-youtube"
                           data-setup='{
             "techOrder": ["youtube"],
             "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=sQGsfQ_LZJ4"}],
                           "youtube": { "ytControls": 2 },
                "nativeControlsForTouch": true
              }'>
        </video>
    </div>
</div>

</div>

</article>
