<div class="landing-title-area">

    <!-- HEADLINE LABEL -->
    <div class="landing-title">
        <h1><span data-quickedit-field-id="node/10/title/en/full">Homepage</span></h1>
    </div>

    <!-- SUBTITLE LABEL -->
    <div class="landing-subtitle">
        <span>Built to Lead</span>
    </div>

</div>