<div data-quickedit-entity-id="paragraph/86" class="webny-photo-gallery" data-quickedit-entity-instance-id="0">
    <div data-quickedit-entity-id="paragraph/86" class="webny-photo-gallery webny-photo-gallery-in" data-quickedit-entity-instance-id="1">

                        <div class="webny-gallery-meta">
            <h2>

                                    <span class="frame-title">Title of the Gallery</span>

                                    <span class="frame-headline">Magic Time</span>

            </h2>
        </div>


        <div class="webny-gallery-container">


                <div class="webny-gallery-entry gallery-entry-1" data-webny-cell="1">

                                        <div class="gallery-imgdiv gallery-imgdiv-1" data-webny-img="1">
                                                <img src="/sites/default/files/media/2018/05/location_1.jpg" alt="test 1" title="test 1">
                    </div>


                                        <div class="webny-gallery-desc">
                        <div class="webny-gallery-back"></div>
                        <div class="webny-gallery-text">
                            <p>Number 1: Kevin short loin strip steak, turducken alcatra pig t-bone kielbasa meatball bacon landjaeger hamburger cupim. Jowl flank bacon filet mignon t-bone picanha prosciutto. Shank cow boudin frankfurter, doner bacon t-bone spare ribs. Ham hock tenderloin corned beef salami picanha.</p>

                        </div>
                        <div class="webny-gallery-fwd"></div>
                    </div>

                </div>


                <div class="webny-gallery-entry gallery-entry-2" data-webny-cell="2">

                                        <div class="gallery-imgdiv gallery-imgdiv-2" data-webny-img="2">
                                                <img src="/sites/default/files/media/2018/05/news_0.jpg" alt="test 2" title="test 2">
                    </div>


                                        <div class="webny-gallery-desc">
                        <div class="webny-gallery-back"></div>
                        <div class="webny-gallery-text">
                            <p>Test 2:&nbsp;Capicola short ribs porchetta cow ham picanha biltong tail flank spare ribs tenderloin. Drumstick venison andouille swine pancetta beef. Sirloin biltong pork chop brisket&nbsp;</p>

                        </div>
                        <div class="webny-gallery-fwd"></div>
                    </div>

                </div>


                <div class="webny-gallery-entry gallery-entry-3" data-webny-cell="3">

                                        <div class="gallery-imgdiv gallery-imgdiv-3" data-webny-img="3">
                                                <img src="/" alt="" title="">
                    </div>


                                        <div class="webny-gallery-desc">
                        <div class="webny-gallery-back"></div>
                        <div class="webny-gallery-text">
                            <p>Number 3:&nbsp;wine sirloin sausage t-bone. Beef ribs strip steak picanha biltong hamburger alcatra bresaola corned beef burgdoggen turducken prosciutto.</p>

                        </div>
                        <div class="webny-gallery-fwd"></div>
                    </div>

                </div>


        </div>

                <div class="webny-gallery-mobile-pages"></div>

    </div>
</div>