<div class="paragraph paragraph--type--webny-summary-pgtype paragraph--view-mode--default">
  <div class="keypoint--field-webny-summary-title">Taking Action</div>
      
  <div class="keypoint--field-webny-summary-headline">What New York is Doing</div>
  <div class="keypoints">
  <div  class="keypoint">
    <div class="keypoint--field-webny-summary-keypoint1">Eliminate Zika At Its Source</div>
    <div class="keypoint--field-webny-summary-argument1">
      <p>100,000 starter kits of mosquito dunks (larvicide tablets) will be distributed to residents & business owners to use in standing water that cannot be emptied on their property and to municipalities to support the initiation of local mosquito control days. Request your starter kit: 1-888-364-4723</p>
    </div>     
  </div>
  
  <div  class="keypoint">
    <div class="keypoint--field-webny-summary-keypoint2">Aggressively Monitor the Aedes Mosquito in New York</div>
    <div class="keypoint--field-webny-summary-argument1">
      <p>The State is deploying 1,000 special traps – enough to cover the entire target region – and testing 60,000 Aedes mosquitoes every month.</p>
    </div>
  </div>
  <div class="keypoint">
    <div class="keypoint--field-webny-summary-keypoint3">Launch Aggressive Public Awareness Campaign</div>
    <div class="keypoint--field-webny-summary-argument3">
      <p>Multi-lingual brochures, posters and fact sheets will be targeted to New Yorkers across the state, as well as travelers from Zika-affected areas at our airports.</p>
    </div>
  </div>
  </div><!--end keypoints-->
  <div class="keypoint--field-webny-summary-cta">
    <a href="http://google.com">View Action Plan Details</a>
  </div>
</div>