
<div class="social-media-frame">
    <h3>
      title
      <span data-quickedit-entity-id="paragraph/1" class="social-media-frame paragraph paragraph--type--webny-social-media-connect paragraph--view-mode--default">
        headline social media
      </span>
      </h3>
</div>