<div class="paragraph paragraph--type--webny-video-pgtype paragraph--view-mode--default">
    <h3>Test Title Here</h3>
    <h2>Test Video Headline Here</h2>
    <p>Here's the video description.</p>
    <div class="wrapper">
        <div class="videocontent">
                <video
                    id="videojs-player-1"
                    class="video-js vjs-default-skin vjs-16-9"
                    controls
                    width="660" height="400"
                    {% if posterExists %}
                    poster="http://acsfdevstg.prod.acquia-sites.com/sites/default/files/homepage-hero-demo.jpg"
                    {% endif %}
                    data-setup='{ "techOrder": ["Youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=WTWdP5DMdsM"}] }'
                >
                </video>
                <div class="caption">Here is a caption test</div>
        </div>
    </div>
</div>
