<div class="results">
    <form class="views-exposed-form">
        <div class="results-exposed-filters-title">
            Filters
        </div>
        <div class="form-item-field-webny-news-global-keywords-target-id">
            <label for="edit-field-webny-news-global-keywords-target-id">Global Keywords</label>
            <input type="text" size="60">
        </div>
        <div class="form-item-field-webny-news-agency-keywords-target-id">
            <label for="edit-field-webny-news-agency-keywords-target-id">Agency Keywords</label>
            <input type="text" size="60">
        </div>
        <div class="form-item">
            <label for="edit-field-webny-news-date-value">Date From</label>
            <input type="text" size="30" class="form-text">
        </div>
        <div class="js-form-item form-item js-form-type-textfield form-item-field-webny-news-date-value-1 js-form-item-field-webny-news-date-value-1">
            <label for="edit-field-webny-news-date-value-1">To</label>
            <input type="text" size="30" class="form-text">
        </div>
        <div>
            <input type="submit" value="Apply" class="button js-form-submit form-submit">
        </div>
    </form>

    <div class="results-list">
        <div class="views-row">
            <div class="results-image">
                <div class="field-content">
                    <a href="#">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="http://www.governor.ny.gov/sites/governor.ny.gov/files/styles/search_result__250x250/public/thumbnails/image/Family_Laughing_Daughter_Mom_Dad_hero.jpg?itok=cF9p0OtU" media="all and (min-width: 769px)" type="image/jpeg">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="http://www.governor.ny.gov/sites/governor.ny.gov/files/styles/search_result__250x250/public/thumbnails/image/Family_Laughing_Daughter_Mom_Dad_hero.jpg?itok=cF9p0OtU" alt="Augue decet esca et ille immitto letalis persto tamen." title="Eros esca esse facilisi lucidus populus te turpis utrum vindico." src="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="results-title">
                <span class="field-content"><a href="#" hreflang="und">Fere Illum Iusto</a></span>
            </div>
            <div class="results-date">
                <span class="field-content"><span class="results-date-day">February 11, 2016</span> | 9:03 AM EST </span>
            </div>
            <div class="results-teaser">
                <div class="field-content">Abluo distineo gravis jus paratus tation te vindico. At distineo eligo ibidem. Abico duis imputo nunc volutpat. Exputo oppeto quibus. Dolor dolus huic sagaciter...
                </div>
            </div>
        </div>

        <div class="views-row">
            <div class="results-image">
                <div class="field-content">
                    <a href="#">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="http://www.governor.ny.gov/sites/governor.ny.gov/files/styles/search_result__250x250/public/thumbnails/image/Family_Laughing_Daughter_Mom_Dad_hero.jpg?itok=cF9p0OtU" media="all and (min-width: 769px)" type="image/jpeg">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="http://www.governor.ny.gov/sites/governor.ny.gov/files/styles/search_result__250x250/public/thumbnails/image/Family_Laughing_Daughter_Mom_Dad_hero.jpg?itok=cF9p0OtU" alt="Augue decet esca et ille immitto letalis persto tamen." title="Eros esca esse facilisi lucidus populus te turpis utrum vindico." src="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="results-title">
                <span class="field-content"><a href="#" hreflang="und">Fere Illum Iusto</a></span>
            </div>
            <div class="results-date">
                <span class="field-content"><span class="results-date-day">February 11, 2016</span> | 9:03 AM EST </span>
            </div>
            <div class="results-teaser">
                <div class="field-content">Abluo distineo gravis jus paratus tation te vindico. At distineo eligo ibidem. Abico duis imputo nunc volutpat. Exputo oppeto quibus. Dolor dolus huic sagaciter...
                </div>
            </div>
        </div>

        <nav class="pager">
            <ul class="pager__items js-pager__items">
                <li class="pager__item is-active">
                    <a href="#" title="Current page">1</a>
                </li>
                <li class="pager__item">
                    <a href="#" title="Go to page 2">2</a>
                </li>
                <li class="pager__item">
                    <a href="#" title="Go to page 3">3</a>
                </li>
                <li class="pager__item pager__item--next">
                    <a href="#" title="Go to next page" rel="next"><span aria-hidden="true">Next ›</span></a>
                </li>
                <li class="pager__item pager__item--last">
                    <a href="#" title="Go to last page"><span aria-hidden="true">Last »</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>