<div class="results">


 <div class="results-head">
 <span class="results-head-title"> All </span>
 <span class="results-head-headline"> News </span>
</div>
  <form class="views-exposed-form bef-exposed-form" data-drupal-selector="views-exposed-form-webny-news-listing-page-1" action="/news_listing" method="get" id="views-exposed-form-webny-news-listing-page-1" accept-charset="UTF-8">

<div class="results-exposed-filters-outer filterTog">
	<div class="results-exposed-filters-title">
	    Filters
	    	</div>

	<div class="filterBody filterBodyHidden">
		<div id="edit-target-news-category"><div data-drupal-selector="edit-target-news-category" class="form-radios">
                  <div class="js-form-item form-item js-form-type-radio form-item-target-news-category js-form-item-target-news-category">
        <input data-drupal-selector="edit-target-news-category-all" type="radio" id="edit-target-news-category-all" name="target_news_category" value="All" checked="checked" class="form-radio">

        <label for="edit-target-news-category-all" class="option">- Any -</label>
      </div>

                    <div class="js-form-item form-item js-form-type-radio form-item-target-news-category js-form-item-target-news-category">
        <input data-drupal-selector="edit-target-news-category-26" type="radio" id="edit-target-news-category-26" name="target_news_category" value="26" class="form-radio">

        <label for="edit-target-news-category-26" class="option">Inspector General's Office</label>
      </div>

                    <div class="js-form-item form-item js-form-type-radio form-item-target-news-category js-form-item-target-news-category">
        <input data-drupal-selector="edit-target-news-category-24" type="radio" id="edit-target-news-category-24" name="target_news_category" value="24" class="form-radio">

        <label for="edit-target-news-category-24" class="option">Press Releases</label>
      </div>

                    <div class="js-form-item form-item js-form-type-radio form-item-target-news-category js-form-item-target-news-category">
        <input data-drupal-selector="edit-target-news-category-25" type="radio" id="edit-target-news-category-25" name="target_news_category" value="25" class="form-radio">

        <label for="edit-target-news-category-25" class="option">Reports</label>
      </div>

                    <div class="js-form-item form-item js-form-type-radio form-item-target-news-category js-form-item-target-news-category">
        <input data-drupal-selector="edit-target-news-category-27" type="radio" id="edit-target-news-category-27" name="target_news_category" value="27" class="form-radio">

        <label for="edit-target-news-category-27" class="option">Welfare Inspector General's Office</label>
      </div>

                    <div class="js-form-item form-item js-form-type-radio form-item-target-news-category js-form-item-target-news-category">
        <input data-drupal-selector="edit-target-news-category-28" type="radio" id="edit-target-news-category-28" name="target_news_category" value="28" class="form-radio">

        <label for="edit-target-news-category-28" class="option">Worker's Compensation Fraud Inspector General's Office</label>
      </div>

      </div>
</div>
<div class="js-form-item form-item js-form-type-date form-item-field-webny-news-date-value js-form-item-field-webny-news-date-value">
      <label for="edit-field-webny-news-date-value">Date From</label>
        <input type="date" data-drupal-selector="edit-field-webny-news-date-value" data-drupal-date-format="Y-m-d" id="edit-field-webny-news-date-value" name="field_webny_news_date_value" value="" size="30" class="form-date">

        </div>
<div class="js-form-item form-item js-form-type-date form-item-field-webny-news-date-value-1 js-form-item-field-webny-news-date-value-1">
      <label for="edit-field-webny-news-date-value-1">To</label>
        <input type="date" data-drupal-selector="edit-field-webny-news-date-value-1" data-drupal-date-format="Y-m-d" id="edit-field-webny-news-date-value-1" name="field_webny_news_date_value_1" value="" size="30" class="form-date">

        </div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit-webny-news-listing" type="submit" id="edit-submit-webny-news-listing" value="Apply" class="button js-form-submit form-submit">
</div>


	</div>
	<div class="filter-display"><input type="button" class="filterTogDisplay" value="Expand"></div>
</div>

</form>



  <div class="results-list">
    <div class="results-list-inner">

      <div class="results-total">
                <span class="results-total-number">11</span>
                Results Found
      </div>



    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/25" hreflang="en">Governor Cuomo, Senator Schumer, Senator Gillibrand and New York Congressional Delegation Announce $60 Million to Fund Counterterrorism and Emergency Preparedness</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:35 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Governor Andrew M. Cuomo, Senator Charles Schumer, Senator Kristen Gillibrand and members of the New York Congressional…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/20" hreflang="en">Governor Cuomo Launches Year Three of 43North the $5 Million Startup Competition</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:33 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Governor Andrew M. Cuomo today announced that applications are now being accepted for the third year of&nbsp;…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/32" hreflang="en">Governor Cuomo Announces More Than $101 Million in Funding to Strengthen and Improve Health Care in Central New York</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:32 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Governor Andrew M. Cuomo today announced $101.4 million in grant awards for six projects that will dramatically transform…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/35" hreflang="en">Governor Cuomo Announces More Than $54 Million in Funding to Strengthen and Improve Health Care in the North Country</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:26 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Governor Andrew M. Cuomo today announced $54.8 million in grant awards for 13 projects that will dramatically transform…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/28" hreflang="en">Governor Cuomo Announces More Than 100 Faith Leaders Across the State Join the “Fight For Fairness” to Pass Paid Family Leaves &amp; Raise the Minimum Wage in New York</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:23 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Governor Andrew M. Cuomo today announced that more than 100 faith leaders in communities across the state have joined the…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/38" hreflang="en">Video, Photos &amp; Transcript: Governor Cuomo Delivers Remarks at “Drive For $15” Stop in Brooklyn</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:22 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Earlier today, Governor Andrew M. Cuomo announced that more than 100 faith leaders in communities across the state have…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/21" hreflang="en">Governor Cuomo Announces Fine Against Hilton Grand Vacations Company, LLC Over Violating New York State Do Not Call Law</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:20 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Governor Andrew M. Cuomo today announced a settlement agreement between the State and Hilton Grand Vacations Company, LLC…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/30" hreflang="en">Governor Cuomo Announces 18 Additional Companies Join START-UP NY</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:17 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Governor Andrew M. Cuomo today announced that 18 new businesses will join START-UP NY, relocating or expanding their…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/37" hreflang="en">Governor Cuomo Announces Leading Women's Advocacy Groups Join the 'Strong Families, Strong New York' Campaign and Endorse Proposal for 12 Weeks of Paid Family Leave</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 11:11 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>Governor Andrew M. Cuomo today announced that several of the state’s leading women's advocacy groups, including the…</p></div></div>
  </div>
    <div class="views-row">
    <div class="views-field views-field-field-webny-news-image results-image"><div class="field-content">
   				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" height="240px" width="240px" viewBox="-80 -80 240 240" xml:space="preserve">
		  <g id="Layer_2">
		    <rect class="st0" width="72" height="72"></rect>
		  </g>
		  <g id="Layer_1">
		    <polygon class="st1" points="69.3 68.5 63.9 65.1 58.4 68.5 52.9 65.1 47.4 68.5 41.8 65.1 36.4 68.5 30.8 65.1 25.3 68.5 19.9 65.1 14.3 68.5 8.8 65.1 2.5 68.5 2.5 3.3 69.3 3.3 "></polygon>
		    <rect x="40.4" y="21.4" class="st1" width="21.5" height="17.3"></rect>
		    <line class="st1" x1="40.4" y1="56" x2="62" y2="56"></line>
		    <line class="st1" x1="40.4" y1="47.3" x2="62" y2="47.3"></line>
		    <line class="st1" x1="10" y1="12.8" x2="62" y2="12.8"></line>
		    <line class="st1" x1="10" y1="21.5" x2="31.6" y2="21.5"></line>
		    <line class="st1" x1="10" y1="30.1" x2="31.6" y2="30.1"></line>
		    <line class="st1" x1="10" y1="38.7" x2="31.6" y2="38.7"></line>
		    <line class="st1" x1="10" y1="56" x2="31.6" y2="56"></line>
		    <line class="st1" x1="10" y1="47.3" x2="31.6" y2="47.3"></line>
		  </g>
		  		  <image class="fallback-img" src="/profiles/custom/webny/themes/custom/webny_theme/icons/NYGov_Newspaper.png" height="240" width="240" alt="newspaper icon"></image>
		</svg>
   </div></div><div class="views-field views-field-title results-title"><span class="field-content"><a href="/node/45" hreflang="en">Statement from Governor Andrew M. Cuomo on the Passing of Cornell University President Elizabeth Garrett</a></span></div><div class="views-field views-field-nothing results-date"><span class="field-content"><span class="results-date-day">March 15, 2016</span> | 10:53 AM EST </span></div><div class="views-field views-field-body"><div class="field-content">    <p>“I’m deeply saddened to learn of the passing of Elizabeth Garrett. Throughout her accomplished career, and especially as…</p></div></div>
  </div>



      <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
    <ul class="pager__items js-pager__items">
                                                        <li class="pager__item is-active">
                                          <a href="?target_news_category=All&amp;field_webny_news_date_value=&amp;field_webny_news_date_value_1=&amp;=Apply&amp;page=0" title="Current page">
            <span class="visually-hidden">
              Current page
            </span>1</a>
        </li>
              <li class="pager__item">
                                          <a href="?target_news_category=All&amp;field_webny_news_date_value=&amp;field_webny_news_date_value_1=&amp;=Apply&amp;page=1" title="Go to page 2">
            <span class="visually-hidden">
              Page
            </span>2</a>
        </li>
                                      <li class="pager__item pager__item--next">
          <a href="?target_news_category=All&amp;field_webny_news_date_value=&amp;field_webny_news_date_value_1=&amp;=Apply&amp;page=1" title="Go to next page" rel="next">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
                          <li class="pager__item pager__item--last">
          <a href="?target_news_category=All&amp;field_webny_news_date_value=&amp;field_webny_news_date_value_1=&amp;=Apply&amp;page=1" title="Go to last page">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
          </ul>
  </nav>

    </div>
  </div>






</div>