<div class="webny_whats_related_pgtype" name="what-s-related">

        <h3 class="webny-whats-related-title">
            What's Related
        </h3>
         <br/>
        <div class="webny_whats_related_pgtype">
        <a href="/node/11" target="_blank" rel="bookmark">Governor's Press Office</a><br/>
        <a href="/node/21" target="_blank" rel="bookmark">Programs</a><br/>
        <a href="https://google.com" target="_blank" rel="bookmark">Family Leave</a>
        </div>
    </div>