// print styling ///////////////
/**
  Config file that contains centralized variables
*/
@import "config";

* {
    color: #000 !important;
    border: 0 !important;
}

// zeroing out elements 
body, 
.layout-container,
.news-body-in,
.press-teaser,
.press-body,
.hero-inner, 
.webny-news, 
.hero-no-image,
.hero-news, 
.pane-page-logo,
.press-docs,
.press-contact-info, //have contact info in news print as column
.results,// results page
.results-head,
.results-list 
 {
    background: 0 !important;
    height: auto !important;
    min-height: 0 !important;
    max-height: 100% !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: 100% !important;
    padding: initial !important;
    margin: initial !important;
    float: none !important;
    text-align: left !important;
    position: relative !important;
    left: auto !important;
    top: auto !important;
    overflow: hidden;
}


// make sure print has same fonts as web
body, .layout-container {
      background: #fff;
      font-family: $base-font;
      font-size: $base-font-size;
}

// URLs - show as underlined with URL after
a:link, a:visited {
	text-decoration: underline;
}

.layout-container {
	a:link:after, 
    a:visited:after { 
	content: " (" attr(href) ") "; 
	font-size: 90%; 
	}
 	/*a[href^="/"]:after {
	content: " (http://www.alistapart.com" attr(href) ") ";
	}*/
}

//unav elements
.nygov-universal-navigation .l-header.nygov-header .l-region--header .pane-ny-gov-global-menu,
#expand-menu-mobile {
	display:none;
}

#nygov-universal-navigation,
.nygov-universal-navigation {
	display: none;
}

.panel-pane,
.pane-page-logo {
	display: none;
}

.l-region--header .nygov-universal-navigation,
.nygov-universal-navigation {
    display: block !important;
    }
//navigation elements
.webny-global-header {
	background-color: $color-mono-white;
	height: 50px; 
		h1 {
			display: inline-block !important;
			color: $color-mono-black;
			padding: 0 !important;
			a {
				padding: 0 !important;
			}
	    }
		.nav-toggle {
		  	display: none;
		}
		 ul {
			display: none !important;
		}
}
.nys-global-header,
.results-image,
.results form.views-exposed-form {
	display:none;
}

.nygov-logo {
	display: inline-block;
	width: 100px;
}

// making sure hero text - created when working on news, but should work for others in part
.hero-layout {
	h1, h2 {
		color:$color-mono-black;
		font-size: 20px;
		line-height: 30px;
	}
	.hero-header {
		background:none;
		color: #000;
	}
	.hero-has-image {
		background-color:#fff;
			.hero-bkg {
			background:none !important;
		  }
	}
	.hero-published-date, 
	.hero-location {
		color: $color-mono-black;
	}
	.hero-inner {
		width:100%;
		.hero-keywords {
			display: none;
		}
	}
}

// have documents attached to news (ano other pages?) only display text information
.document-wrapper {
	border: none !important;
	.icon-document { // allows the document icon to still display in print	
		display: inline-block;
		padding: 0; 
		margin: 0;
	}
	.download {
		display: none;
	}

}

// print margins for notes
//@page, // doesn't seem to work, so using body as backup  
body 
 {
	//margin: 100px !important;
	margin: 1cm 2cm !important;
}


//pagination
@page:right{
  @bottom-right {
    content: "Page " counter(page)  " of " counter(pages);
  }
}