@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

/**
  Normalize reset
*/
@import "base/reset";

/**
  Typography
*/
@import "base/typography";

/**
  Config file that contains centralized variables
*/
@import "config";

// Base
//
// These are the default base styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Style guide: base
@import "base/base";
@import "base/form";

// Form
//
// These are the default form styles applied to HTML elements.
//
// Style guide: form
@import "base/form";

// Layout
//
// These are the layout rules.
//
// Style guide: layout
@import "layout/containers";
@import "layout/sidebars";


// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// Style guide: components
@import "components/tabs";
@import "components/buttons";
@import "components/blocks";
@import "components/header";
@import "components/view_results";
@import "components/global_nav";
@import "components/global_nav_footer";
@import "components/hero";
@import "components/body";



// States
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// the import below was a wildcard @import "state/*"; but it's explicit because the build fails w/wildcard
@import "state/blocks";
