{% block content %}
<div class="supervise-div">
  <div class="supervise-title">
    Who We Supervise
  </div>
    {{ content }}
</div>

<div class="dfs-div">
  Department of Financial Services
</div>
{% endblock %}
