/*! *** Don't forget to update /source/js/webny-global-nav-header.js version after you edit *** */

body {
  margin: 0;
}

[class^="webny-global-header"],
[class^="webny-global-footer"] {
  ul, li {
    margin: 0;
    padding: 0;

  }

  a {
    background-color: transparent;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  img {
    border: 0;
  }

  svg:not(:root) {
    overflow: hidden;
  }

}