.webny-global-header {
  background-color: #09464c;
}
.webny-global-header > ul {
  background-color: #09464c;
}
.webny-global-header > ul a {
  border-bottom-color: #2d6166;
}
.webny-global-header > ul a:hover,
.webny-global-header > ul a:active {
  background-color: #042326;
}
.webny-global-header > ul ul {
  background-color: #09464c;
}
.webny-global-header.vertical ul li:first-of-type a {
  border-top-color: #2d6166;
  border-top-width: 1px;
  border-top-style: solid;
}
.webny-global-header.vertical ul li:first-of-type ul a {
  border-top: 0;
}
.webny-global-header.vertical a:hover,
.webny-global-header.vertical a:active {
  background-color: transparent;
}
@media (min-width: 768px) {
  .webny-global-header.horizontal.unstacked ul li a:hover,
  .webny-global-header.horizontal.unstacked ul li a:active {
    background-color: #09464c;
  }
  .webny-global-header.horizontal.unstacked ul li ul > li a:hover,
  .webny-global-header.horizontal.unstacked ul li ul > li a:active {
    background-color: #042326;
  }
}
@media only screen and (min-width: 1024px) {
  .webny-global-header.horizontal.unstacked ul li a:hover,
  .webny-global-header.horizontal.unstacked ul li a:active, .webny-global-header.horizontal.stacked ul li a:hover,
  .webny-global-header.horizontal.stacked ul li a:active {
    background-color: #09464c;
  }
  .webny-global-header.horizontal.unstacked ul li ul > li a:hover,
  .webny-global-header.horizontal.unstacked ul li ul > li a:active, .webny-global-header.horizontal.stacked ul li ul > li a:hover,
  .webny-global-header.horizontal.stacked ul li ul > li a:active {
    background-color: #042326;
  }
}

.webny-global-footer {
  background-color: #e5eeee;
}
.webny-global-footer ul li a:hover, .webny-global-footer ul li a:active {
  color: #09464c;
}

.icon-social-blogger {
  background-image: url(../../icons/social/webny-brand-business/icon-social-blogger.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-blogger.svg);
}

.icon-social-delicious {
  background-image: url(../../icons/social/webny-brand-business/icon-social-delicious.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-delicious.svg);
}

.icon-social-facebook {
  background-image: url(../../icons/social/webny-brand-business/icon-social-facebook.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-facebook.svg);
}

.icon-social-feed {
  background-image: url(../../icons/social/webny-brand-business/icon-social-feed.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-feed.svg);
}

.icon-social-flickr {
  background-image: url(../../icons/social/webny-brand-business/icon-social-flickr.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-flickr.svg);
}

.icon-social-foursqaure {
  background-image: url(../../icons/social/webny-brand-business/icon-social-foursqaure.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-foursqaure.svg);
}

.icon-social-github {
  background-image: url(../../icons/social/webny-brand-business/icon-social-github.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-github.svg);
}

.icon-social-google-plus {
  background-image: url(../../icons/social/webny-brand-business/icon-social-google-plus.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-google-plus.svg);
}

.icon-social-instagram {
  background-image: url(../../icons/social/webny-brand-business/icon-social-instagram.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-instagram.svg);
}

.icon-social-linkedin {
  background-image: url(../../icons/social/webny-brand-business/icon-social-linkedin.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-linkedin.svg);
}

.icon-social-mail {
  background-image: url(../../icons/social/webny-brand-business/icon-social-mail.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-mail.svg);
}

.icon-social-pinterest {
  background-image: url(../../icons/social/webny-brand-business/icon-social-pinterest.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-pinterest.svg);
}

.icon-social-reddit {
  background-image: url(../../icons/social/webny-brand-business/icon-social-reddit.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-reddit.svg);
}

.icon-social-share {
  background-image: url(../../icons/social/webny-brand-business/icon-social-share.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-share.svg);
}

.icon-social-tumblr {
  background-image: url(../../icons/social/webny-brand-business/icon-social-tumblr.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-tumblr.svg);
}

.icon-social-twitter {
  background-image: url(../../icons/social/webny-brand-business/icon-social-twitter.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-twitter.svg);
}

.icon-social-vimeo {
  background-image: url(../../icons/social/webny-brand-business/icon-social-vimeo.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-vimeo.svg);
}

.icon-social-yelp {
  background-image: url(../../icons/social/webny-brand-business/icon-social-yelp.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-yelp.svg);
}

.icon-social-youtube {
  background-image: url(../../icons/social/webny-brand-business/icon-social-youtube.png);
  background-image: linear-gradient(transparent, transparent), url(../../icons/social/webny-brand-business/icon-social-youtube.svg);
}
