
<div class="layout-container">
    <div class="body-area">
        <div class="body-area-in">
            <div class="page-body">

                {# RUN THIS FUNCTION TO DETERMINE TO SHOW SUGGSETIONS #}
                {{ fouroxSuggestions() }}

                {%  if getHasSuggestions() == 1 %}

                    <h3>You were looking for this URL. </h3>
                    {{ getUserURL() }}
                    <br /><br />

                    <h3>This document may have moved. Please try this URL.</h3>
                    <a href="{{ getSuggestionURL() }}">{{ getSuggestionURLFull() }}</a>
                    <br /><br />

                {% else %}
                    <h1>Sorry, this page was not found.</h1><br />
                    <h4>The requested URL does not exist.</h4>
                    <br /><br />

                {% endif %}

                <h4>Please visit our <a href="/" title="homepage" alt="homepage">HOMEPAGE</a> for further information.</h4>

                </p>
            </div>
        </div>
    </div>
</div>
