//styles for the business grouping
//overwrite stuff
// $color-primary: #0b5d66; // dark teal
$color-primary: #09464c;
$color-secondary: #65999e; // med teal
$color-tertiary: #e5eeee; // light grayish teal
$color-accent-primary: #F4A71C; // orange gold
$color-accent-secondary: #F3DD6D; // lemon yellow
$color-hover-nav: mix( $color-primary, #000, 50%);
$color-hover-nav-left: mix( $color-primary, #e5eeee, 50%);
$border-primary: solid 1px #09464c;
// config.scss contains accent, link text, and monochrome colors
//import base style
@import "../../styles";