{#
Uses parent vars:
nav_toggle (boolean)
toc_includes_body (boolean)
toc_content_sections (paragraph field)
#}

{% if nav_toggle %}
  {# NAV ENABLED: PARAGRAPHS SECTION WITH SIDEBAR FOR NAVIGATOR / TOC#}
  <div class="page-paragraphs gp-paragraphs with-nav-sidebar">
    <div class="page-paragraphs-in">
      <aside id="toc-sidebar">
        <header>Sections</header>
        <ul>
          <li class="see-all"><a href="#" class="icon-all_steps"><span>See All</span></a></li>
        </ul>
        <span class="arrow"></span>
      </aside>
      <div class="article-content">
        <div class="toc-chapters">
          {% if toc_includes_body %}
            {# Mimic paragraph formatting for use in toc listing #}
            <div>
              <section id="toc_00" rel="enabled" class="generic_para webny_wysiwyg_pgtype gp_enabled">
                <h2 name="event-details">Event details</h2>
                <div class="wysiwyg--field-webny-wysiwyg-body">{{ content.body }}</div>
                <div class="gp-next-section" style="display: none;">
                  <div class="gp-next-section-links">
                    <p>Next Section</p>
                    <p class="icon-thin_down_arrow gp-next-section-link">Continue</p>
                  </div>
                  <span class="gp-next-section-title"></span>
                </div>
              </section>
            </div>
          {% endif %}
          {{ toc_content_sections }}
        </div>
      </div>
    </div>
  </div>

{% else %}

  {# NAV DISABLED: GENERIC PARAGRAPHS SECTION FOR USE WITHOUT NAV FUNCTIONALITY #}
  <div class="page-paragraphs gp-paragraphs">
    <div class="page-paragraphs-in">
      {% if toc_includes_body %}
        {# Mimic paragraph formatting for use in toc listing #}
        <div>
          <section id="toc_00" rel="enabled" class="generic_para webny_wysiwyg_pgtype gp_enabled">
            <h2 name="event-details">Event details</h2>
            <div class="wysiwyg--field-webny-wysiwyg-body">{{ content.body }}</div>
            <div class="gp-next-section" style="display: none;">
              <div class="gp-next-section-links">
                <p>Next Section</p>
                <p class="icon-thin_down_arrow gp-next-section-link">Continue</p>
              </div>
              <span class="gp-next-section-title"></span>
            </div>
          </section>
        </div>
      {% endif %}
      {{ toc_content_sections }}
    </div>
  </div>

{% endif %}