/* REMOVE ALL CALLOUT BUTTONS FROM LANDING PAGE */

.node-webny-landing-page-edit-form a.cke_button.cke_button__webnycallouts,
.node-webny-landing-page-form a.cke_button.cke_button__webnycallouts {
  display: none;
}

/* REMOVE ALL CALLOUT BUTTONS FROM EVENTS PAGE */
.node-webny-event-form a.cke_button.cke_button__webnycallouts, 
.node-webny-event-edit-form a.cke_button.cke_button__webnycallouts {
  display: none;
}

/* REMOVE ALL CALLOUT BUTTONS FROM LOCATIONS PAGE */
.node-webny-location-form a.cke_button.cke_button__webnycallouts, 
.node-webny-location-edit-form a.cke_button.cke_button__webnycallouts {
  display: none;
}

/* REMOVE BULLETED AND NUMBERED LISTS FROM SUMMARY FRAME ON LANDING PAGE */
.node-webny-landing-page-edit-form .field--name-field-webny-summary-argument1 a.cke_button.cke_button__bulletedlist,
.node-webny-landing-page-edit-form .field--name-field-webny-summary-argument2 a.cke_button.cke_button__bulletedlist,
.node-webny-landing-page-edit-form .field--name-field-webny-summary-argument3 a.cke_button.cke_button__bulletedlist,
.node-webny-landing-page-form .field--name-field-webny-summary-argument1 a.cke_button.cke_button__bulletedlist,
.node-webny-landing-page-form .field--name-field-webny-summary-argument2 a.cke_button.cke_button__bulletedlist,
.node-webny-landing-page-form .field--name-field-webny-summary-argument3 a.cke_button.cke_button__bulletedlist,
.node-webny-landing-page-edit-form .field--name-field-webny-summary-argument1 a.cke_button.cke_button__numberedlist,
.node-webny-landing-page-edit-form .field--name-field-webny-summary-argument2 a.cke_button.cke_button__numberedlist,
.node-webny-landing-page-edit-form .field--name-field-webny-summary-argument3 a.cke_button.cke_button__numberedlist,
.node-webny-landing-page-form .field--name-field-webny-summary-argument1 a.cke_button.cke_button__numberedlist,
.node-webny-landing-page-form .field--name-field-webny-summary-argument2 a.cke_button.cke_button__numberedlist,
.node-webny-landing-page-form .field--name-field-webny-summary-argument3 a.cke_button.cke_button__numberedlist {
  display: none;
}
