/* ======================================================= */
/* BACKEND UI HELP FOR GALLERY */

.field--name-field-webny-gallery-images .entities-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.field--name-field-webny-gallery-images .entities-list .item-container {
    max-width: 200px;
}

.gallery-desc-order,
.gallery-img-order {
    margin: 5px auto;
    text-align: center;
}

.gallery-desc-order b,
.gallery-img-order b {
    font-size: 1.25em;
}
