/* REMOVE ALL CALLOUT BUTTONS FROM LANDING PAGE */

.node-webny-landing-page-edit-form a.cke_button.cke_button__webnycallouts,
.node-webny-landing-page-form a.cke_button.cke_button__webnycallouts {
  display: none;
}

/* REMOVE ALL CALLOUT BUTTONS FROM EVENTS PAGE */
.node-webny-event-form a.cke_button.cke_button__webnycallouts, 
.node-webny-event-edit-form a.cke_button.cke_button__webnycallouts {
  display: none;
}