// Load webny Navigation normalization
@import '_incl/webny-global-nav-normalize';

// Load webny Navigation Global variables and utility functions
@import '_incl/globals';

// Load Agency Grouping/Core webny variables
@import '_incl/variables/colors';

// End load variables
@import '_incl/utilities/mixins';

// Load layouts
@import '_incl/layout/header';
@import '_incl/layout/footer';
