// baseline html and body
html,
body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: $base-font;
  line-height: 145%;
  line-height: 19px;
  background: #f5f5f5;
}

// section containers
body .mq--t {
  background: #fff;
  @include opac-color(255, 255, 255, .9);
}

// Base Headings
//
// Markup: headlines.hbs
//
// Style guide: base.headline

h1,
h2,
h3,
h4 {
  color: $primaryblue;
  font-family: $base-font-extra-bold;
  padding: 0 0 .3em;
  margin: 0;
}

h1 {
  font-size: 280%;
  line-height: 165%;
}

h2 {
  font-size: 230%;
  line-height: 145%;
}

h3 {
  font-size: 210%;
  line-height: 145%;
}

h4 {
  font-size: 190%;
  line-height: 145%;
}

body .menu-item {
  padding-top: 0;
  margin: 0;
}

// Base Text
//
// Markup: text.hbs
//
// Style guide: base.text
a,
a:link,
a:visited {
  text-decoration: none;
  color: $textblue;

  &:hover {
    text-decoration: underline;
  }
}

body p {
  margin: 3px 0 10px;
}

// Blockquote
//
// Markup: blockquote.hbs
//
// Style guide: base.blockquote
blockquote {
  padding: 0 15px;
  color: #373131;
  border-left: 4px solid #ddd;
  &:last-child {
    margin-bottom: 0;
  }
}

// List Types
//
// Markup: lists.hbs
//
// Style guide: base.lists

// OL items

ol {
  padding: 0 0 0 30px;
  margin: 0 0 1px;
  li {
    margin: 4px 0;
    padding: 0;
  }
}

ol ol {
  padding: 0 0 0 22.5px;
}

ol ol ol {
  padding: 0 0 0 22.5px;
}

// UL items

ul {
  padding: 0 0 0 30px;
  margin: 0 0 1px;
  li {
    margin: 4px 0;
    padding: 0;
  }
}

ul ul {
  padding: 0 0 0 22.5px;
}

ul ul ul {
  padding: 0 0 0 22.5px;
}

// Tables
//
// Markup: table.hbs
//
// Style guide: base.table

table {
  width: 100%;
  th {
    font-weight: 600;
    text-align: left;
    background-color: #eaeaea;
    padding: 4px 5px;
  }
  td {
    border: 0;
    outline: none;
    padding: 4px 5px;
  }
  thead {
    border: 1px solid #d3d3d3;
    border-bottom: 0;
  }
  tbody {
    border: 1px solid #d3d3d3;
  }
  tbody tr:nth-child(even) {
    background-color: #eef2f3;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }

}
