// Base event date & location.
@mixin event-date {
  .day-month-wrapper {
    padding-bottom: 20px;
    text-align: center;
  }

  .multi-day {
    .day div,
    .month div,
    .event-year div {
      float: left;
      width: 85px;

      &.dash {
        width: 30px;
      }
    }

    .month .start {
      padding-left: 0px;
    }
    .month .end {
      padding-left: 0px;
    }
    .event-year .start-event-year{
      padding-left: 0px;
    }
    .event-year .end-event-year {
      padding-left: 0px;
    }
  }

  .month {
    @include clearfix;

    color: $color-accent-primary;
    font-size: 14px;
    font-family: $base-font;
    font-weight: 800;
    padding-bottom: 10px;
    text-transform: uppercase;

    div {
      text-align: center;
    }

    .dash {
      color: transparent;
    }
  }

  .day {
    @include clearfix;

    font-size: 42px;
    color: #000;
    font-family: $base-font;
    font-weight: 800;
    padding-bottom: 5px;

    div {
      text-align: center;
    }

    .dash {
      font-size: 34px;
      font-weight: 600;
    }
  }

  .event-year {
    @include clearfix;

    font-size: 16px;
    color:#000;
    font-family: $base-font;
    font-weight: 600;

    div {
      text-align: center;
    }

    .start-event-year{
      padding-left: 0px;
    }

    .dash {
      color: transparent;
    }

  }


  .time {
    color: #fff;
    font-family: $base-font;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;

    @include icon(before, fa-clock);

    &::before {
      color: $color-secondary;
      display: inline-block;
      font-size: 13px;
      vertical-align: top;
      width: 23px;
    }

    div {
      display: inline-block;
    }
  }

  .address-wrapper {
    padding-top: 15px;

    .venue-name {
      color: #fff;
      font-size: 13px;
      line-height: 16px;
    }

    @include icon(before, fa-pin);

    &::before {
      color: $color-secondary;
      float: left;
      font-size: 13px;
      vertical-align: top;
      width: 23px;
    }
  }

  .address {
    color: #fff;
    float: left;
    font-family: $base-font;
    font-size: 13px;
    line-height: 16px;
  }

  .last-updated-wrapper {
    padding-top: 15px;

    .last-updated-label {
      color: #000;
      font-size: 13px;
      line-height: 16px;
      float: left;
      font-style: italic;
    }

    @include icon(before, refresh);

    &::before {
      color: $color-secondary;
      float: left;
      font-size: 13px;
      vertical-align: top;
      width: 23px;
    }

    .last-updated {
      color: #000;
      font-size: 13px;
      line-height: 16px;
      font-style: italic;
    }

  }
}
