
.news-date-fieldwrapper {
  font-size: 0.722em;

  .news-listing-date {
    font-weight: 800;
    display: inline;
  }

  .news-listing-time {
    display: inline;
  }
}

.fallback-newspaper svg {
  height: 102px;
  width: 102px;
  padding: 70px;
}
// if there is no new summary/description, add space to the news-date-field wrapper class no-description.
.no-description {
  height: 73px;
}