// Public Appeals Search Page Content
//
// Public Appeals Search Page Content styling

.views-page-public-appeal-search.body-sidebars-first {

  main {
    display: flex;
  }


  aside.layout-sidebar-first {
    float: none;
    width: auto;
    margin: 0;
  }

  main .layout-content {
    float: none;
    margin: 0;
    width: calc(100% - 342px);
  }


  #main-layout-content-switch-div {
    padding-right: 0;
  }

  .views-element-container {
    margin: 0;
    padding: 0 75px 20px 40px;
  }

  .public-appeal-search-view table {
    //hidden until datatables loads
    display: none;
  }

  table {
    position: relative;
    margin: 0;
    border: none;

    thead {
      border: none;

      tr {
        border: none;

        th.views-field {
          padding: 18px 30px 17px 20px;
          border: none;
          font-size: 18px;
          text-transform: uppercase;
          line-height: 1em;
        }
      }
    }

    tbody {
      border: none;

      tr:nth-child(even) {
        background: #fff;
        border: none;
      }
    }

    td {
      padding: 0;
      font-size: 16px;

      &.views-field {
        padding: 25px 20px 20px;
        background: #fff;
        color: #022629;
      }

      table {
        margin: 0;
        background: #fff;

        thead {
          display: none;
        }

        .accordion {
          margin-bottom: 5px;
          background: #EFF0F2;
          color: #333333;

          &:last-child {
            margin-bottom: 0;
          }

          .accordion-toggle {
            display: block;
            padding: 5px 15px 0 20px;
            color: #06464C;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;

            &:after {
              content: '+';
              position: absolute;
              right: 15px;
            }

            &.accordion-open:after {
              content: '-';
            }
          }

          .accordion-content {
            padding: 20px 50px 15px 20px;

            h3 {
              color: #333333;
              font-size: 18px;
              font-weight: 700;
            }

            .summary-text,
            .refs-text {
              padding: 10px 0 25px;
            }
          }
        }
      }
    }

    .table-link-out {
      position: absolute;
      right: 0;

      a,
      a:hover,
      a:active,
      a:visited {
        display: block;
        width: 28px;
        height: 28px;
        color: #fff;
        background: #09464C;
        border-radius: 50%;
        font-size: 35px;
        line-height: 28px;
        text-align: center;
        text-decoration: none;
      }
    }

    .table-decision-value .overturned .decision-text:before {
      content: '';
      background: url("../icons/dfs/overturned.svg") no-repeat center center transparent;
    }

    .table-decision-value .overturned-in-part .decision-text:before {
      content: '';
      background: url("../icons/dfs/overturned-in-part.svg") no-repeat center center transparent;
    }

    .table-decision-value .upheld .decision-text:before {
      content: '';
      background: url("../icons/dfs/upheld.svg") no-repeat center center transparent;
    }

    .table-decision-value .decision-text {
      position: relative;
      padding-left: 35px;

      &:before {
        position: absolute;
        left: 0;
        width: 25px;
        height: 25px;
        vertical-align: middle;
      }
    }

    td.views-field-case-number {
      padding-right: 50px;
    }
  }

  .public-appeal-search-view table.public-appeals-data,
  .public-appeal-search-view table.public-appeals-data table {
    //hidden until datatables loads
    display: table;
  }

  #after-content {
    margin: 0 65px 40px;
    width: auto;
    text-align: center;

    p {
      font-size: 16px;
    }

    .dfs-footer-link a {
      font-size: 16px;
    }
  }


  /* external filters */
  #block-exposedformpublic-appeal-searchpublic-appeals-search-page {
    width: 342px;
    margin-top: 50px;
    padding-bottom: 350px;
    background: #EFF0F2;

    h2 {
      padding: 15px 0;
      background: #06464C;
      color: #fff;
      font-size: 24px;
      text-align: center;
      font-weight: 600;

      .mobile-close {
        display: none;
      }
    }

    form {
      position: relative;
      padding: 50px 28px 0;

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #EFF0F2;
        z-index: 10;
        opacity: 0.7;
      }

      &.active-filters:before {
        content: '';
        display: none;
      }

      label,
      legend {
        margin: 0 0 5px;
        padding: 0;
        background: transparent;
        color: #151515;
        font-size: 16px;
        font-weight: 600;
      }

      .chosen-container {
        //overrides chosen module's js
        width: 100%!important;

        .chosen-label {
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
        }
      }

      //for mobile, where chosen is disabled
      .js-form-type-select {
        position: relative;
        margin-bottom: 50px;

        select {
          padding: 0;
          width: 100%;
          background: transparent;
          border: none;
          border-bottom: 1px solid #151515;

          option {
            padding: 5px 0;
            background: transparent;
            color: #151515;
            font-size: 14px;

            &:checked {
              padding: 5px 27px 5px 10px;
              width: auto;
              background: #06464C;
              color: #fff;
              border: 1px solid #09464C;
              border-radius: 11px;
              font-size: 14px;
              opacity: 1;
            }
          }
        }

        &:after {
          content: '';
          background: url("../icons/dfs/arrowdown-gray.svg") no-repeat center center transparent;
          position: absolute;
          top: 16px;
          right: 0;
          width: 12px;
          height: 100%;
          pointer-events: none;
        }
      }

      .chosen-choices,
      .chosen-choices li {
        background: transparent;
      }

      .chosen-choices {
        padding: 0;
        border: none;
        border-bottom: 1px solid #151515;
      }

      .chosen-choices li.search-field {

        input[type="text"] {
          margin: 0;
          padding: 5px 0;
          width: 100%;
          background: transparent;
          color: #151515;
          font-size: 14px;

          &:focus {
            border: none;
            box-shadow: none;
          }
        }
      }

      li.search-choice {
        padding: 5px 27px 5px 10px;
        background: #06464C;
        color: #fff;
        border: 1px solid #09464C;
        border-radius: 11px;
        font-size: 14px;

        .search-choice-close {
          top: 4px;
          right: 5px;
          width: 14px;
          height: 14px;
          color: #fff;
          background: none;
          line-height: 14px;
          text-align: center;

          &:hover {
            background: #022629;
            border-radius: 50%;
            text-decoration: none;
          }

          &:after {
            content: 'x';
            font-size: 14px;
          }
        }
      }

      fieldset {
        margin: 0 0 50px 0;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        width: 15px;
        height: 15px;
        border: 1px solid #09464C;
        border-radius: 0;
        vertical-align: middle;

        &:checked {
          &:after {
            content: '\2714';
            position: absolute;
            top: 0px;
            padding-left: 3px;
            width: 12px;
            height: 15px;
            background: #09464C;
            color: #fff;
            font-family: 'Proxima Nova';
            font-size: 10px;
          }
        }
      }

      input[type="checkbox"]~label {
        display: inline;
        padding-left: 10px;
        font-weight: 400;
      }

      input[type="text"] {
        margin-bottom: 50px;
        padding: 10px 5px;
        height: auto;
        background: transparent;
        border: 1px solid #022629;
        border-radius: 3px;
        font-size: 14px;

        &:focus {
          border: 1px solid #5897fb;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
      }

      input[type="submit"],
      input[type="reset"],
      #edit-actions .button {
        padding: 15px;
        font-size: 16px;
        text-transform: capitalize;
        line-height: normal;
      }
    }
  }

  /* intro */
  #block-externalappealssearch {
    max-width: 915px;
    padding: 50px 50px 20px 40px;

    h2 {
      margin-bottom: 15px;
      font-size: 32px;
    }

    p {
      color: #151515;
      font-size: 16px;
    }
  }

  #block-publicappealsloadblock {
    max-width: 915px;
    margin-bottom: 30px;
    padding: 30px 50px 20px 40px;
    color: #09464c;
    background: #e5eeee;
    font-size: 24px;
    font-weight: 500;
  }

  #block-publicappealssearchtooltip {
    //visually hide tooltip until it has been moved by js
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
  }

  .public-appeal-search-view {
    position: relative;
    margin: 0;

    .search-filter {
      float: left;
      width: 100%;
      margin-right: 75px;
      max-width: 915px;

      /*
      * Override the scss !important in
      * profiles/custom/webny/themes/custom/base/_table.scss
      */
      .dataTables_filter {
        width: 100% !important;
        margin-bottom: 15px;

        label {
          position: relative;
          margin: 0;

          .label-text {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
          }

          input[type="search"] {
            margin: 0 !important;
            padding-left: 30px !important;
            width: 100% !important;
            height: 62px !important;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid #022629;
            border-radius: 32px;

            &:focus {
              border: 1px solid #5897fb;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }

            &::-ms-clear {
              display: none;
              width: 0;
              height: 0;
            }
          }

          &:after {
            content: '';
            position: absolute;
            top: 20px;
            right: 30px;
            width: 19px;
            height: 19px;
            background: url("../icons/dfs/search-icon.png") no-repeat center center transparent;

          }
        }
      }

      input[type="checkbox"]~label {
        display: inline;
        padding-left: 10px;
        font-weight: 400;
      }
    }

    .mobile-open {
      display: none;
      position: absolute;
      top: 15px;
      right: 0;
      width: 34px;
      height: 29px;
      background: url("../icons/dfs/filter-icon.svg") no-repeat center center transparent;
    }

    .tooltip-container {
      position: relative;
      display: block;
      float: left;
      margin-left: 30px;
      margin-right: 12px;

      .tooltip-toggle,
      .tooltip-toggle:hover,
      .tooltip-toggle:active,
      .tooltip-toggle:visited {
        display: block;
        background: #09464C;
        color: #fff;
        width: 13px;
        height: 13px;
        border: 1px solid #09464C;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        line-height: 14px;
        text-decoration: none;
      }


      /* tooltip */
      #block-publicappealssearchtooltip {
        //display tooltip it has been moved by js
        overflow: visible;
        clip: auto;
        height: auto;
        position: absolute;
        top: 33px;
        left: -30px;
        padding: 10px 15px;
        width: 324px;
        background: #09464C;
        color: #fff;
        font-size: 14px;
        z-index: 100;

        &:before {
          content: '';
          position: absolute;
          top: -13px;
          left: 26px;
          border-left: 11px solid transparent;
          border-right: 11px solid transparent;
          border-bottom: 13px solid #09464C;
        }

        &[hidden] {
          display: none;
        }
      }
    }

    .refs-include {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      line-height: 15px;

      input[type="checkbox"],
      input[type="checkbox"]~label {
        margin: 0;
      }
    }

    .counters {
      display: flex;
      max-width: 580px;
      padding: 2px 0;
      color: #09464c;
      font-size: 18px;

      .counters-inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .overturnedValue:before {
        content: '';
        background: url("../icons/dfs/overturned.svg") no-repeat center center transparent;
      }

      .overturnedPartValue:before {
        content: '';
        background: url("../icons/dfs/overturned-in-part.svg") no-repeat center center transparent;
      }

      .upheldValue:before {
        content: '';
        background: url("../icons/dfs/upheld.svg") no-repeat center center transparent;
      }

      .overturnedValue:before,
      .overturnedPartValue:before,
      .upheldValue:before {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }

      .overturnedValue,
      .overturnedPartValue,
      .upheldValue {
        display: block;
        font-size: 32px;
        text-align: center;
      }
    }

    .dt-buttons {
      text-align: right;

      a {
        color: #022629;
        text-decoration: none;
      }
    }

    .table-top {
      clear: both;
      display: flex;
      margin: 0 0 15px;
      padding-top: 30px;
      width: 100%;
      justify-content: space-between;
      color: #022629;
      font-size: 16px;
      font-weight: 400;

      .table-top-left,
      .table-top-right {
        display: flex;
        align-items: flex-end;
      }

      .dataTables_length {
        position: relative;
        margin-right: 8px;
        padding-right: 10px;

        label,
        select {
          margin: 0;
          width: auto;
          height: auto;
          color: #022629;
          border: none;
          font-size: 16px;
          font-weight: 400;
        }

        select {
          margin: 0 5px;
          padding: 0 20px 0 10px;
          background: url(../icons/dfs/arrowdown-gray.svg) no-repeat right center transparent;
          background-size: 12px;
          border-bottom: 1px solid #151515;
        }

        &:after {
          content: '|';
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .dt-buttons,
      .expand-wrapper {
        position: relative;
        margin-right: 8px;
        padding-right: 10px;

        &:after {
          content: '|';
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .table-top-right {
        text-align: right;

        a {
          color: #09464C;
          text-decoration: none;
        }
      }
    }

    /* pager */
    .pagination-holder {
      margin-top: 15px;
      margin-bottom: 65px;
      clear: both;
      text-align: center;
    }

    //load more button
    .views-infinite-scroll-content-wrapper~.pager {
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
    }

    .dataTables_wrapper {
      width: 100%;
    }

    .dataTables_wrapper .dataTables_paginate {
      display: inline-block;
      float: none;
      width: auto;
      background-color: #e5eeee;
      padding: 0;
      margin: 0;
      text-align: center;

      .paginate_button {
        height: 30px;
        margin: 4px 10px;
        text-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 18px;
        display: inline-block;
        color: #09464c;
        padding: 0 10px;

        &.current {
          background-color: #09464c;
          color: #fff;
        }
      }
    }

    /* disclaimer */
    .table-footer {
      font-size: 14px;
    }
  }

  @media screen and (max-width:2100px) {

    table .views-field-appeal-type,
    table .views-field-gender,
    table .views-field-age-range,
    table .views-field-decision-year,
    table .views-field-appeal-agent,
    table .views-field-case-number {
      display: none;
    }

    table td.views-field-decision {
      padding-right: 50px;
    }

    .public-appeal-search-view {
      .refs-include {
        margin-bottom: 0;
      }

      .counters {
        max-width: 915px;
        padding: 20px 0 10px;
        clear: both;

        .counters-inner {
          margin: 0 auto;
          width: 580px;
        }
      }

      .table-top .dt-buttons,
      .table-top .expand-wrapper {
        margin-right: 0;
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      .table-top-right {
        flex-direction: column;
      }

      .expand-long-text,
      .collapse-long-text {
        display: none;
      }
    }
  }


  @media screen and (max-width:1250px) {


    #block-externalappealssearch {
      padding: 50px 25px 20px;
    }

    #block-exposedformpublic-appeal-searchpublic-appeals-search-page {
      //display: none;
      position: absolute;
      top: 0;
      margin-top: 0;
      width: 100%;
      z-index: 999;


      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;

      h2 {
        .mobile-close {
          display: inline-block;
          position: absolute;
          right: 28px;
          color: #fff;
          font-size: 20px;
          font-weight: 100;

          &:hover,
          &:active {
            text-decoration: none;
          }
        }
      }
    }

    main .layout-content {
      width: 100%;
    }

    #after-content {
      margin: 0 25px 35px;
    }



    .views-element-container {
      padding: 0 25px 10px;
    }

    .public-appeal-search-view .search-filter {
      max-width: calc(100% - 65px);
    }

    .public-appeal-search-view .counters .counters-inner {
      width: 480px;
    }

    .public-appeal-search-view {
      .mobile-open {
        display: block;
      }

      .pagination-holder {
        margin-top: 10px;
        margin-bottom: 45px;
      }
    }
  }

  @media screen and (max-width:875px) {

    table .views-field-diagnosis,
    table .views-field-health-plan {
      display: none;
    }

    table thead {
      display: table-row-group;
    }

    table td {
      display: table-cell;

      &:before {
        display: none;
      }
    }

    .views-element-container {
      padding: 0 20px;
    }

    .public-appeal-search-view .counters {
      width: 100%;

      .counters-inner {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .public-appeal-search-view .table-top-left {
      .dataTables_length {
        margin-right: 0;
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      .dataTables_info {
        display: none;
      }
    }
  }

  @media screen and (max-width:480px) {
    #block-externalappealssearch {
      padding: 40px 15px 20px;

      h2 {
        font-size: 26px;
      }
    }

    .public-appeal-search-view .search-filter {
      max-width: calc(100% - 50px);

      /*
      * Override the scss !important in
      * profiles/custom/webny/themes/custom/base/_table.scss
      */
      .dataTables_filter label input[type="search"] {
        padding-left: 22px !important;
        height: 46px !important;
      }

      .dataTables_filter label:after {
        top: 13px;
      }
    }

    .public-appeal-search-view {
      .mobile-open {
        top: 8px;
      }
    }

    .public-appeal-search-view .counters {
      padding-bottom: 0;
      font-size: 14px;

      .upheldValue,
      .overturnedValue,
      .overturnedPartValue {
        font-size: 26px;

        &:before {
          width: 16px;
          height: 16px;
        }
      }
    }

    .public-appeal-search-view .tooltip-container #block-publicappealssearchtooltip {
      width: 300px;
    }

    .views-element-container .contextual-region {
      display: block;
    }


    #after-content {
      margin: 0 20px 35px;

      h2 {
        font-size: 28px;
      }
    }


    table thead tr th.views-field {
      padding: 18px 25px 17px 15px;
    }

    table td {
      font-size: 14px;
    }

    table td.views-field {
      padding: 25px 15px 20px;
    }

    table td.views-field-decision {
      padding-right: 45px;
    }

    .public-appeal-search-view .dataTables_wrapper .dataTables_paginate .paginate_button {
      margin: 4px 5px;
    }
  }

}
