.back-to-search {
  background-color: $bgcolor-light-leftmenu;
  height: 55px;

  .back-wrapper {
    margin-left: 60px;
    padding-top: 15px;
  }

  img.arrow {
    vertical-align: -11%;
    margin-right: 9px;
  }

  a.link {
    font: Bold 18px/22px $base-font;
    color: $bgcolor-dark-leftmenu;
  }
}

.public-appeal-content {
  padding: 63px;
}

.public-appeal-right {
  float: right;
  max-width: 350px;
  margin-left: 50px;
  margin-bottom: 50px;
  min-height: 380px;

  // .field-item {
  //   padding-bottom: 5px;
  // }

  .label,
  .value,
  .multiple-values {
    display: inline;
    font-size: 14px;
  }

  .label {
    font-weight: bold;
  }


  img.decision-icon {
    width: 19px;
    height: 23px;
    vertical-align: -20%;
    margin-left: 5px;
  }

}

.summary-references {
  .label {
    font-size: 22px;
    line-height: 27px;
    color: $color-primary;
    font-weight: bold;
    /* changed from 800 */
    padding: 0 0 .3em;
    margin: 0;
    line-height: 1.25em;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  .value {
    font-size: 16px;
    padding-bottom: 25px;
    max-width: 72%;
  }

  .field-item:nth-of-type(2) .value {
    font-size: 12px;
    max-width: 65%;
  }

}



.public-appeal #after-content {
  margin: 0 65px 40px;
  width: auto;
  text-align: center;

  p {
    font-size: 16px;
  }

  .dfs-footer-link a {
    font-size: 16px;
  }
}

.print-link {
  text-align: right;
  margin-right: 5.5%;
  font-size: 16px;
  margin-top: -37px;

  a {
    color: $bgcolor-dark-leftmenu;

    &:hover {
      color: $text-blue;
      padding-left: 1px;
    }
  }

  img {
    margin-right: 10px;
    width: 14px;
  }
}

body.views-page-print-public-appeal {
  #webny-global-header {
    display: none;
  }

  .dfs-footer-container {
    display: none;
  }

  .back-to-search {
    display: none;
  }

  .print-link {
    display: none;
  }
}



@media (max-width: 767px) {
  .public-appeal-right {
    float: none;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
    min-height: 200px;
  }

  .summary-references {
    .value {
      max-width: 100%;
    }

    .field-item:nth-of-type(2) .value {
      max-width: 100%;
    }

  }

}