// Public Appeals Search Page Content
//
// Public Appeals Search Page Content styling


.page-drop {
  display: none;
}

.accordion-content {
  ul {
    list-style-type: none;
  }
}

.accordion-toggle {
  cursor: pointer;
  margin-bottom: 5px;
}

.views-page-public-appeal-search.body-sidebars-first {

  main {
    display: flex;
  }

  aside.layout-sidebar-first {
    float: none;
    width: 342px;
    margin: 0;
    margin-top: 50px;
    padding-bottom: 50px;
    background: #EFF0F2;
  }

  main .layout-content {
    float: none;
    margin: 0;
    width: calc(100% - 342px);
  }


  #main-layout-content-switch-div {
    padding-right: 0;
  }

  .views-element-container,
  .public-appeal-search-form {
    margin: 0;
    padding: 0 75px 20px 40px;
  }

  .js-form-item-summary {
    label{
      display: none;
    }
  }

  table {
    position: relative;
    margin: 0;
    border: none;
    table-layout: fixed;

    thead {
      border: none;

      tr {
        border: none;

        th.views-field {
          width: 11%;
          padding: 18px 30px 17px 20px;
          border: none;
          font-size: 18px;
          text-transform: uppercase;
          line-height: 1em;
          word-break: break-word;
          word-wrap: break-word;

          &.views-field-summary,
          &.views-field-references,
          &.views-field-views-bulk-operations-bulk-form {
            display: none;
          }

          &.views-field-name-6 {
            width: 8%;
          }

          &.views-field-case-number {
            width: 12%;
          }

          a {
            position: relative;
            display: block;
            color: #fff;

            &:after {
              content: '';
              position: absolute;
              display: inline-block;
              left: auto;
              padding-left: 10px;
              width: 10px;
              height: 15px;
              background: url("../icons/dfs/sort_both.png") no-repeat right;
              cursor: pointer;
            }
          }

          .tablesort {
            position: absolute;
            display: inline-block;
            left: auto;
            padding-left: 10px;
            width: 10px;
            height: 15px;
            background-color: #62666A;
            z-index: 10;
          }

          .tablesort--asc {
            background-image: url("../icons/dfs/sort_asc.png");

          }

          .tablesort--desc {
            background-image: url("../icons/dfs/sort_desc.png");
            background-position: 0px -4px;
          }
        }
      }
    }

    tbody {
      border: none;

      tr:nth-child(even) {
        background: #fff;
        border: none;
      }
    }

    td {
      padding: 0;
      font-size: 16px;

      &.views-field {
        width: 10%;
        padding: 25px 20px 20px;
        background: #fff;
        color: #022629;
        word-break: break-word;
        word-wrap: break-word;

        &.views-field-summary,
        &.views-field-references,
        &.views-field-views-bulk-operations-bulk-form {
          display: none;
        }
      }

      table {
        margin: 0;
        background: #fff;

        thead {
          display: none;
        }

        .accordion {
          margin-bottom: 5px;
          background: #EFF0F2;
          color: #333333;

          &:last-child {
            margin-bottom: 0;
          }

          .accordion-toggle {
            display: block;
            padding: 5px 15px 0 20px;
            color: #06464C;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;

            &:after {
              content: '+';
              position: absolute;
              left: 130px;
            }

            &.accordion-open:after {
              content: '-';
            }
          }

          .accordion-content {
            padding: 20px 50px 15px 20px;

            h3 {
              color: #333333;
              font-size: 18px;
              font-weight: 700;
            }

            .summary-text,
            .refs-text {
              padding: 10px 0 25px;
            }
          }
        }
      }
    }

    .table-link-out {
      position: absolute;
      right: 0;

      a,
      a:hover,
      a:active,
      a:visited {
        display: block;
        width: 28px;
        height: 28px;
        color: #fff;
        background: url("../icons/dfs/arrow-icon-dfs.svg") no-repeat center center transparent;
        border-radius: 50%;
        font-size: 35px;
        line-height: 28px;
        text-align: center;
        text-decoration: none;
      }
    }

    .table-decision-value {
      .decision-text {
        position: relative;
        &:before {
          position: absolute;
          left: 0;
          width: 25px;
          height: 25px;
          vertical-align: middle;
        }
        .overturned:before {
          content: '';
          padding-left: 25px;
          background: url("../icons/dfs/overturned.svg") no-repeat center center transparent;
        }
        .overturned-in-part:before {
          content: '';
          padding-left: 25px;
          background: url("../icons/dfs/overturned-in-part.svg") no-repeat center center transparent;
        }
        .upheld:before {
          content: '';
          padding-left: 25px;
          background: url("../icons/dfs/upheld.svg") no-repeat center center transparent;
        }
      }
    }

    td.views-field-case-number,
    tr:first-child td.views-field-case-number {
      padding-right: 50px;
    }
  }

  #after-content {
    margin: 0 65px 40px;
    width: auto;
    text-align: center;

    p {
      font-size: 16px;
    }

    .dfs-footer-link a {
      font-size: 16px;
    }
  }


  /* external filters */

#block-categoriestitle h2 {
  padding: 15px 0;
  background: #06464C;
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.block-facets-ajax {
  position: relative;
  padding: 50px 28px 0;
  //background: #EFF0F2;
  &.block-facet--checkbox {
    h3 {
      margin: 0 0 10px;
      padding: 0;
      background: transparent;
      color: #151515;
      font-size: 16px;
      font-weight: 600;
      display: block;
      .mobile-close {
        display: none;
      }
    }

    label {
      display: inline;
      padding-left: 10px!important;
      margin: 0 0 5px;
      padding: 0;
      background: transparent;
      color: #151515;
      font-size: 16px;
      font-weight: 400;
    }

    ul.js-facets-checkbox-links {
      list-style: unset;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      position: relative;
      width: 15px;
      height: 15px;
      border: 1px solid #09464C;
      border-radius: 0;
      vertical-align: middle;

      &:checked {
        &:after {
          content: '\2714';
          position: absolute;
          top: 0px;
          padding-left: 3px;
          width: 12px;
          height: 15px;
          background: #09464C;
          color: #fff;
          font-family: 'Proxima Nova';
          font-size: 10px;
          }
        }
      }
  }
    &.block-facet--select2 {
      label {
        margin: 0 0 10px;
        padding: 0;
        background: transparent;
        color: #151515;
        font-size: 16px;
        font-weight: 600;
        display: block;
      }
    .select2-selection--multiple {
      background: transparent;
      border: 0!important;
    }
    .select2-container--default {
      border: 0!important;
      border-radius: 0;
      background-color: transparent!important;
      border-bottom: 1px solid #000!important;
      input[type="search"] {
        height: inherit;
        margin: 0;
        padding: 5px 0;
        width: 100%;
        background: transparent;
        color: #151515;
        font-size: 14px;
      }
      .select2-selection__rendered {
        margin: 0;
        padding: 0 20px 0 10px;
        background: url("../icons/dfs/arrowdown-gray.svg") no-repeat right center transparent;
        background-size: 12px;
        word-wrap: break-word !important;
        text-overflow: inherit !important;
        white-space: normal !important;
      }
      .select2-results__option {
        padding: 3px!important;
        font-size: 13px!important;
      }
      .select2-selection__choice {
        padding: 6px;
        background: #06464C;
        color: #fff;
        border: 1px solid #09464C;
        border-radius: 11px;
        font-size: 14px;
        line-height: normal;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 216px;
         &:after {
           content: '';
          }
        }
      .select2-selection__choice__remove {
        color: #FFF;
        margin-right: 7px;
        &:hover {
          background: #022629;
          border-radius: 11px;
          text-decoration: none;
        }
      }
      li.select2-search.select2-search--inline {
        padding-top: 4px;
      }

      .select2-dropdown.select2-dropdown--below {
        margin-top: -10px !important;
        padding: 3px !important;
        font-size: 13px !important;
      }
    }
    &.select2-container--focus {
      .select2-selection--multiple {
        border: 0!important;
      }
    }
  }
}


    form {
      position: relative;
      // padding: 50px 28px 0;

      label,
      legend {
        margin: 0 0 5px;
        padding: 0;
        background: transparent;
        color: #151515;
        font-size: 16px;
        font-weight: 600;
      }

      .chosen-container,
      .select2-container {
        //overrides chosen module's js
        font-family: "Proxima Nova", Arial, sans-serif;
        width: 100% !important;

        li.select2-results__option {
          margin: 0;
          padding: 5px 6px;
          list-style: none;
          line-height: 15px;
          font-size: 13px;
        }

        .chosen-label {
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
        }
      }

      //for mobile, where chosen is disabled
      .js-form-type-select {
        position: relative;
        margin-bottom: 50px;

        select {
          padding: 0;
          width: 100%;
          background: transparent;
          border: none;
          border-bottom: 1px solid #151515;

          option {
            padding: 5px 0;
            background: transparent;
            color: #151515;
            font-size: 14px;

            &:checked {
              padding: 5px 27px 5px 10px;
              width: auto;
              background: #06464C;
              color: #fff;
              border: 1px solid #09464C;
              border-radius: 11px;
              font-size: 14px;
              opacity: 1;
            }
          }
        }

        &:after {
          content: '';
          background: url("../icons/dfs/arrowdown-gray.svg") no-repeat center center transparent;
          position: absolute;
          top: 16px;
          right: 0;
          width: 12px;
          height: 100%;
          pointer-events: none;
        }
      }

      .chosen-choices,
      .chosen-choices li {
        background: transparent;
      }

      .chosen-choices {
        padding: 0;
        border: none;
        border-bottom: 1px solid #151515;
      }

      .chosen-choices li.search-field {

        input[type="text"] {
          margin: 0;
          padding: 5px 0;
          width: 100%;
          background: transparent;
          color: #151515;
          font-size: 14px;

          &:focus {
            border: none;
            box-shadow: none;
          }
        }
      }

      li.search-choice {
        padding: 5px 10px;
        background: #06464C;
        color: #fff;
        border: 1px solid #09464C;
        border-radius: 11px;
        font-size: 14px;

        .search-choice-close,
        .select2-selection__choice__remove {
          top: 4px;
          right: 5px;
          width: 14px;
          height: 14px;
          color: #fff;
          background: none;
          line-height: 14px;
          text-align: center;
          margin-right: 7px;

          &:hover {
            background: #022629;
            border-radius: 50%;
            text-decoration: none;
          }

          &:after {
            content: 'x';
            font-size: 14px;
          }
        }
      }

      .js-form-item-summary-value,
      .js-form-item-references-value,
      .js-form-item-items-per-page {
        display: none;
      }

      fieldset {
        margin: 0 0 50px 0;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        width: 15px;
        height: 15px;
        border: 1px solid #09464C;
        border-radius: 0;
        vertical-align: middle;

        &:checked {
          &:after {
            content: '\2714';
            position: absolute;
            top: 0px;
            padding-left: 3px;
            width: 12px;
            height: 15px;
            background: #09464C;
            color: #fff;
            font-family: 'Proxima Nova';
            font-size: 10px;
          }
        }
      }

      input[type="checkbox"]~label {
        display: inline;
        padding-left: 10px;
        font-weight: 400;
      }

      input[type="text"] {
        margin-bottom: 50px;
        padding: 10px 5px;
        height: auto;
        background: transparent;
        border: 1px solid #022629;
        border-radius: 3px;
        font-size: 14px;

        &:focus {
          border: 1px solid #5897fb;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
      }

      input[type="submit"],
      input[type="reset"],
      #edit-actions .button {
        padding: 15px;
        font-size: 16px;
        text-transform: capitalize;
        line-height: normal;
      }
    }


  /* intro */
  #block-externalappealssearch {
    padding: 50px 50px 20px 40px;

    h2 {
      margin-bottom: 15px;
      font-size: 32px;
    }

    p {
      color: #151515;
      font-size: 16px;
    }
  }

  .facets-summary-block {
    width: 83%;
    margin: 0 auto;
    ul {
      padding: 10px 0;
      list-style: unset;
      list-style-type: none;
      li {
        font-size: 16px;
      }
    }
  }

  #block-publicappealssearchtooltip,
  #block-datasetexport {
    //visually hide tooltip and export popup until they have been moved by js
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
  }



  #views-exposed-form-public-appeal-search-public-appeals-search-page {
    position: relative;
    float: left;
    width: 100%;
    margin-right: 75px;
    //margin-left: 41px;
    max-width: 915px;

    input[type=submit] {
      position: absolute;
      top: 5px;
      right: 6px;
      background: none;
      font-size: 1px;
      width: 65px;
      padding: 16px;
      border-radius: 24px;
      z-index: 1;
      opacity: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50.5px;
      right: 30px;
      width: 19px;
      height: 19px;
      background: url("../icons/dfs/search-icon.png") no-repeat center center transparent;
      display: none!important;
      z-index: -9999!important;
    }

    .js-form-item-search,
    .js-form-type-textfield {
      width: 100%;
      margin-bottom: 15px;

      label {
        position: relative;
        margin: 0;

        .label-text {
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0;
          border: 0;

        }

        &:after {
          content: '';
          position: absolute;
          top: 50.5px;
          right: 30px;
          width: 19px;
          height: 19px;
          background: url("../icons/dfs/search-icon.png") no-repeat center center transparent;

        }
      }

      input[type="search"],
      input[type="text"] {
        margin: 0;
        padding-left: 30px;
        width: 100%;
        height: 62px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #022629;
        border-radius: 32px;

        &:focus {
          border: 1px solid #5897fb;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        &::-ms-clear {
          display: none;
          width: 0;
          height: 0;
        }
      }
    }
  }

  .tooltip-container {
    position: relative;
    display: block;
    float: left;
    margin-left: 30px;
    margin-right: 12px;

    .tooltip-toggle,
    .tooltip-toggle:hover,
    .tooltip-toggle:active,
    .tooltip-toggle:visited {
      display: block;
      background: #09464C;
      color: #fff;
      width: 13px;
      height: 13px;
      border: 1px solid #09464C;
      border-radius: 50%;
      font-size: 10px;
      text-align: center;
      line-height: 14px;
      text-decoration: none;
    }


    /* tooltip */
    #block-publicappealssearchtooltip {
      //display tooltip once it has been moved by js
      box-sizing: border-box;
      overflow: visible;
      clip: auto;
      height: auto;
      position: absolute;
      top: 33px;
      left: -30px;
      padding: 10px 15px;
      width: 324px;
      background: #09464C;
      color: #fff;
      font-size: 14px;
      z-index: 100;

      &:before {
        content: '';
        position: absolute;
        top: -13px;
        left: 26px;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 13px solid #09464C;
      }

      &[hidden] {
        display: none;
      }
    }
  }

  .export-container {
    position: relative;

    /* export block */
    #block-datasetexport {
      //display export block once it has been moved by js
      box-sizing: border-box;
      overflow: visible;
      clip: auto;
      width: 300px;
      height: auto;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 0 20px;
      background: #fff;
      border: 1px solid #022629;
      font-family: "Proxima Nova", Arial, sans-serif;
      text-align: left;
      z-index: 100;

      h2 {
        padding: 10px 25px 10px 10px;
        width: 100%;
        background: #06464C;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        box-sizing: border-box;

        button {
          //content: 'x';
          //content: '×';
          position: absolute;
          top: 0;
          right: 5px;
          background: transparent;
          border: none;
          font-size: 20px;
          font-weight: 100;
        }
      }

      p {
        margin: 0;
        padding: 10px 20px 0;
        font-size: 16px;

        a {
          display: block;
          color: #09464c;

          &:hover,
          &:active {
            text-decoration: underline;
          }
        }
      }

      &[hidden] {
        display: none;
      }
    }
  }

  #public-appeal-search-form .js-form-item-references-included {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 15px;

    input[type="checkbox"],
    input[type="checkbox"]~label {
      margin: 0;
    }

    input[type="checkbox"]~label {
      display: inline;
      padding-left: 10px;
      font-weight: 400;
    }
  }

  .counters {
    display: flex;
    max-width: 580px;
    padding: 2px 0;
    color: #09464c;
    font-size: 18px;

    .counters-inner {
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 100%;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        &.upheld-li {
          order: 1;
        }

        &.overturned-in-part-li {
          order: 2;
        }

        &.overturned-li {
          order: 3;
        }
      }
    }

    .overturnedValue:before,
    .overturned-value:before {
      content: '';
      background: url("../icons/dfs/overturned.svg") no-repeat center center transparent;
    }

    .overturnedPartValue:before,
    .overturned-in-part-value:before {
      content: '';
      background: url("../icons/dfs/overturned-in-part.svg") no-repeat center center transparent;
    }

    .upheldValue:before,
    .upheld-value:before {
      content: '';
      background: url("../icons/dfs/upheld.svg") no-repeat center center transparent;
    }

    .overturnedValue:before,
    .overturnedPartValue:before,
    .upheldValue:before,
    .overturned-value:before,
    .overturned-in-part-value:before,
    .upheld-value:before {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    .overturnedValue,
    .overturnedPartValue,
    .upheldValue,
    .overturned-value,
    .overturned-in-part-value,
    .upheld-value {
      display: block;
      font-size: 32px;
      text-align: center;
    }
  }

  #block-publicappealsearchblock {
    position: relative;
  }

  .mobile-open {
    display: none;
    position: absolute;
    top: 15px;
    right: 25px;
    width: 34px;
    height: 29px;
    background: url("../icons/dfs/filter-icon.svg") no-repeat center center transparent;
  }

  .public-appeal-search-view {
    position: relative;
    display: block;
    margin: 0;

    header {
      width: 100%;
    }

    .dt-buttons {
      text-align: right;

      a {
        color: #022629;
        text-decoration: none;
      }
    }

    .table-top {
      clear: both;
      display: flex;
      margin: 0 0 15px;
      padding-top: 30px;
      width: 100%;
      justify-content: space-between;
      color: #022629;
      font-size: 16px;
      font-weight: 400;

      .table-top-left,
      .table-top-right {
        display: flex;
        align-items: flex-end;
      }

      .page-drop {
        position: relative;
        margin-right: 8px;
        padding-right: 10px;

        label,
        select {
          display: inline;
          margin: 0;
          width: auto;
          height: auto;
          color: #022629;
          border: none;
          font-size: 16px;
          font-weight: 400;
        }

        select {
          margin: 0 5px;
          padding: 0 20px 0 10px;
          background: url(../icons/dfs/arrowdown-gray.svg) no-repeat right center transparent;
          background-size: 12px;
          border-bottom: 1px solid #151515;

          &::-ms-expand {
            display: none;
          }
        }

        &:after {
          content: '|';
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .dt-buttons,
      .export-wrapper {
        position: relative;
        margin-right: 8px;
        padding-right: 10px;

        &:after {
          content: '|';
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .collapse-wrapper {
        display: none;
      }

      .table-top-right {
        text-align: right;

        a {
          color: #09464C;
          text-decoration: none;
        }
      }
    }

    .export-wrapper.below-table {
      margin: 25px 0 0;
      text-align: right;

      a {
        color: #09464C;
        text-decoration: none;
      }
    }

    /* pager */
    .pager {
      margin: 15px 0 65px;
      width: 100%;
      clear: both;
      text-align: center;
    }

    .pager__items {
      display: inline-block;
      margin: 0;
      text-align: center;

      .paginate_button,
      .pager__item {
        font-size: 18px;
        display: inline-block;
        color: #09464c;

        &.current {
          background-color: #09464c;
          color: #fff;
        }
      }
    }

    /* disclaimer */
    .table-footer {
      font-size: 14px;
    }
  }

  @media screen and (max-width:2100px) {
    table thead tr th.views-field {
      padding: 18px 20px 17px 10px;
    }
    table td.views-field {
      padding: 45px 10px 10px;
    }
    table tr:first-child td.views-field {
      padding: 25px 10px 10px;
    }
    table td table .accordion .accordion-toggle {
      padding: 5px 5px 0 10px;
    }
    table td table .accordion .accordion-content {
      padding: 20px 50px 15px 10px;
    }

    table td.views-field-case-number,
    table tr:first-child td.views-field-case-number {
      padding-right: 50px;
    }
  }

  @media screen and (max-width:1850px) {
    .views-element-container,
    .public-appeal-search-form {
      padding: 0 25px 20px;
    }

    table thead tr th.views-field {
      font-size: 17px;
    }
    table td.views-field {
      font-size: 14px;
    }

    #public-appeal-search-form .js-form-item-references-included {
      margin-bottom: 0;
    }

    .counters {
      max-width: 915px;
      padding: 20px 0 10px;
      clear: both;

      .counters-inner {
        margin: 0 auto;
        width: 580px;
      }
    }
  }

  @media screen and (max-width:1550px) {

    table thead tr th.views-field {
      padding: 18px 10px 17px;
      font-size: 16px;
    }

    .public-appeal-search-view {

      .table-top .export-wrapper {
        margin-right: 0;
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      .table-top-right {
        flex-direction: column;
      }

      .expand-long-text,
      .collapse-long-text {
        display: none;
      }
    }
  }


  @media screen and (max-width:1200px) {

    aside.layout-sidebar-first {
      width: 0;
    }

    table {
      table-layout: auto;

      td table {
        table-layout: fixed;
      }
    }

    table .views-field-name-4,
    table .views-field-name-5,
    table .views-field-name-6,
    table .views-field-name-3,
    table .views-field-name-8,
    table .views-field-case-number {
      display: none;
    }

    table td.views-field-name-3 {
      padding-right: 50px;
    }

    table thead tr th.views-field {
      padding: 18px 30px 17px 20px;
      font-size: 18px;
    }
    table td.views-field {
      padding: 45px 20px 10px;
      font-size: 16px;
    }
    table tr:first-child td.views-field {
      padding: 25px 20px 10px;
    }
    table td table .accordion .accordion-toggle {
      padding: 5px 15px 0 20px;
    }
    table td table .accordion .accordion-content {
      padding: 20px 50px 15px 20px;
    }


    #block-externalappealssearch {
      padding: 50px 25px 20px;
    }

    #block-exposedformpublic-appeal-searchpublic-appeals-search-page {
      //display: none;
      position: absolute;
      top: 0;
      margin-top: 0;
      width: 100%;
      z-index: 999;


      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;

      h2 {
        .mobile-close {
          display: inline-block;
          position: absolute;
          right: 28px;
          color: #fff;
          font-size: 20px;
          font-weight: 100;

          &:hover,
          &:active {
            text-decoration: none;
          }
        }
      }
    }

    main .layout-content {
      width: 100%;
    }

    #after-content {
      margin: 0 25px 35px;
    }



    .views-element-container,
    .public-appeal-search-form {
      padding: 0 25px 10px;
    }

    #public-appeal-search-form {
      max-width: calc(100% - 65px);
    }

    .counters .counters-inner {
      width: 480px;
    }

    .mobile-open {
      display: block;
    }

    .public-appeal-search-view .export-wrapper.below-table {
      margin-top: 10px;
    }

    .public-appeal-search-view {

      .pager {
        margin-top: 10px;
        margin-bottom: 45px;
      }
    }
  }

  @media screen and (max-width:850px) {

    table thead tr th.views-field {
      font-size: 17px;
    }
    table td.views-field {
      font-size: 15px;
    }
  }

  @media screen and (max-width:768px) {

    table thead tr th.views-field {
      font-size: 18px;
      word-break: normal;
      word-wrap: normal;
    }
    table td.views-field {
      font-size: 16px;
      word-break: normal;
      word-wrap: normal;
    }

    .mobile-open {
      right: 15px;
    }

    .search-results {
      display: none;
    }

    .public-appeal-search-view .table-top-left {
      .page-drop {
        margin-right: 0;
        padding-right: 0;

        &:after {
          display: none;
        }
      }
    }

    table .views-field-name,
    table .views-field-name-2 {
      display: none;
    }

    table thead {
      display: table-row-group;
    }

    table td {
      display: table-cell;

      &:before {
        display: none;
      }
    }

    .views-element-container,
    .public-appeal-search-form {
      padding: 0 20px;
    }

    .counters {
      width: 100%;

      .counters-inner {
        width: 100%;
      }
    }

    .public-appeal-search-view .export-wrapper.below-table {
      margin-top: 5px;
    }
  }

  @media screen and (max-width:480px) {
    #public-appeal-search-form:after {
      top: 15px;
    }

    #block-externalappealssearch {
      padding: 40px 15px 20px;

      h2 {
        font-size: 26px;
      }
    }

    #public-appeal-search-form {
      max-width: calc(100% - 50px);

      /*
      * Override the scss !important in
      * profiles/custom/webny/themes/custom/base/_table.scss
      */
      .js-form-item-search input[type="text"] {
        padding-left: 22px !important;
        height: 46px !important;
      }

      .js-form-item-search label:after {
        top: 13px;
      }
    }

    .mobile-open {
      top: 8px;
    }

    .counters {
      padding-bottom: 0;
      font-size: 14px;
      font-weight: 600;

      .upheldValue,
      .overturnedValue,
      .overturnedPartValue,
      .upheld-value,
      .overturned-value,
      .overturned-in-part-value {
        font-size: 26px;

        &:before {
          width: 16px;
          height: 16px;
        }
      }
    }

    .tooltip-container #block-publicappealssearchtooltip {
      width: 300px;
    }

    .views-element-container .contextual-region {
      display: block;
    }

    #after-content {
      margin: 0 20px 35px;

      h2 {
        font-size: 28px;
      }
    }

    table thead tr th.views-field {
      padding: 18px 25px 17px 15px;
    }

    table td {
      font-size: 14px;
    }

    table td.views-field {
      padding: 45px 15px 10px;
    }

    table tr:first-child td.views-field {
      padding: 25px 15px 10px;
    }

    table td.views-field-name-3 {
      padding-right: 45px;
    }

    .pager .pager__items .pager__item {
      margin: 4px 5px;
    }
  }


  /*  Ajax search all (Solr Search of fulltext in dialog popup window) */
  .ui-dialog {
    z-index: 1000;

    .views-exposed-form,
    .ui-dialog-buttonpane,
    .js-pager__items {
      display: none;
    }

    .ui-dialog-titlebar-close {

      position: absolute;
      right: 1em;
      top: 45%;
      margin: -13px 0 0 0;
      padding: 1px;
      width: 100px;
      height: 30px;
    }


    table thead tr {
      th.views-field {
        font-size: 13px;
        font-weight: normal;
        padding: 15px 0px;
        text-align: center;
        width: fit-content;
        max-width: 12%;
      }
    }

    table {
      tr:first-child td.views-field-case-number {
        padding-right: 10px;

      }
      tr:first-child td.views-field {
        padding: 0px;
      }

      td.views-field {
        font-size: 13px;
        padding: 10px 0px;
        line-height: 16px;
        width: fit-content;
        max-width: 12%;


      }

      thead tr th.views-field.views-field-summary,
      thead tr th.views-field.views-field-references,
      td.views-field.views-field-references,
      td.views-field.views-field-summary {
        display: table-cell;
        overflow: hidden;
        max-height: 100px;
      }
    }
  }

  .ui-widget-content a {
    color: #2f3b9b;
  }
}


.views-page-public-appeal-search.body-sidebars-first table td.views-field.views-field-case-number-1 .table-link-out {
  margin-top: -42px!important;
  overflow: hidden!important;
  right: 10px!important;
}
