.dfs-block-search-form {
  position: relative;
  margin-top: -59px;
  float: right;
  width: 280px;
  background-color: transparent;
  /* border: solid 3px #ff7347; */
  font-size: 16px;
  text-align: center;
  /* right: 10px; */
  z-index: 500;
  margin-right: 5px;
  .form-actions {
    display: none;
  }
  input[type="search"],
  input[type="search"]:focus,
  input[type="text"],
  input[type="text"]:focus {
    font-size: 100%;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 1rem 1rem 1rem 2.5rem;
    height: 2.4rem;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
    background: url(../icons/dfs/search_white.svg) bottom left no-repeat;
    background-color: #0a4c53;
    background-size: 24px 24px;
    background-position: 12px 10px;
  }
  #views-exposed-form-acquia-search-page {
    label {
      display: none;
    }
  }
}

.layout-container main {
  clear: both;
}