// Sitemap
//
// Markup: sitemap.hbs
//
// Style guide: components.sitemap

// ######################################################################### //
/* START STYLING MOBILE FIRST UNDER HERE */


.sitemap {
  margin: 50px;
}

.sitemap-menu {
	list-style-type: none;
}

.sitemap .sitemap-box {
	margin-bottom: 0;
}

.sitemap .sitemap-box-menu {
	margin-top: 25px;
}

.sitemap .sitemap-box ul {
	float: left;
	position: relative;
	padding-left: 0 !important;
}



.sitemap div:nth-last-child(n+2) {
	border-bottom: 1px solid $color-mono-mid;
    padding-bottom: 35px;
}

.sitemap-box {
	display: inline-block;
	width: 100%;
}

ul.sitemap-menu {
	display: inline-block;
	padding-left: 0;
	width: 100%;
}

/* Top Level Nav Item Styles */

.content > ul.sitemap-menu > li > a,
.content > ul.sitemap-menu > li > span {
	width: 100%;
	display: inline;
}

/* Top Level Nolink Styles */
.content > ul.sitemap-menu > li > span {
	font-size: 1.111em;
	font-weight: 900;
	padding-right: 20px;
	float: left;
	min-width: 160px;

	&:after {
	font-family: 'icomoon';
	content: "\F054";
	font-size: 0.667em;
	color: $text-blue;
	padding-left: 10px;
	}
}

/* Top Level Link Styles */
.content > ul.sitemap-menu > li > a {
	font-size: 1.111em;
	font-weight: 900;
	color: $color-mono-black;
	float: left;
	padding-right: 20px;
	min-width: 160px;

	&:after {
	font-family: 'icomoon';
	content: "\F054";
	font-size: 0.667em;
	color: $text-blue;
	padding-left: 10px;
	}
}

/* Second Level Nav Item Styles */
.content > ul.sitemap-menu ul {
	clear: both;
	font-size: 1em;
	font-weight: 500;
	padding-left: 0;
	width: 80%;
	line-height: 22px;
}


// ######################################################################### //
/* TABLET VIEW */
@media (min-width: $min-tab) and (max-width: $min-desktop) {


.sitemap-menu > li {
	float: left;
}

.sitemap-menu > li > ul > li {
	clear: both;
}	

.sitemap div:nth-last-child(n+2) {
	padding-bottom: 0;
}

/* Top Level Nav Item Styles */
.content > ul.sitemap-menu > li {
	width: 50%;
	min-height: 85px;
}

/*.content > ul.sitemap-menu li:nth-child(odd) {
	clear: left;
}*/

.content > ul.sitemap-menu > li > a,
.content > ul.sitemap-menu > li > span {
	/*min-width: 170px;*/
	
}


} // END TABLET VIEW







// ######################################################################### //
/* PC VIEW */
@media (min-width: $min-desktop) {

.sitemap {
  margin: 50px auto;
  width: 80%;
}

.sitemap-box,
.sitemap-menu {
	width: 100%;
}

.content {
	width: 100%;
}

/* Top Level Nav Item Styles */

.content > ul.sitemap-menu > li {
	width: 25%;
	float: left;
}

.content > ul.sitemap-menu > li > a,
.content > ul.sitemap-menu > li > span {
	/*margin-top: 40px;*/
} 

.content > ul.sitemap-menu > li:nth-child(n+5) {
	margin-top: 50px;
}

.content > ul.sitemap-menu > li:nth-child(5n) {
	clear: left;
}

.content > ul.sitemap-menu > li:nth-child(9n) {
	clear: left;
}

} // END MIN PC VIEW
