<article data-history-node-id="23" data-quickedit-entity-id="node/23" role="article" class="contextual-region webny-announcements" about="/node/23" data-quickedit-entity-instance-id="0"> 
      <div class="webny-announce-wrap">
        <div class="webny-announce-wrap-in">
            <div class="announcement-info">
                <h3><span data-quickedit-field-id="node/23/title/en/webny_announcement">Inner Page Example: Division of Consumer Protection</span>
</h3>
                <div class="announcement-summary">
                     Consumer Assistance Unit: is staffed five days a week, from 8:30 a.m. to 4:30 p.m. to receive consumer complaints via our toll free complaint hotline @ 1-800-697-1220 and our web site at www.nysconsumer.gov.
 
                </div>
            </div>
            <div class="webny-announcement-button">
              <a href="/node/23">LEARN MORE</a>
            </div>
        </div>        
     </div>
  </article>