<div class="bioframe">
      
            <div data-quickedit-field-id="paragraph/1/field_webny_landing_bio_eref/en/default">



<article data-history-node-id="48" data-quickedit-entity-id="node/48" role="article" class="contextual-region webny_contact-bioframe" about="/node/48" data-quickedit-entity-instance-id="0">
          
                           
<div class="bio-frame-meta">
      <div class="webny-frametitle">
    <h4 class="frame-title">Inspector General</h4>
</div><div class="webny-headline">
    <h2 class="frame-headline">Catherine Leahy Scott</h2>
</div><div class="caption">
  Catherine Leahy Scott became New York State Inspector General on May 2, 2013.  Catherine Leahy Scott, New York State Inspector General. Prior to becoming Inspector General, Ms. Leahy Scott served as First Deputy Inspector General.  
</div><div class="reslink">
  <a href="/node/48">READ MORE</a>
</div>
  </div>
                      
                           
<div class="bio-frame-image">
      
            <div data-quickedit-field-id="node/48/field_webny_contact_image/en/webny_contact_bio_frame"><article data-quickedit-entity-id="media/1" class="media media-image view-mode-default" data-quickedit-entity-instance-id="0">
      
            <div data-quickedit-field-id="media/1/image/en/default">  <img src="/sites/default/files/InspectorGeneralScott_0.png" width="450" height="415" alt="Catherine Leahy Scott" typeof="foaf:Image">

</div>
      
  </article>
</div>
      
  </div> 
                    </article>
</div>
      
  </div>