
<div class="page-paragraphs landing-paragraphs">
 <div class="page-paragraphs-in">
  <div data-quickedit-field-id="node/40/field_webny_landing_paragraph/en/full">
  <div>
    <div class="paragraph paragraph--type--webny-card-paragraph-type paragraph--view-mode--default"> 
      <div class="featured-card--field-webny-card-pg-title">Frame Title</div>
      <div class="featured-card--field-webny-card-pg-headline">Frame Headline</div>

      <div data-quickedit-field-id="paragraph/1/field_webny_card_entity_ref/en/default">
        
        <div>

          <article role="article" class="contextual-region webny-card" about="/node/19">
            
              <div data-contextual-id="node:node=19:changed=1459619988&amp;langcode=en"></div>
            
              <div class="webny-card-img">
                <article data-quickedit-entity-id="media/1" class="media media-image view-mode-default">
                  <div data-quickedit-field-id="media/1/image/en/default">  
                    <img src="https://www.ny.gov/sites/ny.gov/files/styles/schedule_block_310x174/public/thumbnails/image/ECC_Volunteer_Nature_Group_Cutting_Tree_card_0.jpg?itok=bZevczoY" alt="test care" typeof="foaf:Image"   />
                  </div>
                </article>
              </div>

              <h2>
                <a href="/node/19" rel="bookmark"><span data-quickedit-field-id="node/19/title/en/webny_featured_card">Governor Cuomo Launches Year Three of 43North the $5 Million Startup Competition</span></a>
              </h2>
              <div class="webny-card-date">March 15, 2016 | 11 AM CDT
              </div>
              <div class="webny-card-teaser">
                <div>Applications are now being accepted for the third year of 43North.</div>
              </div>
             
              <div class="webny-card-cta">
                <span class="icon-right_carat">
                  <a href="/node/19" title="Governor Cuomo Launches Year Three of 43North the $5 Million Startup Competition">Learn More</a>
                </span>
              </div>
          </article>
        </div>
        <div>
          <article role="article" class="contextual-region webny-card" about="/node/10">
          
             
              <div data-contextual-id="node:node=10:changed=1459448678&amp;langcode=en"></div>
               <h2>
              <a href="/node/10" rel="bookmark"><span data-quickedit-field-id="node/10/title/en/webny_featured_card">Council on the Arts</span></a>
              </h2>
              <div class="webny-card-teaser">
                <p>Grantmaking in arts, culture &amp; heritage</p>
              </div>
              <div class="webny-card-cta">
                <span class="icon-right_carat">
                  <a href="/node/19" title="Council on the Arts">Learn More</a>
                </span>
              </div>
          
          </article>
         </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>