<div class="press-contact-info">
    <h2>Contact the Governor's Press Office</h2>
    <fieldset class="contact-wrapper">
    <div class="fieldset-wrapper">
        <p>Please Note: We do not have a numbered street address for mailing purposes.</p>




    <fieldset class="contact-info-wrapper js-form-item form-item js-form-wrapper form-wrapper">
          <legend>
        <span class="fieldset-legend"></span>
      </legend>
      <div class="fieldset-wrapper">

    <div class="contact-col-1">
      <div class="contact-phone">
        <div data-quickedit-field-id="node/19/field_webny_contact_phone/en/webny_contact_for_news" class="icon-phone quickedit-field">
          <div class="contact--field-webny-contact-phone">Contact us by phone:</div>
        </div>
              <div>
                  <div class="contact-phone-value"><a href="tel:518-474-8418">518-474-8418</a></div>
              <div class="contact-phone-value"><a href="tel:555-123-4567">555-123-4567</a></div>
                  </div>
          </div>
    </div>
    <div class="contact-col-2">
      <div class="contact-email">
        <div data-quickedit-field-id="node/19/field_webny_contact_email/en/webny_contact_for_news" class="icon-email quickedit-field">
          <div class="contact--field-webny-contact-email">Contact us by email:</div>
        </div>
              <div>
                  <div class="contact-email-value"><a href="mailto:Press.Office@exec.ny.gov">Press.Office@exec.ny.gov</a></div>
                  </div>
          </div>
    </div>
    <div class="contact-col-1">
      <div class="contact-address">
        <div data-quickedit-field-id="node/19/field_webny_contact_address/en/webny_contact_for_news" class="icon-email quickedit-field">
          <div class="contact--field-webny-contact-address">Contact us by mail:</div>
        </div>
                  <div class="contact-address-value"><p>State Capitol</p>

    <p>2134 Main St.</p>

    <p>Albany, NY 12220</p>
    </div>
              </div>
    </div>

    <div class="contact-col-2">
        <div class="contact-fax">
            <div data-quickedit-field-id="node/19/field_webny_contact_fax/en/webny_contact_for_news" class="icon-other quickedit-field">
                <div class="contact--field-webny-contact-fax">Contact us by fax:</div>
            </div>
            <div>
                <div class="contact-fax-value"><a href="tel:518-555-0987">518-555-0987</a></div>
            </div>
        </div>
    </div>

      <div class="contact-col-1">
          <div class="contact-mapdir">
              <div class="icon-mapdir">
                  <div class="contact--field-webny-contact-mapdir">Map Directions:</div>
              </div>
              <div class="contact-mapdir-value">
                  <a target="_blank" href="https://google.com/maps?q=43+New+Scotland+Ave++Albany,+NY+12208">
                      33222 Washington Ave Ext North<br /> Albany, NY 12208
                  </a>
              </div>
          </div>
      </div>

    </div>
    </fieldset>







    <fieldset class="social-media-wrapper js-form-item form-item js-form-wrapper form-wrapper">
          <legend>
        <span class="fieldset-legend"></span>
      </legend>
      <div class="fieldset-wrapper">


                <div data-quickedit-field-id="node/19/field_webny_contact_facebook/en/webny_contact_for_news" class="quickedit-field"><a href="http://facebook.com" class="icon-facebook">Facebook</a></div>


                <div data-quickedit-field-id="node/19/field_webny_contact_twitter/en/webny_contact_for_news" class="quickedit-field"><a href="http://twitter.com" class="icon-twitter">Twitter</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_youtube/en/webny_contact_for_news" class="quickedit-field"><a href="http://youtube.com" class="icon-youtube">YouTube</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_instagram/en/webny_contact_for_news" class="quickedit-field"><a href="http://instagram.com" class="icon-instagram">Instagram</a></div>

                <div><a href="http://google.com" class="icon-google-plus">Google+</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_soundcloud/en/webny_contact_for_news" class="quickedit-field"><a href="http://google.com" class="icon-soundcloud">SoundCloud</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_snapchat/en/webny_contact_for_news" class="quickedit-field"><a href="http://google.com" class="icon-snapchat">Snapchat</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_vine_link/en/webny_contact_for_news" class="quickedit-field"><a href="http://vine.com" class="icon-vine">Vine</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_flickr_link/en/webny_contact_for_news" class="quickedit-field"><a href="http://flickr.com" class="icon-flickr">Flickr</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_rss_link/en/webny_contact_for_news" class="quickedit-field"><a href="http://google.com" class="icon-rss">RSS</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_pintrest/en/webny_contact_for_news" class="quickedit-field"><a href="http://google.com" class="icon-pinterest">Pinterest</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_tumblr_link/en/webny_contact_for_news" class="quickedit-field"><a href="http://google.com" class="icon-tumblr">Tumblr</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_linkedin/en/webny_contact_for_news" class="quickedit-field"><a href="http://google.com" class="icon-linkedin">LinkedIn</a></div>

                <div data-quickedit-field-id="node/19/field_webny_contact_vimeo_link/en/webny_contact_for_news" class="quickedit-field"><a href="http://google.com" class="icon-vimeo">Vimeo</a></div>

              </div>
    </fieldset>

    </div>
    </fieldset>
</div>