<div class="webny-generic-content-page webny-toc-page">

    <article role="article" class="contextual-region hero-layout">

        <div class="hero-header hero-has-image hero-generic">

            <div class="hero-inner hero-generic-inner hero-has-image-content">

                <h1>
                    <span data-quickedit-field-id="node/237/title/en/full">Generic Page Content</span>
                </h1>

                <div class="hero-generic-summary">

                    <div>Testing the hero description</div>

                </div>

                <div class="hero-generic-keywords">

                    <div>
                        <div><a href="" hreflang="en">Keyword</a></div>
                    </div>

                </div>

                <div class="hero-generic-transaction">
                    <div class="hero-generic-transaction-time">
                        Average time of transaction <span class="icon-outline_clock">15</span> minutes
                    </div>
                    <div class="hero-generic-transaction-button">

                        <div><a href="https://example.com">Example</a></div>

                    </div>
                </div>

            </div>
        </div>


        <div></div>
    </article>

    <div class="actions"></div>

    <div class="page-paragraphs generic-paragraphs with-nav-sidebar">
        <div class="page-paragraphs-in">
            <aside id="toc-sidebar">
                <header>Sections</header>
                <ul>
                    <li class="see-all"><a href="#" class="icon-all_steps"><span>See All</span></a></li>
                </ul>
                <span class="arrow"></span>
            </aside>
            <div class="article-content">
                <div class="toc-chapters">

                    <section rel="enabled" class="toc-para webny_wysiwyg_pgtype gp_enabled" >

                        <div class="wysiwyg--field-webny-wysiwyg-title">WYSIWYG #1</div>

                        <div class="wysiwyg--field-webny-wysiwyg-body"><p>WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 </p>

                            <p>WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 </p>

                            <p>WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 WYSIWYG #1 </p></div>

                        <div class="next-section">
                            <div class="next-section-links">
                                <p>Next Section</p>
                                <p class="icon-thin_down_arrow next-section-link">Continue</p>
                            </div>
                            <span class="next-section-title"></span>
                        </div>
                    </section>

                    <section rel="enabled" class="paragraph paragraph--type--webny-paragraph-contact paragraph--view-mode--generic toc-para webny-paragraph-contact gp_enabled">

                        <div data-quickedit-field-id="paragraph/33/field_webny_contact_pargrph_info/en/generic">

                            <article role="article" class="contextual-region node node--type-webny-contact node--view-mode-webny-contact-for-news">

                                <h2>
                                    Contact

                                    <span>NYS Agency</span>

                                </h2>
                                <div class="news-contact-area">
                                    <div>
                                    </div>

                                    <fieldset class="contact-info-wrapper">
                                        <div class="fieldset-wrapper">


                                            <div class="contact-col-2">
                                                <div class="contact-email">
                                                    <div class="icon-email">
                                                        <div class="contact--field-webny-contact-email">Contact us by email:</div>
                                                    </div>
                                                    <div class="contact-email-value">
                                                        <div><a href="mailto:agency@ny.gov">agency@ny.gov</div></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-col-1">
                                                <div class="contact-address">
                                                    <div class="icon-email">
                                                        <div class="contact--field-webny-contact-address">Contact us by mail:</div>
                                                    </div>
                                                    <div class="contact-address-value">
                                                        <div><p>Building XX<br />
                                                            W.A. Harriman Campus<br />
                                                            Albany, NY 12240</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="social-media-wrapper">
                                        <div class="fieldset-wrapper">

                                            <div><a href="https://www.facebook.com/agency" class="icon-facebook">Facebook</a></div>

                                            <div><a href="https://twitter.com/agency" class="icon-twitter">Twitter</a></div>

                                            <div><a href="https://www.youtube.com/user/agency" class="icon-youtube">YouTube</a></div>

                                            <div><a href="https://www.instagram.com/agency/" class="icon-instagram">Instagram</a></div>

                                            <div><a href="https://plus.google.com/+agency/posts" class="icon-google-plus">Google+</a></div>

                                            <div><a href="http://agency.tumblr.com/" class="icon-tumblr">Tumblr</a></div>

                                            <div><a href="https://www.linkedin.com/company/agency" class="icon-linkedin">LinkedIn</a></div>

                                        </div>
                                    </fieldset>


                                </div>

                                <div></div>
                            </article>

                        </div>

                        <div class="next-section">
                            <div class="next-section-links">
                                <p>Next Section</p>
                                <p class="icon-thin_down_arrow next-section-link">Continue</p>
                            </div>
                            <span class="next-section-title"></span>
                        </div>
                    </section>

                    <section rel="enabled" class="paragraph paragraph--type--webny-documents paragraph--view-mode--generic toc-para webny-documents gp_enabled">

                        <div>This Documents reference has this title</div>

                        <div>
                            <div>

                                <article role="article" class="contextual-region webny-document node--view-mode-attached-documents">

                                    <div class="webny-document node--view-mode-attached-documents attdoc-node">

                                        <ul class="doc-list">
                                            <li class="document-wrapper">

                                                <div class="doc-info">
                                                    <div class="fa-document">&nbsp;</div>
                                                    <h4 class="doc-title" >
                                                        <a href="/">

                                                            <span>Referenced Document</span>

                                                        </a>
                                                    </h4>
                                                    <span class="doc-language">

                                                        <div>한국어 번역</div>

                                                    </span>
                                                    <span class="doc-description">

                                                        <div"><p>Referenced Document</p></div>

                                                    </span>
                                                </div><!--end doc-info-->

                                                <div class="download">
                                                    <div class="fa-download">&nbsp;</div>
                                                    <a href="/">Download</a>
                                                </div>

                                            </li><!--end document-wrapper-->
                                        </ul>
                                        <div></div>
                                </article>

                            </div>
                            <div>

                    </section>

                </div>
            </div>
        </div>
    </div>


</div>