<div class="webny-global-footer">

    <div id="block-sitebranding">
        <div class="agency-name">
            <a href="/" title="Home" rel="home">Office of the Inspector General</a>
        </div>
    </div>
    <nav id="block-global-footer-menu" class="footer-menu footer-vertical">

        <ul class="global-footer-top-links">
            <li>
                <a href="/landing-page-title-homepage-ndd-627-test" data-drupal-link-system-path="node/26" class="is-active">Privacy Policy</a>
                <ul class="global-footer-inner-links">
                    <li>
                        <a href="/" data-drupal-link-system-path="<front>" class="is-active">Test 2</a>
                    </li>
                    <li>
                        <a href="/" data-drupal-link-system-path="<front>" class="is-active">Test</a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="http://ig.nysits.acsitefactory.com/page/accessibility">Accessibility</a>
            </li>
            <li>
                <a href="http://ig.nysits.acsitefactory.com/">Contact</a>
            </li>
            <li>
                <a href="http://ig.nysits.acsitefactory.com/node/721">Employment</a>
            </li>
            <li>
                <a href="http://ig.nysits.acsitefactory.com/node/701">FOIL</a>
            </li>
            <li>
                <a href="http://ig.nysits.acsitefactory.com/">Language Assistance</a>
            </li>
            <li>
                <a href="http://ig.nysits.acsitefactory.com/node/706">Notices</a>
            </li>
            <li>
                <a href="http://ig.nysits.acsitefactory.com/node/411">Outreach</a>
            </li>
            <li>
                <a href="http://ig.nysits.acsitefactory.com/">Resources</a>
            </li>
        </ul>



    </nav>

    <nav id="block-global-footer-social-menu" class="social-media">
        <h2>CONNECT WITH US</h2>
        <ul>
            <li><a class="imgico_blogger" href="https://google.com">BLOGGER</a></li>
            <li><a class="imgico_delicious" href="https://google.com">DELICIOUS</a></li>
            <li><a class="imgico_facebook" href="https://google.com">FACEBOOK</a></li>
            <li><a class="imgico_flickr" href="https://google.com">FLICKR</a></li>
            <li><a class="imgico_foursquare" href="https://google.com">FOURSQUARE</a></li>
            <li><a class="imgico_github" href="https://google.com">GITHUB</a></li>
            <li><a class="imgico_google-plus" href="https://google.com">GOOGLE-PLUS</a></li>
            <li><a class="imgico_instagram" href="https://google.com">INSTAGRAM</a></li>
            <li><a class="imgico_linkedin" href="https://google.com">LINKEDIN</a></li>
            <li><a class="imgico_mail" href="https://google.com">MAIL</a></li>
            <li><a class="imgico_pinterest" href="https://google.com">PINTEREST</a></li>
            <li><a class="imgico_reddit" href="https://google.com">REDDIT</a></li>
            <li><a class="imgico_share" href="https://google.com">SHARE</a></li>
            <li><a class="imgico_tumblr" href="https://google.com">TUMBLR</a></li>
            <li><a class="imgico_twitter" href="https://google.com">TWITTER</a></li>
            <li><a class="imgico_vimeo" href="https://google.com">VIMEO</a></li>
            <li><a class="imgico_yelp" href="https://google.com">YELP</a></li>
            <li><a class="imgico_youtube" href="https://google.com">YOUTUBE</a></li>
        </ul>
    </nav>

</div>