<header role="banner">
  <nav id="webny-global-header" class="webny-global-header horizontal unstacked" aria-label="primary-site">
    <div class="nav-toggle">
        <a href="#" role="button" id="webny-menu-control">Navigation menu</a>
    </div>
    <h1><a href="/">Web NY UAT <br>Environment</a></h1>

          <ul class="gnav-ul">
          <li class="gnav-mitems" aria-expanded="false">
    <a href="/" title="Landing Page" data-drupal-link-system-path="<front>" class="is-active">Home (Landing)</a>
                            <ul class="gnav-items-ul" aria-hidden="true">
          <li>
    <a href="/" data-drupal-link-system-path="<front>" class="is-active">Test 3</a>
          </li>
      <li>
    <a href="/" data-drupal-link-system-path="<front>" class="is-active">Test 4</a>
          </li>
    </ul>

          </li>
      <li class="gnav-mitems" aria-expanded="false">
    <a href="/services" data-drupal-link-system-path="node/156">Services (Landing)</a>
          </li>
      <li class="gnav-mitems" aria-expanded="false">
    <a href="/department-state" title="Example of an Inner Page" data-drupal-link-system-path="node/201">Inner Page</a>
                            <ul class="gnav-items-ul" aria-hidden="true">
          <li>
    <a href="/" data-drupal-link-system-path="<front>" class="is-active">Test 5</a>
          </li>
    </ul>

          </li>
      <li class="gnav-mitems" aria-expanded="false">
    <a href="/form/webny-contact-us" data-drupal-link-system-path="webform/webny_contact_us">Contact Form</a>
          </li>
      <li class="gnav-mitems" aria-expanded="false">
    <span data-drupal-link-system-path="<front>" class="is-active" tabindex="0">Pressroom</span>
                            <ul class="gnav-items-ul" aria-hidden="true">
          <li>
    <a href="/news_listing" data-drupal-link-system-path="news_listing">News Listing</a>
          </li>
      <li>
    <a href="/" data-drupal-link-system-path="<front>" class="is-active">Test 1</a>
          </li>
      <li>
    <a href="/" data-drupal-link-system-path="<front>" class="is-active">Test 2</a>
          </li>
    </ul>

          </li>
    </ul>

  </nav>

</header>