<h4>Landing hero with image</h4>
<article data-history-node-id="166" role="article" about="/pressroom" class="hero-layout">
    <div class="hero-header hero-has-image hero-landing">
        <div class="hero-image">
            <div>
                <article class="media media-image view-mode-hero-image-tall">
                    <div>
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/profiles/custom/webny/themes/custom/webny_theme/images/styleguide/wide-lead-tall.png 1x" media="all and (min-width: 769px)" type="image/png">
                            <source srcset="/profiles/custom/webny/themes/custom/webny_theme/images/styleguide/narrow-lead.png 1x" media="all and (min-width: 461px) and (max-width: 768px)" type="image/png">
                            <source srcset="/profiles/custom/webny/themes/custom/webny_theme/images/styleguide/mobile-lead.png 1x" type="image/png">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="/profiles/custom/webny/themes/custom/webny_theme/images/styleguide/mobile-lead.png" alt="hero image" title="hero image" typeof="foaf:Image">
                        </picture>
                    </div>
                </article>
            </div>
        </div>
        <!-- BACKGROUND GRAD -->
        <div class="hero-bkg"></div>
    </div>

    <div class="hero-inner hero-landing-inner hero-has-image-content">
        <!-- HEADLINE LABEL -->
        <h2>Landing Page Example: Division of Homeland Security</h2>

        <div class="hero-summary">
            <div class="webny-card-teaser">Grant Administration, Emergency Planning, Training (Professional, Emergency Management, Fire or Public) Disaster Recovery</div>
        </div>
        <!-- HERO BUTTONS -->
        <div class="hero-buttons">
            <div><a href="/node/11">LEARN MORE</a></div>
        </div>
    </div>
    <!-- VIDEO PLACEMENT -->
</article>


<h4>Landing hero without image</h4>
<article data-history-node-id="10" data-quickedit-entity-id="node/10" role="article" class="contextual-region hero-layout" about="/node/10" data-quickedit-entity-instance-id="0">
        <header class="hero-header hero-no-image hero-landing" style="">
            
        <!-- BACKGROUND GRAD -->
        <div class="hero-bkg"></div>
        <div class="hero-inner hero-landing-inner">
            <!-- HEADLINE LABEL -->
            <h2>Landing Page Hero: Governor Cuomo</h2>
            <div class="hero-summary">
                <div class="webny-card-teaser"><p>Andrew M. Cuomo, re-elected the 56th Governor of New York State on November 4, 2014, has a lifelong commitment to public service and the proven leadership skills to make government work for the people of the state.</p>
    </div>
                </div>
            <!-- KEYWORDS -->
            <div class="hero-keywords">
              <div data-quickedit-field-id="node/10/field_webny_global_keywords/en/full">
                      <div><a href="/taxonomy/term/8" hreflang="en">Demo Content</a></div>
              </div>
  
            </div>
        </div>    
    </header>
</article>