<h4>News hero with image</h4>
<article data-history-node-id="96" role="article" about="/news/governor-cuomo-announces-leading-womens-advocacy-groups-join-strong-families-strong-new-york" class="node webny-news node--view-mode-full hero-layout">
    <div class="hero-header hero-news hero-has-image">
        <div class="hero-image">
            <div class="webny-card-img">
                <article class="media media-image view-mode-hero-image">
                    <div>
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/profiles/custom/webny/themes/custom/webny_theme/images/styleguide/wide-lead-tall.png 1x" media="all and (min-width: 769px)" type="image/png">
                            <source srcset="/profiles/custom/webny/themes/custom/webny_theme/images/styleguide/narrow-lead.png 1x" media="all and (min-width: 461px) and (max-width: 768px)" type="image/png">
                            <source srcset="/profiles/custom/webny/themes/custom/webny_theme/images/styleguide/mobile-lead.png 1x" type="image/png">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="/profiles/custom/webny/themes/custom/webny_theme/images/styleguide/mobile-lead.png" alt="hero image" title="hero image" typeof="foaf:Image">
                        </picture>
                    </div>
                </article>
            </div>
        </div>
        <div class="hero-bkg"></div>
    </div>
    <div class="hero-image-wrap">
        <div class="hero-inner hero-news-inner hero-has-image-content">
            <div class="hero-published-date">
                <div class="webny-card-date">March 15, 2016</div>
                <div class="hero-location">
                    <div>Albany, NY</div>
                </div>
            </div>
            <h1>
                <span>Governor Cuomo Announces Leading Women's Advocacy Groups Join the 'Strong Families, Strong New York' Campaign and Endorse Proposal for 12 Weeks of Paid Family Leave</span>
            </h1>
            <div class="hero-keywords">
                <div>
                    <div><a href="/taxonomy/term/1" hreflang="en">Demo Content</a></div>
                    <div><a href="/taxonomy/term/91" hreflang="en">Health</a></div>
                </div>
            </div>
        </div>
    </div>
</article>

<h4>News hero without image</h4>
<article data-history-node-id="16" role="article" about="/news/governor-cuomo-launches-year-three-43north-5-million-startup-competition" class="node webny-news node--view-mode-full hero-layout">
    <div class="hero-header hero-news hero-no-image">
        <div class="hero-bkg"></div>
    </div>
    <div class="hero-no-image-wrap">
        <div class="hero-inner hero-news-inner">
            <div class="hero-published-date">
                <div class="webny-card-date">March 15, 2016</div>
                <div class="hero-location">
                    <div>Albany, NY</div>
                </div>
            </div>
            <h1>
                <span>Governor Cuomo Launches Year Three of 43North the $5 Million Startup Competition</span>
            </h1>
            <div class="hero-keywords">
                <div>
                    <div><a href="/taxonomy/term/1" hreflang="en">Demo Content</a></div>
                    <div><a href="/taxonomy/term/46" hreflang="en">Transportation</a></div>
                </div>
            </div>
        </div>
    </div>
</article>