<div class="quick-links-frame paragraph paragraph--type--webny-ql-pgtype paragraph--view-mode--default">
    <div class="qlframe-inner">
        <div class="ql--field-webny-ql-title">Quick Links Title</div>
        <div class="ql--field-webny-ql-headline">Quick Links Headline</div>
        <div  class="ql--group-1">
            <div class="ql--field-webny-ql-col-1-title">Quick Links Column Title</div>
            <div>
                <div>
                    <article role="article" class="contextual-region webny-quick-links">
                        <div>
                            <div class="webny-quick-links-image"><a href=""></a></div>
                            <div class="webny-quick-links-card-text">
                                <div class="webny-quick-links-title"><a href="">Quick Links Title</a></div>
                                <div class="webny-quick-links-description">
                                    <div class="webny-card-teaser"><p>Quick Links Description.</p></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div>
                    <article role="article" class="contextual-region webny-quick-links">
                        <div>
                            <div class="webny-quick-links-image"><a href=""></a></div>
                            <div class="webny-quick-links-card-text">
                                <div class="webny-quick-links-title"><a href="">Quick Links Title</a></div>
                                <div class="webny-quick-links-description">
                                    <div class="webny-card-teaser"><p>Quick Links Description.</p></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div>
                    <article role="article" class="contextual-region webny-quick-links">
                        <div>
                            <div class="webny-quick-links-image"><a href="">
                                <div>
                                    <article class="media media-image view-mode-thumbnail">
                                        <div>
                                            <img src="" typeof="foaf:Image" />
                                        </div>
                                    </article>
                                </div>
                            </a></div>
                            <div class="webny-quick-links-card-text">
                                <div class="webny-quick-links-title"><a href="">
                                    <div>Quick Links Title</div>
                                </a></div>
                                <div class="webny-quick-links-description">
                                    <div class="webny-card-teaser"><p>Quick Links Description.</p></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div>
                    <article role="article" class="contextual-region webny-quick-links">
                        <div>
                            <div class="webny-quick-links-image"><a href=""></a></div>
                            <div class="webny-quick-links-card-text">
                                <div class="webny-quick-links-title"><a href="">Quick Links Title</a></div>
                                <div class="webny-quick-links-description">
                                    <div class="webny-card-teaser"><p>Quick Links Description.</p></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="ql--field-webny-ql-col-1-button"><a href="">See All</a></div>
        </div>
        <div  class="ql--group-2">
            <div class="ql--field-webny-ql-col-2-title">Quick Links Column Title</div>
            <div>
                <div>
                    <article role="article" class="contextual-region webny-quick-links">
                        <div>
                            <div class="webny-quick-links-image"><a href=""></a></div>
                            <div class="webny-quick-links-card-text">
                                <div class="webny-quick-links-title"><a href="">Quick Links Title</a></div>
                                <div class="webny-quick-links-description">
                                    <div class="webny-card-teaser"><p>Quick Links Description.</p></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div>
                    <article role="article" class="contextual-region webny-quick-links">
                        <div>
                            <div class="webny-quick-links-image"><a href=""></a></div>
                            <div class="webny-quick-links-card-text">
                                <div class="webny-quick-links-title"><a href="">Quick Links Title</a></div>
                                <div class="webny-quick-links-description">
                                    <div class="webny-card-teaser"><p>Quick Links Description.</p></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div>
                    <article role="article" class="contextual-region webny-quick-links">
                        <div>
                            <div class="webny-quick-links-image"><a href="">
                                <div>
                                    <article class="media media-image view-mode-thumbnail">
                                        <div>
                                            <img src="" typeof="foaf:Image" />
                                        </div>
                                    </article>
                                </div>
                            </a></div>
                            <div class="webny-quick-links-card-text">
                                <div class="webny-quick-links-title"><a href="">
                                    <div>Quick Links Title</div>
                                </a></div>
                                <div class="webny-quick-links-description">
                                    <div class="webny-card-teaser"><p>Quick Links Description.</p></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div>
                    <article role="article" class="contextual-region webny-quick-links">
                        <div>
                            <div class="webny-quick-links-image"><a href=""></a></div>
                            <div class="webny-quick-links-card-text">
                                <div class="webny-quick-links-title"><a href="">Quick Links Title</a></div>
                                <div class="webny-quick-links-description">
                                    <div class="webny-card-teaser"><p>Quick Links Description.</p></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="ql--field-webny-ql-col-2-button"><a href="">See All</a></div>
        </div>
    </div>
</div>
