<div class="sitemap">

            <div class="sitemap-box-menu sitemap-box-menu-global-navigation sitemap-box">
                  <h2>Global Navigation</h2>
                <div class="content">
          <ul class="sitemap-menu"><li class="first expanded"><a href="/" title="Landing Page" data-drupal-link-system-path="<front>">Home (Landing)</a><ul class="sitemap-menu"><li class="first leaf"><a href="/" data-drupal-link-system-path="<front>">Test Link 1</a></li>
<li class="last leaf"><a href="/" data-drupal-link-system-path="<front>">Test Link 2</a></li>
</ul></li>
<li class="expanded"><a href="/node/156" data-drupal-link-system-path="node/156">Services (Landing)</a><ul class="sitemap-menu"><li class="first last leaf"><a href="/node/156" data-drupal-link-system-path="node/156">services 2</a></li>
</ul></li>
<li class="leaf"><a href="/node/201" title="Example of an Inner Page" data-drupal-link-system-path="node/201">Inner Page</a></li>
<li class="leaf"><a href="/news_listing" data-drupal-link-system-path="news_listing">News Listing</a></li>
<li class="last leaf"><a href="/contact/contact_form" data-drupal-link-system-path="contact/contact_form">Contact Form</a></li>
</ul>
        </div>
      </div>

  </div>