
<div class="social-media-frame">
  <div class="smframe-inner">
    <h3>
      <span class="frame-title">
        Social Media Title
      </span>
      <span class="frame-headline">
        Social Media Headline
      </span>
    </h3>
    <div class="sm-frame-links">
      <div class="smframe-link smframe--field-webny-smframe-fb-link">
          <a href="http://facebook.com">Facebook</a>
      </div>
      <div class="smframe-link smframe--field-webny-smframe-twitter-link">
        <a href="http://twitter.com">Twitter Link</a>
      </div>
    </div>
              
  </div>
</div>