<div class="paragraph paragraph--type--webny-tbd-pgtype paragraph--view-mode--default">
  <div class="descriptor--field-webny-tbd-title">Two Button Descriptor</div>
  <div class="descriptor--field-webny-tbd-headline">Optional Headline Text</div>
  <div class="descriptors">
    <div class="descriptor">
      <div class="descriptor--field-webny-tbd-descriptortitle1">Title 1</div>
      <div class="descriptor--field-webny-tbd-descriptor1"><p>Descriptor 1 text in here. Descriptor 1 text in here. Descriptor 1 text in here. Descriptor 1 text in here. Descriptor 1 text in here.</p></div>
      <div class="descriptor--field-webny-tbd-cta1"><a href="https://google.com">Google</a></div>
    </div>
    <div class="descriptor">
      <div class="descriptor--field-webny-tbd-descriptortitle2">Title 2</div>
      <div class="descriptor--field-webny-tbd-descriptor2"><p>Descriptor 2 text in here. Descriptor 2 text in here. Descriptor 2 text in here. Descriptor 2 text in here. Descriptor 2 text in here.</p></div>
      <div class="descriptor--field-webny-tbd-cta2"><a href="https://bing.com">Bing</a></div>
    </div>
  </div>
</div>