<div class="page-paragraphs landing-paragraphs">
  <div class="page-paragraphs-in">
    <div>
      <div>
        <div class="paragraph paragraph--type--webny-wysiwyg-pgtype paragraph--view-mode--default">
          <div class="wysiwyg--field-webny-wysiwyg-title">Wysiwyg title
          </div>
          <div class="wysiwyg--field-webny-wysiwyg-headline">wysiwyg headline
          </div>
          <div class="wysiwyg--field-webny-wysiwyg-body">
            <p>flkj alkj df;lkajdsf sadlkj asdkljf;lskd ;lzksdfsdf</p>
            <p class="button"> Learn More </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="front">
<div class="page-paragraphs landing-paragraphs">
  <div class="page-paragraphs-in">
    <div>
      <div>
        <div class="paragraph paragraph--type--webny-wysiwyg-pgtype paragraph--view-mode--default">
          <div class="wysiwyg--field-webny-wysiwyg-title">Wysiwyg title home page
          </div>
          <div class="wysiwyg--field-webny-wysiwyg-headline">wysiwyg headline home page
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>