@font-face {
	font-family: 'icomoon';
	src:url('../icomoon.eot?k8vrha');
	src:url('../icomoon.eot?#iefixk8vrha') format('embedded-opentype'),
		url('../icomoon.woff?k8vrha') format('woff'),
		url('../icomoon.ttf?k8vrha') format('truetype'),
		url('../icomoon.svg?k8vrha#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-soundcloud:before {
	content: "\e63d";
}

.icon-up_bracket:before {
	content: "\e639";
}
.icon-circle:before {
	content: "\e638";
}
.icon-square:before {
	content: "\e63b";
}
.icon-triangle:before {
	content: "\e63a";
}
.icon-all_steps:before {
	content: "\e601";
}
.icon-alert:before {
	content: "\e605";
}
.icon-bracket_left:before {
	content: "\e60d";
}
.icon-checkmark:before {
	content: "\e60e";
}
.icon-close_circle_fill:before {
	content: "\e610";
}
.icon-close_circle_stroke:before {
	content: "\e611";
}
.icon-close_thick:before {
	content: "\e614";
}
.icon-document:before {
	content: "\e615";
}
.icon-down_bracket:before {
	content: "\e616";
}
.icon-email:before {
	content: "\e617";
}
.icon-filter_add:before {
	content: "\e618";
}
.icon-filter_selected:before {
	content: "\e61f";
}
.icon-filter_subtract:before {
	content: "\e623";
}
.icon-globe:before {
	content: "\e626";
}
.icon-google_plus:before {
	content: "\e627";
}
.icon-info:before {
	content: "\e628";
}
.icon-left_quote:before {
	content: "\e629";
}
.icon-linkedin:before {
	content: "\e62a";
}
.icon-menu:before {
	content: "\e62b";
}
.icon-outline_clock:before {
	content: "\e62c";
}
.icon-phone:before {
	content: "\e62d";
}
.icon-play_solid:before {
	content: "\e62e";
}
.icon-read_quote:before {
	content: "\e62f";
}
.icon-right_quote:before {
	content: "\e630";
}
.icon-right_triangle:before {
	content: "\e631";
}
.icon-thin_down_arrow:before {
	content: "\e632";
}
.icon-three_dots:before {
	content: "\e633";
}
.icon-tumblr:before {
	content: "\e634";
}
.icon-video:before {
	content: "\e635";
}
.icon-vimeo:before {
	content: "\e636";
}
.icon-youtube:before {
	content: "\e637";
}
.icon-vine:before {
	content: "\e602";
}
.icon-thin_right_arrow:before {
	content: "\e600";
}
.icon-share:before {
	content: "\e619";
}
.icon-rss:before {
	content: "\e61a";
}
.icon-right_carat:before {
	content: "\e61b";
}
.icon-right_arrow:before {
	content: "\e61c";
}
.icon-pencil:before {
	content: "\e61d";
}
.icon-livestream:before {
	content: "\e61e";
}
.icon-flickr:before {
	content: "\e620";
}
.icon-facebook:before {
	content: "\e621";
}
.icon-download:before {
	content: "\e622";
}
.icon-bracket_right:before {
	content: "\e624";
}
.icon-binoculars:before {
	content: "\e625";
}
.icon-video2:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-star_filled:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e607";
}
.icon-right_arrow2:before {
	content: "\e608";
}
.icon-play:before {
	content: "\e609";
}
.icon-pinterest:before {
	content: "\e60a";
}
.icon-pin:before {
	content: "\e60b";
}
.icon-linkout_arrow:before {
	content: "\e60c";
}
.icon-instagram:before {
	content: "\e60f";
}
.icon-facebook2:before {
	content: "\e612";
}
.icon-clock:before {
	content: "\e613";
}
