/* SECONDARY NAVIGATION CSS */

/* DISPLAY HIDDEN BY DEFAULT */
.secnav-linkarea-hide,
.secnav-hider{
    display: none;
}

.secnav-linkarea-show {
    display: block;
}

#secnav-button-area > fieldset:not(.fieldgroup){
    border: 0;
    margin: 0;
    padding: 0;
}

#secnav-button-area > fieldset #secnav-addlinkarea input {
    color: #fff;
    background-color: #060;
}

#secnav-button-area > fieldset #secnav-removelinkarea input {
    color: #fff;
    background-color: #900;
}

#secnav-linkarea-wrap > fieldset{
    border: 0;
    padding: 0;
}

#secnav-linkarea-wrap fieldset:not(.fieldgroup){
    background-color: #fff;
}

#secnav-linkarea-wrap .secnav-area fieldset{
    background-color: #f9f9f9;
}
