$body-margin-min: 30px 40px 0px 50px;
$body-margin-max: 30px 0px 0px 0px;
/****  mixin  ****/

@mixin portal-login($minWidth, $width) {
  min-width: $minWidth;
  width: $width;
  height: 38px;
  border-radius: 60px; // text-align: right;
  margin: 16px 12px;
  background: $color-accent-primary url('../icons/dfs/portal.svg') bottom left no-repeat;
  background-size: 26px 28px;
  background-position: 36px 11px;
  font-weight: bold;
  color: #000000;
  padding-left: 70px;
  &:hover {
    // background-color: $color-primary;
    background-color: inherit;
  } // }
}

a.login-button,
.login-button {
  display: inline-block;
  border: none;
  padding-top: 13px;
  @include portal-login(150px,
  150px);
  &:hover {
    display: inline-block;
    font-weight: bold;
    background: #e5eeee url(../icons/dfs/portal.svg) bottom left no-repeat;
    background-size: 26px 28px;
    background-position: 36px 11px;
  }
  @media (max-width: 480px) {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .body-area .body-area-in .page-body>div,
  .views-element-container>div {
    margin: $body-margin-min;
  }
}

@media only screen and (max-width: 767px) {
  .body-area .body-area-in .page-body>div,
  .views-element-container>div {
    margin: $body-margin-max;
  }
} // Main Page Break
.break {
  width: 100%;
  border-bottom: solid 1px #09464c;
  margin: 40px 0;
} // In page dropdown Break
.dropdown-break {
  width: 100%;
  height: 0px;
  border-bottom: solid 1px #09464c;
  margin-top: 0;
  margin-bottom: 0;
  clear: both;
} // Main content formatting.
.how-to-file {
  margin-top: 60px;
}

.page-title {
  color: #09464c;
  font-size: 40px;
}

.body-text {
  font-size: 16px;
  line-height: 1.38;
  strong {
    font-weight: bolder;
  }
  a {
    font-weight: bold;
    color: #09464c;
    text-decoration: underline;
  }
}

.login-button-icon {
  margin-top: 8px;
  width: 20px;
  margin: 0 10px 8px 30px;
} // The buttons for the PDF and other documents
.content-forms {
  width: 285px;
  height: 99px;
  border: solid 1px #e5eeee;
  display: inline-flex;
  margin: 10px;
  @media (max-width: 480px) {
    width: 95%;
  }
  .content-form-pdf-box {
    float: left;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    border-right: solid 1px #e5eeee;
    background-image: url('/profiles/custom/webny/themes/custom/dfs_ny/icons/dfs/pdf-teal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 60px; // img{
    //   padding-left: 22px;
    //   height: 39px;
    // }
  }
  .content-form-document-box {
    float: left;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    border-right: solid 1px #e5eeee;
    background-image: url('/profiles/custom/webny/themes/custom/dfs_ny/icons/dfs/doc-teal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 60px;
  }
  .content-form-text-box {
    float: right;
    width: 185px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    p {
      width: 185px;
      font-size: 20px;
      line-height: 1.2em;
      font-weight: bold;
      color: #09464c;
    }
  }
  &:hover {
    .content-form-pdf-box {
      background-color: #09464c;
      background-image: url('/profiles/custom/webny/themes/custom/dfs_ny/icons/dfs/pdf-white.svg');
    }
    .content-form-document-box {
      background-color: #09464c;
      background-image: url('/profiles/custom/webny/themes/custom/dfs_ny/icons/dfs/doc-white.svg');
    }
  }
} // Custom LI bullets for the content sections.
li.body-bullet {
  font-family: Arial;
  font-size: 16px;
  list-style-type: none;
}

li.body-bullet:before {
  background-color: #09464c;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 2px;
  height: 10px;
  width: 10px;
} // The drop down menus in the content section.
.in-div-drop-box {
  width: 100%;
  border-left-width: 15px;
  border-left-color: #09464c;
  border-left-style: none;
  clear: both;
}

.in-div-drop-title {
  font-weight: bolder;
  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 16px;
  }
  color: #09464c;
  margin: 25px;
  float: left;
  max-width: calc(100% - 160px);
}

.in-div-drop-text {
  color: black;
  font-size: 16px;
  margin: 10px 25px 10px 25px;
  width: calc(80% - 15px);
  padding-right: 20px;
  display: none;
  float: left;
  li {
    list-style-type: circle;
  }
}

.in-div-drop-button {
  width: 40px;
  background-color: #09464c;
  padding-top: 5px;
  color: white;
  text-align: center;
  align-items: center;
  height: 30px;
  margin: 25px 25px 25px 25px;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer; // &:hover {
  //   background-color: $color-tertiary;
  //   color: black;
  // }
  &:focus {
    outline: 0;
  }
}

.in-view-drop-button {
  width: 40px;
  background-color: #09464c;
  padding-top: 5px;
  color: white;
  text-align: center;
  align-items: center;
  height: 30px;
  margin: 25px 25px 25px 25px;
  float: right;
}

select {
  width: 20%;
  font-weight: bold;
  font-size: 10px;
  color: #09464c;
  padding: 0 0 0 1em;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-color: #09464c;
}

option {
  font-weight: bold;
  display: block;
  white-space: normal;
  min-height: 1em;
  font-size: 12px;
  padding: 0px 1px 1px;
}

.page-paragraphs-in>div>div:nth-of-type(1) {
  padding: 20px 0 0 0;
}

#block-views-block-apps-and-licensing-view-block-1 {
  label {
    margin-top: 4px;
    width: 100px;
    float: left;
    font-size: 16px;
    display: block;
    padding-top: 10px;
  }
  select {
    font-size: 16px;
    option {
      font-size: 16px;
    }
  }
}

// Le's changes.
#block-ourdepartment,
#block-languageassistance,
#block-ourassociates,
#block-quicklinks,
#block-website {
  margin-bottom: 1.5rem;
}

.supervise-div {
  padding: 25px;
}

#block-views-block-regulated-institutions-block-1 {
  padding: 30px 10px;
}

.press-release-body {
  font-size: 16px;
}

.statewide-rows.views-row .views-field.views-field-field-statewide-link {
  margin-top: -0.5rem;
}

.views-element-container .contextual-region {
  display: flex;
  flex-wrap: wrap;
}

// .contextual-region>footer {
//   margin: auto;
// }
.learn-more-link a {
  font-weight: bold;
  display: inline-block;
}

.learn-more-link:hover a {
  color: black;
  text-decoration: none;
}

.learn-more-link:hover {
  background-color: white;
}

#block-views-block-front-page-press-releases-block-1 h2 {
  padding-top: 30px;
}

#webny-global-header ul li:first-child a:hover {
  font-weight: 600;
  letter-spacing: 0.66px;
}

@media screen and (max-width: 1600px) and (min-width: 1024px) {
  .webny-global-header ul.gnav-ul li.gnav-topli:nth-child(8) {
    width: 17%;
  }
}

@media screen and (min-width:1024px) {
  .webny-global-header ul.gnav-ul li.gnav-topli:nth-child(8) {
    width: 17%;
  }
}

.faq-card-link p {
  letter-spacing: .5px;
}

.page-body .pub {
  #quarter {
    width: 26%;
    float: left;
    ul li a {
      font-weight: bold;
    }
  }
  #threeqtr {
    widtH: 72%;
    float: left;
    h2,
    h3 {
      text-align: center;
    }
  }
}

// Chris 2.6.8
@media only screen and (min-width: 1281px) {
  #block-views-block-icon-link-view-block-1 {
   padding-top: 36px;
 }

}

@media only screen and (max-width: 1280px) and (min-width: 641px) {
  #block-views-block-press-releases-page-block-1 {
    padding-left: 45px;
  }
}

@media only screen and (max-width: 640px) {
  #block-views-block-press-releases-page-block-1 {
    margin-top: 50px;
    padding-left: 5px;
    width: 98%;
  }
}