.pager__items{
  display: inline-flex;
}

.pager__item{
  height: 30px;
  width: 40px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  font-size: 14px;
  background-color: #e5eeee;
  text-align: center;
  align-items: center;
  a{
    color: #09464c;
  }

  .is-active{
    background-color: #09464c;
    a{
      color: white;
    }
  }
}

// .pager__item .is-active{
//   background-color: #09464c;
//   a{
//     color: white;
//   }
//
// }

.pager{
  text-align: center;
}

.pager__item--last{
  display: none;
}

.pager__item--first{
  display: none;
}

.pager__item--next{
  margin-left: 10px !important;
  margin-right: 10px !important;
  background-color: white;
}

.pager__item--previous{
  margin-left: 10px !important;
  margin-right: 10px !important;
  background-color: white;
}
