// Container is the segment for the footer, taking it to the right.
// Inner container makes sure it lines up with the main content.
#block-footercomplaint,
.dfs-footer-container {
  // @include span(10 of 12);
}

#block-footercomplaint,
.dfs-footer-inner-container {
  margin: 30px 80px 60px 80px;
  padding: 25px;
  background-color: #e5eeee;
}

#block-footercomplaint h2,
.dfs-footer-title {
  color: #09464c;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

// Creates the green buttons out of links in the footer, also used in certain pages.
#dfs-footer-link {
  text-align: center;
  align-items: center;
  width: 200px;
  height: 45px;
  margin-right: 30px;
  background-color: #09464c;
  color: white;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 12px;
  font-weight: normal !important;
  a {
    // width: 200px;
    // height: 40px;
    // padding: 40px 60px 40px 60px;
    max-width: 200px;
    max-height: 40px;
    color: white;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 12px;
    &:hover {
      background-color: #09464c;
      color: white;
      font-weight: normal;
      text-decoration: none;
    }
  }
}