#block-ourdepartment-menu,
#block-languageassistance-menu,
#block-ourassociates-menu,
#block-quicklinks-menu,
#block-website-menu{
  font-size: 12px;
  color: white;
  border-bottom: 1px solid white;
  // width: 18%;
}

#block-connectwithus{
  margin-top: 25px;
  h2 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    color: white;
  }
  h2:before {
      position: absolute;
      top: 35%;
      overflow: hidden;
      width: 50%;
      height: 1px;
      content: '\a0';
      background-color: white;
  }

  h2:after {
      position: absolute;
      top: 35%;
      overflow: hidden;
      width: 50%;
      margin-left: 1%;
      height: 1px;
      content: '\a0';
      background-color: white;
  }
  h2:before {
      margin-left: -51%;
      text-align: right;
  }
}

#block-ourdepartment,
#block-languageassistance,
#block-ourassociates,
#block-quicklinks,
#block-website,{
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 10px;
  vertical-align: top;
  display: inline-block;
}

#block-connectwithus{
  width: 100%;
}


.footer-menu{
  ul{
    padding: 0;
    list-style: none;
  }
}

.footer-connect-menu{
  text-align: center;
  margin-top: 10px;
  ul{
    padding: 0;
  }

}

.footer-leaf{
  font-size: 12px;
  font-weight: lighter;
  a{
    color: white;
  }
}

.footer-connect-leaf{
  display: inline;
  font-size: 12px;
  margin: 0 10px !important;
  a{
    color: white;
  }
}

#block-whowesupervise{
  h2{
    width: 225px;
    float: left;
    margin-left: 10%;
    margin-right: 0;
    font-size: 24px;
    color: white;
    display: inline-block;
  }
}

.supervise-title{
  width: 15%;
  float: left;
  margin-left: 8%;
  margin-right: 0;
  font-size: 32px;
  color: white;
  padding-top: 15px;
  display: inline-block;
  @media (max-width: 480px) {
    padding-bottom: 15px;
  }
}

#quickedit-field{
  display: block;
  width: 450px;
}

.supervise-div{
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow-y: auto;
  background-color: #042326;
}

.dfs-div{
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: 2em;
  padding-left: calc(25px + 2%);
  overflow-y: auto;
  background-color: #09464c;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.footer-title{
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding:0;
  width:45%;
  float: left;
}

.footer-text{
  color: white;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  float: left;
  padding:0;
  width:45%;
}

.learn-more-link{
  border: solid white 1px;
  margin-top: -1em;
  margin-left: 1em;
  width: 15%;
  float: left;
  height: 2em;
  font-size: 12px;
  padding: .5em;
  text-align: center;
  a{
    color: white;
  }
  @media (max-width: 480px) {
    margin-bottom: 1em;
  }
}

.footer-icon{
  width: 1.6em;
  svg{
    color: white;
  }
}
