.icon-link{
  width: 180px;
  height: 30px;
  text-align: center;
  background-color: #09464c;
  padding-top: 9px;
  display: inline-block;
  a{
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
}

.reg-institution-link{
  width: 210px;
  height: 40px;
  text-align: center;
  background-color: #09464c;
  display: inline-block;
  padding-top: 18px;
  a{
    color: white;
    font-size: 14px;
    // padding-top: 17px;
    font-weight: 500;
  }
}

.views-field-field-reg-instituion-link{
  display: inline-block;
}

.reg-institution-row{
  width: 24%;
  text-align: center;
  display: inline-block;
}

.icons-rows{
  width: 24%;
  text-align: center;
  display: inline-block;
}

.views-field-field-icon{
  width: 180px;
  height: 125px;
  display: inline-block;
}

.icon-image{
  text-align: center;
  img{
    height: 100px !important;
  }
}

.views-element-container {
    margin-left: 0% !important;
}

.press-release-date{
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.press-release-title{
  font-size: 14px;
  color: #09464c;
  font-weight: bold;
  line-height: 1.5;
}

.press-release-body{
  margin-top: 15px;
  font-size: 12px;
  color: black;
  line-height: 1.5;
}

.press-release-link{
  background-image: url('../icons/dfs/arrow-teal.svg');
  background-size: 12px 12px;
  background-position: 75px 50%;
  background-repeat: no-repeat;
  padding-top: 3px;
  a{
    font-size: 12px;
    color: #09464c;
    font-weight: bold;
    &:hover{
      text-decoration: none;
    }
  }
}

.front-page-press-centering-div{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

#block-views-block-front-page-press-releases-block-1{
  h2{
    font-size: 28px;
    margin-top: 60px;
    color: #09464c;
    text-align: center;
  }
}

#block-views-block-regulated-institutions-block-1{
 background-color: #e5eeee;
 padding: 30px 40px;
 margin: 45px 35px !important;
 h2{
   font-size: 28px;
   // margin-top: 60px;
   color: #09464c;
   text-align: center;
 }
}

#block-views-block-statewide-initiative-block-1{
  h2{
    font-size: 28px;
    // margin-top: 60px;
    color: #09464c;
    text-align: center;
  }
}

.statewide-link{
  width: 250px;
  height: 30px;
  text-align: left;
  background-color: #e5eeee;
  padding-top: 7px;
  display: inline-block;
  background-image: url('../icons/dfs/arrow-teal.svg');
  background-size: 12px 12px;
  background-position:95% 50%;
  background-repeat: no-repeat;
  &:hover{
    background-image: url('../icons/dfs/arrow-white.svg');
    background-color: #09464c;
    a{
      color: white;
    }
  }
  a{
    margin-left: 10px;
    color: #09464c;
    font-size: 10px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}

.statewide-rows{
  width: 24%;
  text-align: center;
  display: inline-block;
}

.views-field-field-statewide-image{
  width:250px;
  height: 170px;
  display: inline-block;
}

.statewide-image{
  text-align: center;
  img{
    height: 100% !important;
  }
}
