// Layout
//
// Sidebars Region Styling
//
// Markup: sidebars.hbs
//
// Style guide: layout.sidebars
//
ul {
  list-style-type: none !important;
}

//////////////////////////////////
// Sidebar First /////////////////
//////////////////////////////////
.body-sidebars-first {
  @include breakpoint($min-tablet) {
    aside.layout-sidebar-first {
      @include span(3 of 12);
      >* {
        // padding-left: 15px;
      }
    }
    main .layout-content {
      @include span(9 of 12 last);
      >* {
        padding-right: 25px;
      }
    }
  }
}

//////////////////////////////////
// Sidebar Second ////////////////
//////////////////////////////////
.body-sidebars-second {
  @include breakpoint($min-tablet) {
    aside.layout-sidebar-second {
      @include span(3 of 12 last);
      >* {
        padding-right: 15px;
      }
    }
    main .layout-content {
      @include span(9 of 12);
      >* {
        padding-left: 25px;
      }
    }
  }
}

//////////////////////////////////
// Sidebar Both //////////////////
//////////////////////////////////
.body-sidebars-both {
  @include breakpoint($min-tablet) {
    aside.layout-sidebar-first {
      @include span(2 of 12);
      >* {
        padding-left: 15px;
      }
    }
    main .layout-content {
      @include span(8 of 12);
      >* {
        padding-right: 25px;
      }
    }
    aside.layout-sidebar-second {
      @include span(2 of 12 last);
      >* {
        padding-right: 15px;
      }
    }
  }
}

//////////////////////////////////
// Sidebar None //////////////////
//////////////////////////////////
.body-sidebars-none {
  // No sidebars rules.
}

//////////////////////////////////
// General Sidebar Rules /////////
//////////////////////////////////
aside.sidebar {
  overflow: hidden;
}

//////////////////////////////////
// Complaint Sidebar Rules ///////
//////////////////////////////////
.complaint-sidebar {
  margin-top: 60px !important;
  padding-left: 0px !important;
  display: block;

  .ul-complaint-sidebar {
    padding:0;

    li:nth-child(1) a {
      font-size: 20px;
    }
  }
  
  ul ul {
    display: none;
    width: 200px;
    background: #FFF;
    list-style-type: none;
    li {
      display: block;
      float: none;
    }
  }
  a {
    display: block;
    background-color: #fff;
    text-decoration: none;
    height: 36px;
    padding-top: 20px;
    // font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    border-bottom: solid 1px #09464c;
    line-height: 0.94;
    letter-spacing: 0.5px;
    text-align: center;
    color: #09464c;
    &:hover {
      background-color: #e5eeee;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.first-complaints {
  a {
    background-color: #09464c;
    color: white;
    &:hover {
      background-color: #09464c;
      color: white;
      font-weight: normal;
      text-decoration: none;
    }
  }
}

.leaf {
  // margin: 0 !important;
}