//styles for JCOPE

//overwrite stuff

$color-primary: #031D3D; // dark navy
$color-secondary: #637892; // bluish gray
$color-tertiary: #ADB8C5; // lt bluish gray
$color-accent-primary: #E07604; // orange
$color-accent-secondary: #F3BA7C; // lt orange
$color-icon-primary: $color-primary; // dark navy
// config.scss had global monochrome and link color variables


// GLOBAL FOOTER
$nav-background-color:                  $color-tertiary;
$global-footer-top-text-decoration:     none;
$global-footer-top-text-transform:      none;

// **
//no overrides for view_results.scss currently

//import base style
@import "../../styles";