//styles for the statewide elected officials grouping

//overwrite stuff

$color-primary: #0e5e9e;
$color-secondary: #d6e5eb;
$color-hover-nav: mix( $color-primary, #000, 50% );

//import base style
@import "../../styles";