/**
 * @webny_unav webny_unav.css
 */

.alternative-universal-container {
    height: 84px;
    background: #FFF;
}

.alternative-unav-header {
    padding: 0;
}

.alternative-unav-image {
    float: left;
    padding: 6px 10px;
}

#google_translate_element {
    display: none;
}

.alternative-unav-gsa input[type="text"] {
    float: right;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    width: 105px;
    height: 36px;
    color: #000;
    border-radius: 30px;
    border: solid thin rgb(217, 226, 226);
    padding: 7px 20px 7px 30px;
}

.alternative-unav-gsa input[type="submit"] {
    display: none;
}

.header {
    font-family: "ProximaNovaSemibold";
    position: relative;
    z-index: 10;
    background: #fff;
    border: none;
}

.header .pane-alt-unav-global-menu {
    float: right;
    overflow: visible;
    width: 82%
}

.header .pane-page-logo {
    padding: 10px 0;
    border: none;
    margin: 0;
    width: 18%;
    text-align: center;
    position: relative;
    background: #fff;
    z-index: 6;
    border-right: solid 1px #d9e2e2;
}

.header .pane-page-logo:before {
    display: none;
}

.header .pane-page-logo .pane-content {
    padding: 0 10px;
}

.header .pane-page-logo .pane-content a {
    display: block;
    padding-bottom: 4px;
    height: 70px;
}

.header .pane-page-logo .pane-content img {
    max-width: 100%;
    margin: 0 auto;
}

.alternative-unav-header #expand-menu-mobile {
    font-size: 1.125em;
    right: 0;
    bottom: 12px;
    position: absolute;
    width: 65px;
    height: 55px;
    border-left: solid 1px #d9e2e2;
    cursor: pointer;
}
.alternative-unav-header #expand-menu-mobile:before {
    position: absolute;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    color: #d5820d;
    content: "\e616";
    text-align: center;
    height: 55px;
    line-height: 55px;
    left: 50%;
    margin-left: -9px;
}