//styles for the education grouping

//overwrite stuff

$color-primary: #9d8e1d;
$color-secondary: #e9e6d4;
$color-hover-nav: mix( $color-primary, #000, 50% );

// =====================================================================
// FRAME BUTTONS -- DYNAMIC VARS

// ANNOUNCEMENT OVERRIDES
$announcement-button-border-color:      #000;
$announcement-button-text-color:        #000;
$announcement-button-hover-back-color:  rgba(0,0,0,0.2);

// BIOFRAME OVERRIDES
$bio-button-border-color:               #000;
$bio-button-text-color:                 #000;
$bio-button-hover-back-color:           rgba(255,255,255,0.2);

// GET INVOLVED OVERRIDES
$getinv-button-border-color:            #000;
$getinv-button-text-color:              #000;
$getinv-button-hover-back-color:        rgba(255,255,255,0.2);

// PLAN SUMMARY OVERRIDES
$summary-button-border-color:           #000;
$summary-button-text-color:             #000;
$summary-button-hover-back-color:       rgba(255,255,255,0.2);

// **

//import base style
@import "../../styles";
