//styles for the education grouping

//overwrite stuff

$color-primary: #9d8e1d;
$color-secondary: #e9e6d4;
$color-hover-nav: mix( $color-primary, #000, 50% );

//import base style
@import "../../styles";